//Helpers classes

//Removes bottom margin/padding from last element in wrapper
.nmp-last-el {
    h1,h2,h3,h4,h5,h6,ul,ol,p {
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }    
}

.sec-margin {
    margin-bottom: 40px;
}