html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: 'NeuzeitSLTStd-Book', sans-serif;
}

body,
html {
  height: 100%;
  font-family: 'NeuzeitSLTStd-Book', sans-serif;
}

/*HEADER*/

.main-headline{
  background-color: #b69386;
  p{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'NeuzeitSLTStd-Book',sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 12px 0;
    line-height: 1;
    a{
      color: #ffffff;
      @include transition(color .4s ease);
      &:hover{
        text-decoration: none;
        color: #000;
      }
    }
  }
}
.head-nav{
  margin: 10px 0;
  padding: 0;
  li{
    display: inline-block;
    list-style: none;
    padding: 5px 16px;
    a{
      font-family: 'SangBleuSans', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
      text-transform: uppercase;
      border-bottom: 2px transparent solid;
      @include transition(border-color .4s ease);
      &:hover{
        text-decoration: none;
        border-bottom: 2px #b7986b solid;
      }
    }
  }
}

#Search-header{
  background: none;
  border: none;
  width: 190px;
  font-family: 'NeuzeitSLTStd-Book',sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  &:focus{
    outline: none;
  }
}
.header-search{
  button{
    background: none;
    svg{
      path{
        fill: #ffffff;
      }
    }
  }
}

@include placeholder{
  font-family: 'NeuzeitSLTStd-Book',sans-serif;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main{
  .main-title{
    font-family: 'SangBleuSans', sans-serif;
    font-style: italic;
    font-weight: 500;
  }
  .sub-title{
    font-family: 'SangBleuSans', sans-serif;
    font-style: normal;
    font-weight: 500;
  }
}

header{
  padding: 15px 0;
  background-color: #ffffff;
  svg path{
    fill: #000;
  }
  ul.account-header{
    margin: 0;
    li{
      padding: 0 15px;
      a{
        font-size: 12px;
        letter-spacing: 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'NeuzeitSLTStd-Book',sans-serif;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .header-right-panel{
    padding: 15px 0;

  }
}
header.cover-header{
  position: absolute;
  top: 36px;
  display: inline-block;
  width: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 67;
  .logotype{
    svg path{
      fill: #ffffff;
    }
  }

}

.cart-header{
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'NeuzeitSLTStd-Book',sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  span.counter-cart{
    width: 20px;
    height: 20px;
    background-color: #729fae;
    text-align: center;
    padding: 5px;
    display: inline-block;
    color: #ffffff;
    line-height: 1;
    font-weight: 300;
    vertical-align: middle;
    @include border-radius(10px)
  }
}
.account-header{
  display: inline-block;
  padding: 0;
  li{
    display: inline-block;
  }
}
.header-search{
  display: inline-block;
}

/*FOOTER*/

.sub-footer{
  background-color: #b69386;
  padding: 15px 0;
  ul.bottom-menu{
    margin: 15px 0;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 20px;
      a{
        color: #ffffff;
        font-family: 'NeuzeitSLTStd-Book', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: 1px transparent solid;
        @include transition(border-color .4s ease);
        padding-bottom: 4px;
        &:hover{
          text-decoration: none;
          border-bottom: 1px #ffffff solid;
        }
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  .footer-logo{
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

ul.payment-icons{
  padding: 0;
  text-align: right;
  li{
    display: inline-block;
    .icon{
      width: 50px;
      height: 50px;
    }
  }
}

footer{
  background-color: #292422;
  font-family: 'NeuzeitSLTStd-Book', sans-serif;
  padding: 15px 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  p.copyrights{
    color: #ffffff;
    margin: 0;
    padding: 15px 0;
    display: inline-block;
  }
  ul.bottom-menu{
    padding: 0 15px;
    display: inline-block;
    li{
      display: inline-block;
      padding: 0 10px;
      a{
        color: #ffffff;
        @include transition(color .4s ease);
        &:hover{
          color: #b7986b;
          text-decoration: none;
        }
      }
    }
  }

}
.sub-footer{
  .social-networks{
    margin: 15px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 4px;
      &:hover{
        svg{
          path{
            fill: #fff;
          }
        }
      }
    }
  }
  .subscribe-form-box{
    padding: 40px 0;
    text-align: left;
    display: inline-block;
    p.newsletter-title{
      color: #ffffff;
      font-family: 'NeuzeitSLTStd-Book', sans-serif;
      font-size: 16px;
      margin-bottom: 10px;
    }
    #Email{
      background-color: transparent;
      width: 290px;
      height: 40px;
      padding: 5px;
      border: 1px #ffffff solid;
      display: inline-block;
      outline: none;
      font-size: 16px;
      color: #ffffff;
      &:focus{
        outline: none;
      }
    }
    #Subscribe{
      display: inline-block;
      background-color: #ffffff;
      padding: 9px 30px;
      font-size: 14px;
      font-family: "SangBleuSans", sans-serif;
      text-transform: uppercase;
      color: #292422;
      font-weight: bold;
      letter-spacing: 1px;
      border: none;
      position: relative;
      left: -3px;
      top: 1px;
      font-style: italic;
      @include transition(background-color .4s ease);
      &:hover{
        background-color: #b7986b;
      }
    }
  }
}
.cookies-policy{
  background-color: #292422;
  font-size: 12px;
  font-family: 'NeuzeitSLTStd-Book', sans-serif;
  padding: 10px 0;
  p{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    padding: 11px 0;
    a{
      color: #b7986b;
      letter-spacing: 1px;
      margin: 0 5px;
      display: inline-block;
      @include opacity(0.8);
      @include transition(color .4s ease);
      &:hover{
        text-decoration: none;
        color: #ffffff;
      }
    }

  }
  a.accept-link{
    font-family: "SangBleuSans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    background-color: #ffffff;
    padding: 10px 30px;
    color: #292422;
    letter-spacing: 1px;
    @include transition(background-color .4s ease);
    display: inline-block;
    &:hover{
      background-color:  #b7986b;
      text-decoration: none;
    }
  }
  a.decline-link{
    text-transform: uppercase;
    color: #b7986b;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    letter-spacing: 1px;
    font-size: 12px;
    @include opacity(0.8);
    @include transition(color .4s ease);
    &:hover{
      color: #ffffff;
      text-decoration: none;
    }
  }
}


