//Colors
$primary-color: #b69386;
$secondary-color: #dfcdc6;
$third-color: #292422;

$title-color: #000;
$text-color: #1f191a;

* {
  font-family: "neuzeit-grotesk", sans-serif;
}

html {
  box-sizing: border-box;
  *, *:before, *:after { box-sizing: border-box; }
}
body {
  margin: 0;
  background-color: #f7f7f7;
}

img {
  max-width: 100%;
  height: auto;
}

p:empty {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "minerva-modern", sans-serif;
  color: $title-color;
  margin: 0;
  line-height: 1.25;
  font-weight: 400;
  font-style: italic;
}
h1 {
  font-size: 42px;
  margin-bottom: 12px;
  text-transform: uppercase;
  @media only screen and (max-width: 640px) {
    font-size: 36px;
  }
  @media only screen and (max-width: 374px) {
    font-size: 32px;
  }
}
h2 {
  font-size: 32px;
  margin-bottom: 12px;
  @media only screen and (max-width: 800px) {
    font-size: 27px;
  }
}
h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
h6 {
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  color: $text-color;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 30px 0;
  @media only screen and (max-width: 640px) {
    font-size: 16px;
  }
}

ul,ol {
  margin-bottom: 30px;
  margin-top: 0;
  li {
    color: $text-color;
    font-size: 18px;
    line-height: 1.5;
  }
}

a {
  color: #e17000;
  text-decoration: underline;
  &:hover,&:focus {
    color: $secondary-color;
  }
}

.btn {
  display: inline-block;
  background-color: $third-color;
  font-family: "minerva-modern", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-style: italic;
  line-height: 1.25;
  padding: 14px 35px 14px 35px;
  outline: none !important;
  transition: all 0.3s ease-in-out;
  border: none;
  span {
    font-family: inherit;
    color: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    font-style: inherit;
  }
  &:hover,&:focus {
    color: #fff;
    background-color: $primary-color;
  }
  &.white {
    background-color: #fff;
    color: $third-color;
    &:hover,&:focus {
      background-color: $secondary-color;
      color: $third-color;
    }
  }
}

.page-title {
  text-align: center;
  margin-bottom: 50px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  @media only screen and (max-width: 800px) {
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 640px) {
    margin-bottom: 35px;
    text-align: left;
  }
  @media only screen and (max-width: 374px) {
    margin-bottom: 25px;
  }
}

.pagination {
  @media only screen and (max-width: 640px) {
    margin-bottom: 20px;
  }
  .pagination-list {
    text-align: center;
    span,a {
      display: inline-block;
      color: $text-color;
      font-style: italic;
      font-family: "minerva-modern", sans-serif;
      position: relative;
      font-size: 19px;
      padding: 0 7px;
      &:before {
        content: '|';
        position: absolute;
        top: -1px;
        left: -4px;
        color: $text-color;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
    .current-page {
      color: $primary-color;
    }
    .pagination-link {
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover,&:focus {
        color: $primary-color;
      }
    }
  }
}