{% include 'breadcrumbs' %}

<section class="page-title-section">
    <div class="row">
        <div class="large-10 large-centered columns">
            <h1 class="page-title">{{ 'general.404.title' | t }}</h1>
        </div>
    </div>
</section>

<section class="not-found-section">
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="not-found-box">
                <h3 class="not-found-sub-title">{{ 'general.404.sorry_message' | t }}</h3>
                <a href="{{ shop.url }}" class="btn"><span>{{ 'general.404.back_to_home' | t }}</span></a>
            </div>
        </div>
    </div>
</section>

<section class="search-section">
    <div class="row">
        <div class="large-6 medium-8 medium-centered columns">
            <div class="search-form-box">
                <form action="/search" method="get" role="search">
                    <input type="search"
                           name="q"
                           id="Search"
                           placeholder="{{ 'general.search.placeholder' | t }}">
                    <button type="submit" class="btn white">
                        <span class="">{{ 'general.search.submit' | t }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>