{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
  When you refresh the page with submitted comment, the comment is duplicated
  so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
  {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}


{% section 'article-template' %}

{% section 'related-articles' %}

{% if blog.comments_enabled? %}

  {% paginate article.comments by 5 %}

  <div id="comments">
    {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
      <p class="form-success">
        {% if blog.moderated? and comment.status != 'published' %}
          {{ 'blogs.comments.success_moderated' | t }}
        {% else %}
          {{ 'blogs.comments.success' | t }}
        {% endif %}
      </p>
    {% endif %}

    {% if number_of_comments > 0 %}
      <ul>
        {% comment %}
        Display comment from URL parameters if it is waiting moderation
        We added "comment.id" check to make sure we don't display markup if there are form errors
        {% endcomment %}
        {% if comment and comment.status != 'published' and comment.id != blank %}
          <li id="{{ comment.id }}">
            <div class="rte">
              {{ comment.content }}
            </div>
            {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
          </li>
        {% endif %}

        {% for comment in article.comments %}
          <li id="{{ comment.id }}">
            <div class="rte">
              {{ comment.content }}
            </div>
            {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
          </li>
        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}
  </div>

  {% endpaginate %}
  {% form 'new_comment', article %}
  <section class="article-comments-section">
    <div class="row">
      <div class="large-8 medium-10 medium-centered columns">
        <div class="article-comments-list">
          <div class="comments-title">
            {{ form.errors | default_errors }}
            <span class="comments-count">2</span>
            <span class="comments-label">Comments</span>
          </div>
          <div class="comment-box">
            <span class="comment-author">Johanna</span>
            <span class="comment-date">March 15, 2019</span>
            <div class="comment-text nmp-last-el">
              <p>Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Cras ultricies ligul.</p>
            </div>
          </div>

        </div>
        <div class="comments-form-box">
          <div class="comments-form">

              <input type="hidden" name="utf8" value="✓">
              <label for="CommentBody" class="label-hidden message-label">
                {{ 'blogs.comments.title' | t }}
              </label>
              <textarea
                       name="comment[body]"
                       id="CommentBody"
                       class="message-area {% if form.errors contains 'body' %}input-error{% endif %}"
                       placeholder="{{ 'blogs.comments.message' | t }}">
                  {{- form.body -}}
               </textarea>
            <div class="inputs-box">
              <input type="text"
                     name="comment[author]"
                     id="CommentAuthor"
                     class="form-input name-input{% if form.errors contains 'author' %}input-error{% endif %}"
                     placeholder="{{ 'blogs.comments.name' | t }}"
                     value="{{ form.author }}"
                     autocapitalize="words">

              <input type="email"
                       name="comment[email]"
                       id="CommentEmail"
                       class="form-input {% if form.errors contains 'email' %}input-error{% endif %}"
                       placeholder="{{ 'blogs.comments.email' | t }}"
                       value="{{ form.email }}"
                       spellcheck="false"
                       autocomplete="off"
                       autocapitalize="off">
              <input type="submit" class="btn comment-button" value="{{ 'blogs.comments.post' | t }}">

            </div>
            {% if blog.moderated? %}
              <p class="comments-description">{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </section>



{% endif %}


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
  {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
  {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
  {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
