
{% include 'breadcrumbs' %}

<section class="blog-posts-section">
  {% paginate blog.articles by 6 %}
    <div class="row">
      <div class="large-12 columns">
        {%- assign blog_title = blog.title -%}
        <h1 class="blog-title page-title">{{ blog_title }}</h1>
      </div>
      <div class="large-12 columns">
        {% if blog.all_tags.size > 0 %}
          <div class="blog-posts-categories">
            {% for tag in blog.all_tags %}

              {% if current_tags contains tag %}
                <span class="active-category">{{ tag }}</span>
              {% else %}
                {{ tag | link_to_tag: tag }}
              {% endif %}

            {% endfor %}

          </div>

        {% endif %}


      </div>
    </div>
    <div class="row">
      <div class="large-12 columns blog-col">
        <div class="blog-posts-box">
          <div class="blog-posts">
            {% for article in blog.articles %}
            <div class="blog-post-item">
              <div class="blog-post-wrap">
                <div class="blog-post-box">
                  <a href="{{ article.url }}" class="blog-post-link"></a>
                  <div class="blog-post-img-wrap">
                    {% if article.tags.size > 0 %}
                      {% for tag in article.tags %}
                        <span class="blog-category">{{ tag }}</span>
                      {% endfor %}
                    {% endif %}


                    <div class="blog-post-img" style="background-image: url({{  article.image | img_url: '800x' }});"></div>
                  </div>
                  <div class="blog-post-content">
                    <h3 class="blog-post-title">{{ article.title }}</h3>
                    <div class="blog-post-text nmp-last-el">
                      {% if article.excerpt.size > 0 %}
                        {{ article.excerpt }}
                      {% else %}
                        <p>
                          {{ article.content | strip_html | truncatewords: 100 }}
                        </p>
                      {% endif %}
                    </div>
                    <span class="read-more">Read more</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
</section>



