{% if cart.item_count > 0 %}
  {% include 'breadcrumbs' %}

    <section class="page-title-section">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>
        </div>
      </div>
    </section>
  {% for product in collections.screen-protectors.products %}
    {% assign ProductTypeHandle = product.type | handle %}
    {% if ProductTypeHandle == 'screen-protector' %}
      <section class="cart-up-sale">
        <div class="row">
          <div class="large-10 large-centered columns">
            <div class="cart-up-sale-box js-up-sale-box">
              <div class="up-sale-img-wrapper">
                {%- assign image_object = product.featured_image | default: collection.products.first.featured_image -%}

                {% include 'responsive-image' with
                image: image_object,
                max_width: 70,
                max_height: 70,
                image_attributes: "data-product-featured-image",
                wrapper_attributes: "data-product-image-wrapper", %}
              </div>
              <div class="up-sale-desc nmp-last-el">
                <p>Sichere dir jetzt deine Schutzfolie zum Vorteilspreis <span class="upsell-price">{{ product.price | money }}</span></p>
              </div>
              <div class="up-sale-size-box">
                <select name="product-size" id="product-size">
                </select>
              </div>
              <div class="up-sale-btn-wrap">
                <button class="btn js-add-cart">
                  <span>Hinzufügen – {{ product.price | money }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}


  <section class="cart-table-section">
    <div class="row">
      <div class="large-12 columns">
        <div class="cart-products-table">
          <div class="flex-table cart-table-header" role="rowgroup">
            <div class="flex-row first product-column" role="cell">
              <span class="cart-table-title">{{ 'cart.label.product' | t }}</span>
            </div>
            <div class="flex-row size-column" role="cell">
              <span class="cart-table-title">{{ 'cart.label.size' | t }}</span>
            </div>
            <div class="flex-row count-column" role="cell">
              <span class="cart-table-title">{{ 'cart.label.quantity' | t }}</span>
            </div>
            <div class="flex-row price-column" role="cell">
              <span class="cart-table-title">{{ 'cart.label.price' | t }}</span>
            </div>
          </div>
          {% for item in cart.items %}
            {% assign ProductType = item.product.type | handle %}
            <div class="flex-table cart-product-row" role="rowgroup" data-screen-protector="{% if ProductType == 'screen-protector' %}true{% else %}false{% endif %}">
              <div class="flex-row first product-column" role="cell">
                <div class="product-info">
                  {% if item.image != blank %}
                    <a href="{{ item.url | within: collections.all }}" class="product-link"></a>
                    <div class="product-img-wrap">
                      {{ item | img_url: '240x240' | img_tag: item.title }}
                    </div>
                  {% endif %}
                  <span class="product-name">{{ item.product.title }}</span>
                </div>
              </div>
              <div class="flex-row size-column" role="cell">
                <div class="product-size-info">
                  {% unless item.product.has_only_default_variant %}
                    <span class="size-name">
                      {{ item.variant.title }}
                    </span>
                  {% endunless %}
                </div>
              </div>
              <div class="flex-row count-column" role="cell">
                <div class="product-count-box">
                  <div class="product-quantity">
                    <div class="quantity-button quantity-down" data-id="{{ item.key }}">-</div>
                    <input type="number"
                           name="updates[]"
                           class="product-count"
                           id="updates_{{ item.key }}"
                           value="{{ item.quantity }}"
                           min="1"
                           step="1"
                           readonly="readonly"
                           aria-label="{{ 'cart.general.item_quantity' | t }}">
                    <div class="quantity-button quantity-up" data-id="{{ item.key }}">+</div>
                  </div>
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="delete-link">
                    {{ 'cart.general.remove' | t }}
                  </a>
                </div>
              </div>
              <div class="flex-row price-column" role="cell">
                <div class="product-prices-info">
                  {% if item.original_line_price != item.line_price %}
                    <span class="old-price">{{ item.original_price | money }}</span>
                    <span class="new-price" data-price="{{ item.price }}" data-counted-price="{{ item.price }}"> {{ item.price | money }}</span>
                  {% else %}
                    <span class="new-price" data-price="{{ item.price }}" data-counted-price="{{ item.price }}"> {{ item.price | money }}</span>
                  {% endif %}
                  <!--div class="save-box">
                    <span class="save-text">Du sparst</span>
                    <span class="save-percent-num">10</span><span class="save-percent-ico">%</span>
                  </div-->
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <div class="total-sum-box">
          <span class="total-text">{{ 'cart.general.subtotal' | t }}</span>
          <span class="total-sum" data-total-price="{{ cart.total_price }}">{{ cart.total_price | money }}</span>
        </div>
        <form action="/cart" method="post" novalidate>
        <div class="cart-button-wrap">
          <button type="submit" name="checkout" class="btn">{{ 'cart.general.checkout' | t }}</button>
        </div>
        </form>
      </div>
    </div>
  </section>

{% else %}

  {% include 'breadcrumbs' %}

  <section class="page-title-section">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>
      </div>
    </div>
  </section>
  {% comment %}
  Cart empty state
  {% endcomment %}
  <section class="cart-empty-text sec-margin">
    <div class="row">
      <div class="large-8 medium-10 medium-centered columns">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
        {% comment %}
        Cart no cookies state
        ---------------------
        Browser cookies are required to use the cart. If cookies aren't enabled in the
        browser a message is displayed prompting the user to enable them.
        {% endcomment %}
        <div class="supports-no-cookies">
          <p>{{ 'cart.general.cookies_required' | t }}</p>
        </div>
      </div>
    </div>
  </section>
{% endif %}
