{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}
{% include 'breadcrumbs' %}

<section class="collections-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="collections-title page-title">{{ page_title }}</h1>
    </div>
    <div class="large-12 columns collections-col">
      <div class="collections-list">
        {% for collection in collections %}
          {% unless collection.handle == 'frontpage' %}
          <div class="collection-item">
            <div class="collection-box">
              <div class="collection-img-wrap">
                <div class="collection-img" style="background-image: url({{ collection.image | img_url: '640x480', crop: 'top' }});">
                  <h2 class="collection-name">{{ collection.title }}</h2>
                  <div class="collection-button-wrap">
                    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}" class="btn white">See more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% section 'info-section' %}
