{% include 'breadcrumbs' %}

<section class="page-title-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
</section>

{% section 'columns-text' %}

{% section 'text-and-image' %}

{% section 'image-gallery' %}

