{% include 'breadcrumbs' %}


<section class="page-title-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="contact-text">
        {{ page.content }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns contact-col">
      <div class="contact-box">
        <div class="contact-map-wrap">
          <div class="contact-map-box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1606.2937158610562!2d8.531467417185041!3d47.38358863461238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a124914e97b%3A0x819cb3826ef6d8f7!2sWerners+Head+Shop!5e0!3m2!1sru!2sua!4v1561047997546!5m2!1sru!2sua" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="contact-form-wrap">
          <div class="contact-form">
            {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <input type="text"
                   name="contact[name]"
                   id="ContactFormName"
                   placeholder="{{ 'contact.form.name' | t }}"
                   value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

            <input type="email"
                   name="contact[email]"
                   id="ContactFormEmail"
                   placeholder="{{ 'contact.form.email' | t }}"
                   value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                   spellcheck="false"
                   autocomplete="off"
                   autocapitalize="off">
            <textarea rows="10"
                      name="contact[body]"
                      id="ContactFormMessage"
                      placeholder="{{ 'contact.form.message' | t }}">
              {%- if form.body -%}
                {{- form.body -}}
              {%- endif -%}
            </textarea>

            <button class="btn" type="submit"><span>{{ 'contact.form.send' | t }}</span></button>
            {% endform %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% section 'features-blocks' %}
