{% include 'breadcrumbs' %}

<section class="page-title-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
</section>
{% section 'custom-links' %}

<section class="text-content-section sec-margin">
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      {{ page.content }}
    </div>
  </div>
</section>
{% section 'features-blocks' %}
