{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<section class="password-section" style="background-image: url({{ "password_bg.jpg" | asset_url }});">
  <a href="/" rel="nofollow" class="logo-link">
    <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 125 34" style="enable-background:new 0 0 125 34;" xml:space="preserve"><g><g><g><path class="logo-svg" d="M119.9749985,9l-3.8990021,8.8390007L112.3300018,9H107l6.762001,13.7939987V32h4.5680008v-9.2060013L125,9H119.9749985z M93.2740021,0L88,5.2880001L89.9570007,7L96,2.2809999L93.2740021,0z M85,32h15v-4.0979996H89.6869965V22.427h10.0330048 v-4.0990009H89.6880035v-5.2299995H100V9H85V32z M75.8269958,15.5979996c0-1.6759996-1.1569977-6.3699999-8.413002-6.3699999 c-6.0979996,0-8.1619987,4.2060003-8.1619987,7.1320009c0,2.5900002,1.8139992,4.8150005,4.4099998,5.7299995 l5.1279984,1.7980003c2.3150024,0.8220005,2.8460007,1.4619999,2.8460007,2.6819992 c0,1.7670002-2.2509995,2.5300007-3.8460007,2.5300007c-2.2829971,0-4.2529984-0.9459991-4.2529984-3.3840008 l-4.6910019,0.0919991c0,2.0410004,0.75,7.1920013,8.9120026,7.1920013c6.5049973,0,8.5699997-4.2059994,8.5699997-7.0100002 c-0.0009995-3.5349998-2.2210007-5.3029995-5.348999-6.2779999l-4.3150024-1.3400002 c-1.1569977-0.3670006-2.7200012-1.1289997-2.7200012-2.7130003c-0.0009995-1.5240002,1.4059982-2.5299997,3.7519989-2.5299997 c1.8759995,0,3.4400024,0.9750004,3.4400024,2.5599995L75.8269958,15.5979996z M38.8939972,19.8029995v-6.2469997h2.9700012 c3.3779984,0,4.1910019,1.4630003,4.1910019,3.1079998c0,1.4629993-0.8129997,3.1399994-4.0340004,3.1399994 L38.8939972,19.8029995z M46.2429962,32.572998h5.5979996l-5.4729996-9.6609993 c3.0330009-0.8840008,4.3779984-4.0229988,4.3779984-6.4300003c0-3.8099995-2.8139992-6.8269997-7.7550011-6.8269997h-8.7879982 V32.572998h4.6899986v-9.0509987h2.7529984L46.2429962,32.572998z M18.7250004,9L12,24.6599998L5.2750001,9H0v23h4.4419999 V16.9519997h0.0619998L10.7040005,32h2.592l6.1999998-15.3540001h0.0620003V32H24V9H18.7250004z"/></g></g></g></svg>
  </a>
  <a href="javascript:void(0);" class="pass-link">{{ 'general.password_page.login_form_heading' | t }}</a>
  <div class="row pass-row">
    <div class="large-7 medium-7 medium-centered columns pass-col">
      <div class="pass-wrap">
        <div class="pass-box">
          <h2 class="pass-title">{{ 'general.password_page.opening_soon' | t }}</h2>
          <div class="subscribe-form-box">
              {% unless shop.password_message == blank %}
                  <p>
                      {{ shop.password_message }}
                  </p>
              {% endunless %}

              {% form 'customer' %}

                  {{ form.errors | default_errors }}

                  {% if form.posted_successfully? %}
                      <ul class="form-success">
                          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
                      </ul>
                  {% else %}
                      <input type="hidden" name="contact[tags]" value="prospect, password page">
                      <div class="form-inputs-wrap">
                          <input type="email"
                                 name="contact[email]"
                                 id="Email"
                                 class="email-field"
                                 spellcheck="false"
                                 autocomplete="off"
                                 autocapitalize="off"
                                 placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                          <button type="submit" name="commit" class="btn white">
                              {{ 'general.password_page.signup_form_submit' | t }}
                          </button>
                      </div>

                  {% endif %}
              {% endform %}
          </div>
            {% if settings.share_facebook or settings.share_twitter %}
                <div class="socials-box">
                    <span class="social-title">{{ 'general.password_page.spread_the_word' | t }}</span>
                    <div class="socials">
                        <div class="share-buttons-box">
                            {% include 'social-sharing' %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div class="login-line">
      {{ 'general.password_page.admin_link_html' | t }}
  </div>
</section>

