<svg version="1.1" id="facebook2" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 9 17"
     style="enable-background:new 0 0 9 17;" xml:space="preserve"><style type="text/css">.fb-tw0 {
            fill: #292422;
        }</style>
    <g>
        <path class="fb-tw0 fb-icon"
              d="M8.6610861,0.0035371L6.5023961,0C4.0771809,0,2.5099003,1.6421149,2.5099003,4.1837234v1.9289761H0.3394333 C0.1518791,6.1126995,0,6.2679796,0,6.4595156v2.7948675C0,9.445919,0.1520522,9.6010218,0.339433,9.6010218h2.1704674v7.0523386 C2.5099003,16.8448963,2.6617792,17,2.8493333,17h2.8318415c0.1875544,0,0.3394332-0.1552792,0.3394332-0.3466396V9.6010218 h2.5377817c0.1875544,0,0.3394337-0.1551027,0.3394337-0.3466387l0.0010386-2.7948675 c0-0.0919657-0.0358486-0.1800404-0.0994053-0.2451239C8.7358999,6.1493087,8.6493101,6.112699,8.5592556,6.112699H6.0206084 V4.4774814c0-0.7859514,0.1833982-1.1849399,1.1859379-1.1849399l1.4541936-0.0005307C8.8481216,3.2920108,9,3.1367307,9,2.9453714 V0.3501764C9,0.1589942,8.8482943,0.0038908,8.6610861,0.0035371z"/>
    </g></svg>
