<svg version="1.1" id="pinterest" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 17.9958496"
     style="enable-background:new 0 0 14 17.9958496;" xml:space="preserve"><style type="text/css">.pin0 {
            fill: #292422;
        }</style>
    <g>
        <path class="pin0 pin-icon"
              d="M5.7548614,11.9023075c-0.472568,2.4774742-1.0496922,4.8527355-2.7592885,6.0935421 c-0.5276353-3.7447367,0.7750769-6.5569334,1.379914-9.5426083C3.3443303,6.717371,4.4994774,3.2233155,6.6748042,4.0844121 c2.6765084,1.0590501-2.3180327,6.4541774,1.0347557,7.1282973c3.5007129,0.7032738,4.9299359-6.073926,2.759109-8.2780457 C7.3323689-0.2477052,1.3388835,2.8621409,2.0759897,7.4184852c0.1792376,1.1141171,1.3300657,1.4518981,0.4597914,2.9892745 c-2.0072463-0.445035-2.6065049-2.028121-2.5293031-4.1390228C0.1306487,2.8140919,3.1107454,0.395103,6.0998402,0.0605617 c3.7801867-0.4232601,7.3280506,1.3876525,7.8178949,4.9436135c0.5517502,4.0135927-1.7059984,8.3606462-5.7483835,8.0478802 C7.07377,12.9669361,6.6136189,12.4241838,5.7548614,11.9023075z"/>
    </g></svg>