

<svg version="1.1" id="logo" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 125 34" style="enable-background:new 0 0 125 34;" xml:space="preserve">
<g>
	<path class="logo-svg" d="M41.6,23.5h-2.7v9.3h-4.7V9.3h8.8c4.9,0,7.7,3.1,7.7,7c0,2.5-1.3,5.7-4.4,6.6l5.5,9.9h-5.6L41.6,23.5z
		 M42,19.7c3.2,0,4-1.7,4-3.2c0-1.7-0.8-3.2-4.2-3.2h-3v6.4H42z"/>
	<path class="logo-svg" d="M71,15.5c0-1.6-1.6-2.6-3.4-2.6c-2.3,0-3.7,1-3.7,2.6c0,1.6,1.6,2.4,2.7,2.8l4.3,1.4c3.1,1,5.3,2.8,5.3,6.4
		c0,2.9-2.1,7.2-8.5,7.2c-8.1,0-8.9-5.3-8.9-7.4l4.7-0.1c0,2.5,2,3.5,4.2,3.5c1.6,0,3.8-0.8,3.8-2.6c0-1.2-0.5-1.9-2.8-2.7L63.5,22
		c-2.6-0.9-4.4-3.2-4.4-5.9c0-3,2.1-7.3,8.1-7.3c7.2,0,8.4,4.8,8.4,6.5L71,15.5z"/>
	<path class="logo-svg" d="M85.1,9.3h15v4.2H89.8v5.3h10V23h-10v5.6h10.3v4.2h-15V9.3z"/>
	<path class="logo-svg" d="M119.9,9.3h5.1l-6.8,14.1v9.4h-4.7v-9.4l-6.9-14.1h5.5l3.8,9L119.9,9.3z"/>
	<polygon class="logo-svg" points="88.4,5.5 90.3,7.2 96.2,2.5 93.5,0.2 	"/>
	<polygon class="logo-svg" points="24.3,9.3 19.8,9.3 12.1,17 4.5,9.3 4.5,9.3 4.5,9.3 4.5,9.3 0,9.3 0,10.9 0,32.8 4.5,32.8 4.5,15.6
		9,20.1 9,20.1 9.2,20.3 12.1,23.3 13.2,22.2 19.8,15.6 19.8,32.8 24.3,32.8 24.3,10.7 	"/>
</g>
</svg>
