<section class="pagination">
  <div class="row">
    <div class="large-12 columns">
      <div class="pagination-list">
        {{ paginate | default_pagination }}
      </div>
    </div>
  </div>
</section>
