

<section class="article-featured-products">
    <div class="row">
        <div class="large-12 columns afp-col">
            <div class="products-list">
                {% capture firstHandle %}{% include 'shortcode-render' render:'handle_one' default:'' %}{% endcapture %}
                {% capture secondHandle %}{% include 'shortcode-render' render:'handle_two' default:'' %}{% endcapture %}
                {% assign firstProduct = all_products[ 'crossbody-iphone-black-leather' ] %}
                {% assign secondProduct = all_products[ secondHandle ] %}
                <div class="col-product-item">
                    <div class="col-product-wrap">
                        <div class="col-product-box">
                            <a href="{{ firstProduct.url }}" class="product-link"></a>
                            <div class="col-product-img-wrap">
                                {% if firstProduct.available %}
                                    <span class="product-sticker">{{ 'products.product.on_sale' | t }}</span>
                                {% else %}
                                    <span class="product-sticker">{{ 'products.product.sold_out' | t }}</span>
                                {% endif %}
                                {%- assign image_object = firstProduct.featured_image -%}
                                <div class="col-product-img lazyload"  data-bgset="{% include 'responsive-bg-image', image: image_object %}">                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span class="sale-price">{{ firstProduct.price | money }}</span>
                                    {% if firstProduct.compare_at_price > firstProduct.price %}
                                        <span class="regular-price">{{ firstProduct.compare_at_price | money }}</span>
                                    {% endif %}
                                </div>
                                <span class="product-desc">{{ firstProduct.title }}</span>
                                {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-product-item">
                    <div class="col-product-wrap">
                        <div class="col-product-box">
                            <a href="{{ secondProduct.url }}" class="product-link"></a>
                            <div class="col-product-img-wrap">
                                {% if secondProduct.available %}
                                    <span class="product-sticker">{{ 'products.product.on_sale' | t }}</span>
                                {% else %}
                                    <span class="product-sticker">{{ 'products.product.sold_out' | t }}</span>
                                {% endif %}
                                {%- assign image_object = secondProduct.featured_image -%}
                                <div class="col-product-img lazyload"  data-bgset="{% include 'responsive-bg-image', image: image_object %}">                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span class="sale-price">{{ secondProduct.price | money }}</span>
                                    {% if secondProduct.compare_at_price > secondProduct.price %}
                                        <span class="regular-price">{{ secondProduct.compare_at_price | money }}</span>
                                    {% endif %}
                                </div>
                                <span class="product-desc">{{ secondProduct.title }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
