{% capture action %}{% include 'shortcode-render' render:'action' %}{% endcapture %}

{% case action %}
   {% when 'new sub-content' %}
      <div class="short-description nmp-last-el">
   {% when 'end sub-content' %}
      </div>
   {% when 'new tab-product' %}
      {% capture tabTitle %}{% include 'shortcode-render' render:'tab_title' default: 'Detail' %}{% endcapture %}
         <div class="full-description">
             <span class="full-title">{{ tabTitle }}</span>
   {% when 'end tab-product' %}
         </div>
   {% when 'new tab-content' %}
      <div class="full-text nmp-last-el">
         {% when 'end tab-content' %}
      </div>
   {% when 'end head-product' %}
            </div>
         </div>
      </div>
   </section>
   {% else %}
{% endcase %}
