<div class="relate-section">
    <div class="text-center">
        <iframe id="ytplayer" type="text/html" width="{% include 'shortcode-render' render:'width' default:'640' %}" height="{% include 'shortcode-render' render:'height' default:'390' %}" src="//www.youtube.com/embed/{% include 'shortcode-render' render:'src' default:'M7lc1UVf-VE' %}" frameborder="0" ></iframe>
    </div>
</div>
