{% capture action %}{% include 'shortcode-render' render:'action' %}{% endcapture %}

{% case action %}
   {% when 'new left-image' %}
      {% capture picture %}{% include 'shortcode-render' render:'image_src' %}{% endcapture %}
        <section class="text-and-image image-left">
            <div class="tai-box tai-image-box">
                <div class="tai-image-wrap">
                    <div class="tai-img lazyload" style="background-image: url({{ picture }});"></div>
                </div>
            </div>
            <div class="tai-box tai-text-box">
                <div class="tai-text-content-box">
                    <div class="tai-content">
                        <div class="tai-text nmp-last-el">
   {% when 'end left-image' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

   {% when 'new right-image' %}
    {% capture picture %}{% include 'shortcode-render' render:'image_src' %}{% endcapture %}
    <section class="text-and-image image-right">
        <div class="tai-box tai-image-box">
            <div class="tai-image-wrap">
                <div class="tai-img lazyload" style="background-image: url({{ picture }});"></div>
            </div>
        </div>
        <div class="tai-box tai-text-box">
            <div class="tai-text-content-box">
                <div class="tai-content">
                    <div class="tai-text nmp-last-el">
   {% when 'end right-image' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
   {% else %}
{% endcase %}
