.not-found-section {
  padding: 60px 0;
  background-color: $primary-color;
  .not-found-box {
    text-align: center;
    .not-found-sub-title {
      text-transform: uppercase;
      margin-bottom: 30px;
      @media only screen and (max-width: 800px) {
        font-size: 24px;
      }
    }
    .btn {
      border: 1px solid $third-color;
      &:hover,&:focus {
        border-color: #fff;
      }
    }
  }
}
.search-section {
  padding: 50px 0;
  background-color: $third-color;
  .search-form-box {
    form {
      display: flex;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      input {
        flex-basis: 100%;
        height: 40px;
        line-height: 40px;
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding-left: 10px;
        @media only screen and (max-width: 640px) {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }
        @include placeholder {
          color: #fff;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
      .btn {
        padding: 10px 30px;
        @media only screen and (max-width: 640px) {
          display: block;
          width: 100%;
        }
      }
    }
  }
}