.article-comments-section {
  padding: 70px 0;
  @media only screen and (max-width: 960px) {
    padding-top: 30px;
  }
  .article-comments-list {
    .comments-title {
      display: block;
      color: $text-color;
      font-family: "minerva-modern", sans-serif;
      font-size: 26px;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 30px;
      span {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        text-transform: inherit;
      }
    }
    .comment-box {
      border-bottom: 1px solid #b59387;
      margin-bottom: 20px;
      padding-bottom: 20px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }
      .comment-author {
        display: block;
        color: $text-color;
        font-family: "minerva-modern", sans-serif;
        font-size: 20px;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      .comment-date {
        display: block;
        color: $text-color;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
  .comments-form-box {
    margin-top: 30px;
    .comments-form {
      .message-label {
        display: block;
        color: $text-color;
        font-family: "minerva-modern", sans-serif;
        font-size: 26px;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      .message-area {
        display: block;
        width: 100%;
        resize: none;
        height: 150px;
        border: 1px solid $third-color;
        padding: 10px 0 0 10px;
        outline: none;
        background-color: #f7f7f7;
        margin-bottom: 25px;
        @media only screen and (max-width: 640px) {
          margin-bottom: 20px;
        }
        @include placeholder {
          color: $third-color;
          letter-spacing: 2px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
      .inputs-box {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 640px) {
          display: block;
        }
        .form-input {
          flex-basis: 100%;
          height: 48px;
          line-height: 48px;
          border: 1px solid $third-color;
          padding-left: 10px;
          background-color: #f7f7f7;
          outline: none;
          @media only screen and (max-width: 640px) {
            display: block;
            width: 100%;
          }
          @include placeholder {
            color: $third-color;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
          }
          &.name-input {
            margin-right: 25px;
            @media only screen and (max-width: 640px) {
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
        }
        .comment-button {
          width: 200px;
          min-width: 200px;
          border: 1px solid $third-color;
          padding: 13px 35px;
          border-left: none;
          @media only screen and (max-width: 640px) {
            display: block;
            width: 100%;
            margin-top: 20px;
          }
        }
      }
      .comments-description {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}