.account-addresses-sec {
  margin-bottom: 40px;
  .addresses-title {
    margin-bottom: 30px;
  }
  .addresses-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    @media only screen and (max-width: 640px) {
      display: block;
    }
    .address-box {
      flex-basis: 50%;
      position: relative;
      margin-bottom: 30px;
      .default-address {
        position: absolute;
        left: 0;
        bottom: calc(100% + 15px);
        display: inline-block;
        background-color: $primary-color;
        color: #fff;
        font-size: 13px;
        letter-spacing: 1px;
        padding: 5px 20px;
        text-decoration: none;
        transition: all .3s ease-in-out;
        cursor: default;
      }
      p {
        line-height: 1.35;
      }
      .address-link {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 15px;
        color: $primary-color;
        transition: all 0.3s ease-in-out;
        &:hover,&:focus {
          color: $third-color;
        }
      }
    }
  }
  .edit-address-form {
    display: none;
    padding-top: 15px;
    form {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 1160px) {
        display: block;
      }
      .hidden-label {
        display: none;
      }
      input[type=text],input[type=tel] {
        display: block;
        width: 40%;
        margin-bottom: 15px;
        margin-right: 15px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #292422;
        padding-left: 10px;
        background-color: #f7f7f7;
        outline: none;
        position: relative;
        @include placeholder {
          font-size: 14px;
          color: $third-color;
          letter-spacing: 2px;
          font-weight: 300;
          text-transform: uppercase;
        }
        @media only screen and (max-width: 1160px) {
          width: 80%;
        }
        @media only screen and (max-width: 640px) {
          width: 100%;
        }
      }
      select {
        display: block;
        width: 40%;
        margin-bottom: 15px;
        margin-right: 15px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #292422;
        padding-left: 10px;
        background-color: #f7f7f7;
        position: relative;
        outline: none !important;
        cursor: pointer;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        appearance: none;
        background-image: url("{{'select-arrow.svg'| asset_url}}");
        background-size: 13px 7px;
        background-position: 95% 50%;
        background-repeat: no-repeat;
        border-radius: 0 !important;
        font-size: 14px;
        color: $third-color;
        letter-spacing: 2px;
        font-weight: 300;
        text-transform: uppercase;
        @media only screen and (max-width: 1160px) {
          width: 80%;
        }
        @media only screen and (max-width: 640px) {
          width: 100%;
        }
      }
      .def-checkbox {
        width: 100%;
        padding-top: 10px;
      }
      .form-buttons {
        padding-top: 15px;
        width: 100%;
        .btn {
          padding: 10px 30px;
          margin-right: 15px;
          @media only screen and (max-width: 640px) {
            padding: 10px 20px;
          }
          @media only screen and (max-width: 374px) {
            padding: 10px 15px;
            margin-right: 10px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .add-address-form {
    padding-top: 30px;
    display: none;
    form {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .hidden-label {
        display: none;
      }
      input[type=text],input[type=tel] {
        display: block;
        width: 20%;
        margin-bottom: 15px;
        margin-right: 15px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #292422;
        padding-left: 10px;
        background-color: #f7f7f7;
        outline: none;
        position: relative;
        @include placeholder {
          font-size: 14px;
          color: $third-color;
          letter-spacing: 2px;
          font-weight: 300;
          text-transform: uppercase;
        }
        @media only screen and (max-width: 1024px) {
          width: 25%;
        }
        @media only screen and (max-width: 960px) {
          width: 33.3333333333%;
        }
        @media only screen and (max-width: 640px) {
          width: 100%;
        }
      }
      select {
        display: block;
        width: 20%;
        margin-bottom: 15px;
        margin-right: 15px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #292422;
        padding-left: 10px;
        background-color: #f7f7f7;
        position: relative;
        outline: none !important;
        cursor: pointer;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        appearance: none;
        background-image: url("{{'select-arrow.svg'| asset_url}}");
        background-size: 13px 7px;
        background-position: 95% 50%;
        background-repeat: no-repeat;
        border-radius: 0 !important;
        font-size: 14px;
        color: $third-color;
        letter-spacing: 2px;
        font-weight: 300;
        text-transform: uppercase;
        @media only screen and (max-width: 1024px) {
          width: 25%;
        }
        @media only screen and (max-width: 960px) {
          width: 33.3333333333%;
        }
        @media only screen and (max-width: 640px) {
          width: 100%;
        }
      }
      .def-checkbox {
        width: 100%;
        padding-top: 10px;
      }
      .form-buttons {
        padding-top: 15px;
        width: 100%;
        .btn {
          padding: 10px 30px;
          margin-right: 15px;
          @media only screen and (max-width: 640px) {
            padding: 10px 20px;
          }
          @media only screen and (max-width: 374px) {
            padding: 10px 15px;
            margin-right: 10px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}