.article-content-section {
  .article-info {
    color: $text-color;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    span {
      &.article-author {
        position: relative;
        padding-right: 10px;
        &:before {
          content: '/';
          position: absolute;
          top: 0;
          right: -3px;
          font-size: 14px;
        }
      }
    }
  }
  .article-content {
    h1,h2,h3,h4,h5,h6 {
      text-transform: uppercase;
    }
    .img-wrapper {
      margin-bottom: 30px;
      .img-description-text {
        padding-top: 10px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}