.article-header-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 650px;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
  @media only screen and (max-width: 1024px) {
    height: 450px;
  }
  @media only screen and (max-width: 640px) {
    height: auto;
    padding: 30px 0;
  }
  @media only screen and (max-width: 374px) {
    margin-bottom: 30px;
  }
  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  }
  .article-row {
    position: relative;
    z-index: 1;
    .article-categories {
      display: flex;
      justify-content: center;
      span {
        display: inline-block;
        background-color: #b6986e;
        color: #fff;
        font-size: 13px;
        letter-spacing: 2px;
        padding: 5px 20px;
        text-decoration: none;
        margin-right: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
        user-select: none;
        &:last-child {
          margin-right: 0;
          @media only screen and (max-width: 640px) {
            margin-right: 0;
          }
        }
      }
    }
    .article-title {
      color: #fff;
      text-align: center;
      font-size: 52px;
      margin-bottom: 40px;
      @media only screen and (max-width: 640px) {
        font-size: 36px;
        margin-bottom: 30px;
      }
      @media only screen and (max-width: 374px) {
        font-size: 30px;
      }
    }
    .share-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      .share-link {
        display: block;
        height: 18px;
        width: 18px;
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
        svg {
          display: inherit;
          width: inherit;
          height: inherit;
          path[class*=icon] {
            fill: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover,&:focus {
          svg {
            path[class*=icon] {
              fill: #b7986b;
            }
          }
        }
      }
    }
  }
}