.article-featured-products {
  margin-bottom: 20px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 0;
  }
  .afp-col {
    padding-left: 0;
    padding-right: 0;
    .products-list {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .col-product-item {
        flex-basis: 50%;
        .col-product-wrap {
          padding: 0 15px;
          margin-bottom: 50px;
          @media only screen and (max-width: 640px) {
            margin-bottom: 30px;
          }
          .col-product-box {
            position: relative;
            .product-link {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 5;
            }
            .col-product-img-wrap {
              overflow: hidden;
              position: relative;
              .product-sticker {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
                background-color: $third-color;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 5px 15px;
              }
              .col-product-img {
                height: 0;
                padding-bottom: 133.3333333333%;
                background-size: cover;
                background-position: 50% 85%;
                animation: zoomout 0.5s ease-out forwards;
              }
            }
            .product-info {
              padding: 15px 10px 0 10px;
              .product-price {
                margin-bottom: 5px;
                span {
                  display: inline-block;
                  text-transform: uppercase;
                  font-size: 17px;
                  @media only screen and (max-width: 374px) {
                    font-size: 15px;
                  }
                  &.sale-price {
                    margin-right: 15px;
                  }
                  &.regular-price {
                    text-decoration: line-through;
                  }
                }
              }
              .product-desc {
                font-size: 20px;
                font-style: italic;
                text-transform: uppercase;
                font-family: "minerva-modern", sans-serif;
                @media only screen and (max-width: 640px) {
                  font-size: 17px;
                }
              }
            }
            &:hover {
              .col-product-img-wrap {
                .col-product-img {
                  animation: zoomin 0.5s linear forwards;
                }
              }
            }
          }
        }
      }
    }
  }
}