.best-stories-section {
  background-color: $secondary-color;
  padding: 40px 0;
  @media only screen and (max-width: 960px) {
    background-color: transparent;
  }
  @media only screen and (max-width: 640px) {
    padding: 20px 0;
  }
  .bs-top-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    @media only screen and (max-width: 640px) {
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .small-title {
      color: $text-color;
      font-family: "minerva-modern", sans-serif;
      font-size: 26px;
      font-style: italic;
      text-transform: uppercase;
      @media only screen and (max-width: 640px) {
        font-size: 20px;
      }
    }
    .all-link {
      color: $third-color;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @media only screen and (max-width: 960px) {
        color: #b7986b;
      }
      @media only screen and (max-width: 640px) {
        position: static;
        transform: translateY(0);
      }
      &:hover,&:focus {
        color: #b7986b;
      }
    }
  }
  .bs-col {
    padding-left: 0;
    padding-right: 0;
    .best-stories-box {
      @media only screen and (max-width: 640px) {
        padding: 0 15px;
      }
      .best-stories {
        display: flex;
        flex-wrap: wrap;
        .best-story-item {
          display: flex;
          flex-direction: column;
          flex-basis: 33.3333333333%;
          .best-story-wrap {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0 15px;
            margin-bottom: 30px;
            @media only screen and (max-width: 640px) {
              padding: 0 5px;
            }
            .best-story-box {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              position: relative;
              .story-link {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
              }
              .best-story-img-wrap {
                overflow: hidden;
                position: relative;
                .story-sticker {
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 4;
                  background-color: $third-color;
                  color: #fff;
                  font-size: 13px;
                  text-transform: uppercase;
                  letter-spacing: 2px;
                  padding: 5px 20px;
                  @media only screen and (max-width: 960px) {
                    display: none;
                  }
                }
                .best-story-img {
                  height: 312px;
                  background-size: cover;
                  background-position: 50% 50%;
                  animation: zoomout 0.5s ease-out forwards;
                  @media only screen and (max-width: 1024px) {
                    height: 260px;
                  }
                  @media only screen and (max-width: 960px) {
                    width: 100%;
                    padding-top: 100%;
                    height: auto;
                    border-radius: 50%;
                    animation: none;
                    position: relative;
                    &:before {
                      content: '';
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      border-radius: 50%;
                      background-color: transparent;
                      border: 4px solid #78a2bc;
                      z-index: 2;
                      transition: all 0.3s ease-in-out;
                      @media only screen and (max-width: 640px) {
                        border-width: 2px;
                      }
                    }
                    &:after {
                      content: '';
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      border-radius: 50%;
                      background-color: transparent;
                      border: 8px solid #fff;
                      z-index: 1;
                      transition: all 0.3s ease-in-out;
                      @media only screen and (max-width: 640px) {
                        border-width: 4px;
                      }
                    }
                  }
                }
              }
              .best-story-content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 20px 30px;
                background-color: #fff;
                @media only screen and (max-width: 960px) {
                  background-color: transparent;
                  padding: 0;
                }
                .story-title {
                  font-size: 20px;
                  text-transform: uppercase;
                  transition: all 0.3s ease-in-out;
                  @media only screen and (max-width: 960px) {
                    margin-top: 15px;
                    font-size: 22px;
                    text-align: center;
                    font-family: "neuzeit-grotesk", sans-serif;
                    font-style: normal;
                    text-transform: none;
                    line-height: 1.25;
                    margin-bottom: 0;
                  }
                  @media only screen and (max-width: 640px) {
                    font-size: 16px;
                  }
                  @media only screen and (max-width: 374px) {
                    font-size: 15px;
                  }
                }
                .best-story-text {
                  margin-bottom: 30px;
                  font-size: 17px;
                  @media only screen and (max-width: 960px) {
                    display: none;
                  }
                  p,li,a {
                    font-size: inherit;
                  }
                }
                .read-more {
                  display: inline-block;
                  margin-top: auto;
                  color: #b7986b;
                  font-size: 13px;
                  font-weight: 700;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                  transition: all 0.3s ease-in-out;
                  @media only screen and (max-width: 960px) {
                    display: none;
                  }
                }
              }
              &:hover {
                .best-story-img-wrap {
                  .best-story-img {
                    animation: zoomin 0.5s linear forwards;
                    @media only screen and (max-width: 960px) {
                      animation: none;
                    }
                    @media only screen and (max-width: 640px) {
                      &:before {
                        border-color: #e7e7e7;
                      }
                    }
                  }
                }
                .best-story-content {
                  .best-story-text {
                    .story-title {
                      //color: $primary-color;
                    }
                  }
                  .read-more {
                    color: $third-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}