.blog-posts-section {
  margin-bottom: 30px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 20px;
  }
  .blog-posts-categories {
    display: flex;
    margin-bottom: 50px;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
    a {
      display: inline-block;
      background-color: $third-color;
      color: #fff;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 5px 20px;
      text-decoration: none;
      margin-right: 20px;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 640px) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
      &:last-child {
        margin-right: 0;
        @media only screen and (max-width: 640px) {
          margin-right: 0;
        }
      }
      &:hover,&:focus {
        background-color: $primary-color;
      }
    }
    .active-category {
      display: inline-block;
      background-color: $primary-color;
      color: #fff;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 5px 20px;
      text-decoration: none;
      margin-right: 20px;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
      cursor: default;
    }
  }
  .blog-col {
    padding-left: 0;
    padding-right: 0;
    .blog-posts-box {
      .blog-posts {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 640px) {
          display: block;
        }
        .blog-post-item {
          display: flex;
          flex-direction: column;
          flex-basis: 33.3333333333%;
          @media only screen and (max-width: 960px) {
            flex-basis: 50%;
          }
          .blog-post-wrap {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0 15px;
            margin-bottom: 30px;
            .blog-post-box {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              position: relative;
              .blog-post-link {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
              }
              .blog-post-img-wrap {
                overflow: hidden;
                position: relative;
                .blog-category {
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 4;
                  background-color: $third-color;
                  color: #fff;
                  font-size: 13px;
                  text-transform: uppercase;
                  letter-spacing: 2px;
                  padding: 5px 20px;
                }
                .blog-post-img {
                  height: 0;
                  padding-bottom: 80%;
                  background-size: cover;
                  background-position: 50% 50%;
                  animation: zoomout 0.5s ease-out forwards;
                  @media only screen and (max-width: 640px) {
                    padding-bottom: 65%;
                  }
                }
              }
              .blog-post-content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 20px 30px;
                background-color: #fff;
                @media only screen and (max-width: 640px) {
                  padding: 20px;
                }
                .blog-post-title {
                  font-size: 20px;
                  text-transform: uppercase;
                  transition: all 0.3s ease-in-out;
                }
                .blog-post-text {
                  margin-bottom: 30px;
                  font-size: 17px;
                  p,li,a {
                    font-size: inherit;
                  }
                }
                .read-more {
                  display: inline-block;
                  margin-top: auto;
                  color: #b7986b;
                  font-size: 13px;
                  font-weight: 700;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                  transition: all 0.3s ease-in-out;
                }
              }
              &:hover {
                .blog-post-img-wrap {
                  .blog-post-img {
                    animation: zoomin 0.5s linear forwards;
                  }
                }
                .blog-post-content {
                  .read-more {
                    color: $third-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}