.breadcrumbs-section {
  padding: 30px 0;
  @media only screen and (max-width: 374px) {
    padding: 20px 0;
  }
  .breadcrumbs-box {
    a,span {
      display: inline-block;
      color: $text-color;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    a {
      &:hover {
        color: $primary-color;
      }
    }
    .divider {
      display: inline-block;
      padding: 0 5px;
      position: relative;
      top: -1px;
    }
  }
}