.cart-up-sale {
  margin-bottom: 50px;
  .cart-up-sale-box {
    background-color: #fff;
    padding: 35px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 960px) {
      display: block;
    }
    @media only screen and (max-width: 640px) {
      padding: 20px;
    }
    .up-sale-img-wrapper {
      @media only screen and (max-width: 960px) {
        margin-bottom: 15px;
      }
      img {
        display: block;
        width: 70px;
        min-width: 70px;
        @media only screen and (max-width: 960px) {
          min-width: auto;
          width: 140px;
          margin: 0 auto;
        }
        @media only screen and (max-width: 640px) {
          margin: 0;
        }
        @media only screen and (max-width: 374px) {
          width: 100px;
        }
      }
    }
    .up-sale-desc {
      width: 320px;
      min-width: 320px;
      @media only screen and (max-width: 960px) {
        text-align: center;
        min-width: auto;
        width: 50%;
        margin: 0 auto 15px auto;
      }
      @media only screen and (max-width: 640px) {
        width: 100%;
        text-align: left;
      }
    }
    .up-sale-size-box {
      select {
        width: 200px;
        height: 48px;
        cursor: pointer;
        line-height: 48px;
        border: 1px solid $third-color;
        padding-left: 10px;
        padding-right: 20px;
        color: $text-color;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        outline: none !important;
        border-radius: 0 !important;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        background-image: url("{{'select-arrow.svg'|asset_url}}");
        background-size: 13px 7px;
        background-position: 95% 50%;
        background-repeat: no-repeat;
        &::-ms-expand {
          display: none;
        }
        @media only screen and (max-width: 960px) {
          display: block;
          width: 50%;
          margin: 0 auto 20px auto;
        }
        @media only screen and (max-width: 640px) {
          width: 100%;
        }
      }
    }
    .up-sale-btn-wrap {
      @media only screen and (max-width: 960px) {
        width: 100%;
        text-align: center;
      }
      .btn {
        @media only screen and (max-width: 960px) {
          width: 50%;
        }
        @media only screen and (max-width: 640px) {
          display: block;
          width: 100%;
        }
        @media only screen and (max-width: 374px) {
          padding: 14px 30px;
        }
      }
    }
  }
}
.cart-table-section {
  margin-bottom: 50px;
  .cart-products-table {
    margin-bottom: 30px;
    .flex-table {
      display: flex;
      flex-wrap: wrap;
      transition: 0.3s;
      @media only screen and (max-width: 640px) {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #b7b7b7;
      }
      &.cart-table-header {
        @media only screen and (max-width: 640px) {
          display: none;
        }
      }
      .flex-row {
        width: 20%;
        padding: 20px 0;
        border-bottom: 1px solid #b7b7b7;
        @media only screen and (max-width: 960px) {
          width: 25%;
        }
        @media only screen and (max-width: 640px) {
          width: 100%;
          padding: 12px 0;
          border-bottom: none;
        }
        &.first {
          width: 40%;
          @media only screen and (max-width: 960px) {
            width: 25%;
          }
          @media only screen and (max-width: 640px) {
            width: 100%;
          }
        }
        .cart-table-title {
          font-family: "minerva-modern", sans-serif;
          font-size: 24px;
          font-style: italic;
          color: $third-color;
          text-transform: uppercase;
          letter-spacing: 1px;
          line-height: 1;
        }
        .product-info {
          display: flex;
          align-items: center;
          margin-right: 30px;
          position: relative;
          .product-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
          }
          .product-img-wrap {
            display: block;
            width: 68px;
            margin-right: 30px;
            position: relative;
            @media only screen and (max-width: 960px) {
              margin-right: 20px;
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background: transparent;
              border: 1px solid $third-color;
              transition: all 0.3s ease-in-out;
            }
            img {
              display: inherit;
              width: inherit;
            }
          }
          .product-name {
            display: inline-block;
            color: #1f191a;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            .product-img-wrap {
              &:before {
                //opacity: 1;
              }
            }
            .product-name {
              color: $primary-color;
            }
          }
        }
        .product-size-info {
          display: flex;
          height: 100%;
          align-items: center;
          .size-name {
            display: inline-block;
            color: #1f191a;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }
        }
        .product-count-box {
          display: flex;
          align-items: center;
          height: 100%;
          .product-quantity {
            display: flex;
            outline: 1px solid $third-color;
            user-select: none;
            .product-count {
              display: block;
              width: 60px;
              height: 35px;
              border: none;
              text-align: center;
              padding-left: 15px;
              margin: 0;
              background: transparent;
              outline: none;
              @media only screen and (max-width: 1024px) {
                padding-left: 0;
                width: 46px;
              }
            }
            .quantity-button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 35px;
              cursor: pointer;
              font-size: 0;
              color: transparent;
              transition: all 0.3s ease-in-out;
              position: relative;
              &.block-button {
                background: #ccc;
                cursor: unset;

                &:hover {
                  background: #ccc;
                }
              }
              &:before {
                content: '';
                position: absolute;
                top: 16px;
                left: 9px;
                width: 12px;
                height: 2px;
                background-color: $third-color;
              }
              &:after {
                content: '';
                position: absolute;
                top: 11px;
                left: 14px;
                width: 2px;
                height: 12px;
                background-color: $third-color;
              }
              &.quantity-down {
                &:after {
                  display: none;
                }
              }
              &:hover {
                box-sizing: border-box;
                background-color: $secondary-color;
              }
            }
          }
          .delete-link {
            display: inline-block;
            font-size: 13px;
            color: #b7986b;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            transition: all 0.3s ease-in-out;
            margin-left: 15px;
            &:hover,&:focus {
              color: $third-color;
            }
          }
        }
        .product-prices-info {
          display: flex;
          justify-content: flex-end;
          height: 100%;
          align-items: center;
          color: #1f191a;
          font-size: 14px;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          @media only screen and (max-width: 640px) {
            justify-content: flex-start;
          }
          span {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
            text-transform: inherit;
            text-decoration: inherit;
            &.old-price {
              text-decoration: line-through;
              margin-right: 20px;
            }
            &.new-price {
              font-weight: 700;
            }
          }
          .save-box {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            @media only screen and (max-width: 960px) {
              display: none;
            }
          }
        }
        &.price-column {
          .cart-table-title {
            display: block;
            text-align: right;
          }
        }
      }
    }
  }
  .total-sum-box {
    text-align: right;
    margin-bottom: 30px;
    span {
      display: inline-block;
      color: #1f191a;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      &.total-text {
        margin-right: 30px;
      }
    }
  }
  .cart-button-wrap {
    text-align: right;
  }
}

.cart-empty-text {
  text-align: center;
  p {
    margin-bottom: 20px;
    @media only screen and (max-width: 640px) {
      margin-bottom: 15px;
    }
  }
  @media only screen and (max-width: 640px) {
    text-align: left;
  }
}
