.collections-section {
  margin-bottom: 40px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 20px;
  }
  .collections-title {
    text-align: center;
    margin-bottom: 50px;
    font-family: "neuzeit-grotesk", sans-serif;
    font-style: normal;
    @media only screen and (max-width: 800px) {
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 640px) {
      margin-bottom: 35px;
      text-align: left;
    }
    @media only screen and (max-width: 374px) {
      margin-bottom: 25px;
    }
  }
  .collections-col {
    padding-left: 0;
    padding-right: 0;
    .collections-list {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .collection-item {
        flex-basis: 50%;
        .collection-box {
          padding: 0 15px;
          margin-bottom: 30px;
          .collection-img-wrap {
            overflow: hidden;
            .collection-img {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: center;
              height: 350px;
              background-size: cover;
              background-position: 50% 50%;
              padding: 30px;
              @media only screen and (max-width: 1024px) {
                height: 300px;
              }
              @media only screen and (max-width: 800px) {
                height: 250px;
              }
              @media only screen and (max-width: 640px) {
                height: 230px;
              }
              @media only screen and (max-width: 374px) {
                height: 200px;
              }
              .collection-name {
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                font-size: 42px;
                @media only screen and (max-width: 1024px) {
                  font-size: 36px;
                }
                @media only screen and (max-width: 374px) {
                  font-size: 32px;
                }
              }
              .collection-button-wrap {
                .btn {
                  padding: 10px 40px 10px 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}