.columns-text-section {
  margin-bottom: 30px;
  .col-text-col {
    padding-left: 0;
    padding-right: 0;
    @media only screen and (max-width: 800px) {
      width: 100% !important;
    }
    .text-columns {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .text-column {
        flex-basis: 50%;
        .text-column-content {
          padding: 0 15px;
          margin-bottom: 30px;
          h1,h2,h3,h4,h5,h6 {
            text-transform: uppercase;
          }
          p,li,a {
            font-size: 16px;
          }
        }
      }
    }
  }
}