.collection-section {
  margin-bottom: 20px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 0;
  }
  .collection-title {
    text-align: center;
    margin-bottom: 50px;
    font-family: "neuzeit-grotesk", sans-serif;
    font-style: normal;
    @media only screen and (max-width: 800px) {
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 640px) {
      margin-bottom: 35px;
      text-align: left;
    }
    @media only screen and (max-width: 374px) {
      margin-bottom: 25px;
    }
  }
  .collection-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @media only screen and (max-width: 1023px) {
      display: block;
    }
    .products-filters {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 1023px) {
        margin: 0 -10px 20px -10px;
      }
      @media only screen and (max-width: 640px) {
        display: block;
        margin: 0 0 20px 0;
      }
      .filter-select-wrap {
        padding-right: 20px;
        &:last-child {
          padding-right: 20px;
        }
        @media only screen and (max-width: 1023px) {
          flex-basis: 33.3333333333%;
          padding-left: 10px;
          padding-right: 10px;
          &:last-child {
            padding-right: 10px;
          }
        }
        @media only screen and (max-width: 640px) {
          padding: 0;
          margin-bottom: 10px;
          &:last-child {
            padding: 0;
            margin-bottom: 0;
          }
        }
        select {
          width: 200px;
          height: 36px;
          cursor: pointer;
          line-height: 36px;
          border: 1px solid $third-color;
          padding-left: 10px;
          padding-right: 20px;
          color: $text-color;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
          outline: none !important;
          border-radius: 0 !important;
          -webkit-appearance: none !important;
          -moz-appearance: none;
          appearance: none;
          background-color: transparent;
          background-image:  url("{{'select-arrow.svg'|asset_url}}");
          background-size: 13px 7px;
          background-position: 95% 50%;
          background-repeat: no-repeat;
          &::-ms-expand {
            display: none;
          }
          @media only screen and (max-width: 1023px) {
            width: 100%;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .products-sorting {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 1023px) {
        justify-content: center;
        padding: 10px 0;
      }
      @media only screen and (max-width: 640px) {
        justify-content: space-between;
        padding: 0;
      }
      label {
        margin-right: 20px;
        color: $text-color;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      select {
        color: $text-color;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        outline: none !important;
        cursor: pointer;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        background-image: url("{{'select-arrow.svg'|asset_url}}");
        background-size: 13px 7px;
        background-position: 98% 50%;
        background-repeat: no-repeat;
        border-radius: 0 !important;
        border: none !important;
        padding-left: 0;
        padding-right: 22px;
        &::-ms-expand {
          display: none;
        }
      }
    }
  }
  .products-count {
    display: inline-block;
    color: $text-color;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  .collection-products-col {
    padding-left: 0;
    padding-right: 0;
    .collection-list {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .col-product-item {
        flex-basis: 33.3333333333%;
        .col-product-wrap {
          padding: 0 15px;
          margin-bottom: 50px;
          .col-product-box {
            position: relative;
            .product-link {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 5;
            }
            .col-product-img-wrap {
              overflow: hidden;
              position: relative;
              .product-sticker {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
                background-color: $third-color;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 5px 15px;
              }
              .col-product-img {
                height: 0;
                padding-bottom: 133.3333333333%;
                background-size: cover;
                background-position: 50% 85%;
                animation: zoomout 0.5s ease-out forwards;
              }
            }
            .product-info {
              padding: 15px 10px 0 10px;
              .product-price {
                margin-bottom: 5px;
                span {
                  display: inline-block;
                  text-transform: uppercase;
                  font-size: 17px;
                  @media only screen and (max-width: 374px) {
                    font-size: 15px;
                  }
                  &.sale-price {
                    margin-right: 15px;
                  }
                  &.regular-price {
                    text-decoration: line-through;
                  }
                }
              }
              .product-desc {
                font-size: 20px;
                font-style: italic;
                text-transform: uppercase;
                font-family: "minerva-modern", sans-serif;
                @media only screen and (max-width: 640px) {
                  font-size: 17px;
                }
              }
            }
            &:hover {
              .col-product-img-wrap {
                .col-product-img {
                  animation: zoomin 0.5s linear forwards;
                }
              }
            }
          }
        }
      }
    }
  }
}