.contact-section {
  margin-bottom: 100px;
  @media only screen and (max-width: 800px) {
    margin-bottom: 70px;
  }
  .contact-text {
    text-align: center;
    margin-bottom: 50px;
    @media only screen and (max-width: 640px) {
      text-align: left;
    }
  }
  .contact-col {
    padding-left: 0;
    padding-right: 0;
    .contact-box {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      > div {
        flex-basis: 50%;
        &.contact-map-wrap {
          padding: 0 15px;
          @media only screen and (max-width: 640px) {
            margin-bottom: 30px;
          }
          .contact-map-box {
            iframe {
              height: 365px;
            }
          }
        }
        &.contact-form-wrap {
          padding: 0 15px;
          .contact-form {
            form {
              input {
                display: block;
                width: 100%;
                height: 36px;
                line-height: 36px;
                border: 1px solid #292422;
                padding-left: 10px;
                background-color: #f7f7f7;
                outline: none;
                position: relative;
                margin-bottom: 15px;
                @include placeholder {
                  font-size: 14px;
                  color: $third-color;
                  letter-spacing: 2px;
                  font-weight: 300;
                  text-transform: uppercase;
                }
              }
              textarea {
                display: block;
                width: 100%;
                resize: none;
                height: 200px;
                border: 1px solid $third-color;
                padding: 10px 0 0 10px;
                outline: none;
                background-color: #f7f7f7;
                margin-bottom: 15px;
              }
              .btn {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}