.cta-section {
  display: flex;
  align-items: center;
  height: 540px;
  background-size: cover;
  background-position: 50% 50%;
  @media only screen and (max-width: 1024px) {
    height: 450px;
  }
  @media only screen and (max-width: 800px) {
    height: 400px;
  }
  @media only screen and (max-width: 640px) {
    align-items: flex-end;
    background-position: 65% 50%;
  }
  @media only screen and (max-width: 374px) {
    height: 360px;
  }
  .cta-content {
    @media only screen and (max-width: 640px) {
      padding: 0 30px 50px 30px;
    }
    @media only screen and (max-width: 374px) {
      padding: 0 20px 50px 20px;
    }
    .subtitle-wrap {
      @media only screen and (max-width: 640px) {
        text-align: center;
      }
      .subtitle {
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 15px;
        @media only screen and (max-width: 640px) {
          margin-bottom: 10px;
        }
        @media only screen and (max-width: 374px) {
          font-size: 12px;
        }
      }
    }
    .cta-title {
      font-size: 46px;
      text-transform: uppercase;
      margin-bottom: 25px;
      @media only screen and (max-width: 640px) {
        text-align: center;
        font-size: 36px;
        margin-bottom: 15px;
      }
      @media only screen and (max-width: 374px) {
        font-size: 30px;
      }
    }
    .cta-description {
      color: $text-color;
      @media only screen and (max-width: 640px) {
        text-align: center;
      }
      p,li,a {
        color: inherit;
        @media only screen and (max-width: 640px) {
          font-size: 14px;
        }
      }
    }
    .cat-button-wrapper {
      margin-top: 30px;
      @media only screen and (max-width: 640px) {
        text-align: center;
      }
      .btn {
        @media only screen and (max-width: 640px) {
          padding: 6px 20px 6px 20px;
        }
      }
    }
  }
  &.light {
    .cta-content {
      .subtitle-wrap {
        .subtitle {
          color: #fff;
        }
      }
      .cta-title {
        color: #fff;
      }
      .cta-description {
        color: #fff;
      }
      .cat-button-wrapper {
        .btn {
          background-color: #fff;
          color: $third-color;
          &:hover,&:focus {
            background-color: $secondary-color;
            color: $third-color;
          }
        }
      }
    }
  }
}