.faq-categories-section {
  .faq-categories {
    display: flex;
    margin-bottom: 50px;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
    a {
      display: inline-block;
      background-color: $third-color;
      color: #fff;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 5px 20px;
      text-decoration: none;
      margin-right: 20px;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 640px) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
      &:last-child {
        margin-right: 0;
        @media only screen and (max-width: 640px) {
          margin-right: 0;
        }
      }
      &:hover,&:focus {
        background-color: $primary-color;
      }
    }
    .active-category {
      display: inline-block;
      background-color: $primary-color;
      color: #fff;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 5px 20px;
      text-decoration: none;
      margin-right: 20px;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
      cursor: default;
    }
  }
}