.featured-blocks {
  padding: 40px 0;
  background-color: #ffffff;
  @media only screen and (max-width: 640px) {
    margin-bottom: 0;
  }
  .fb-sec-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    @media only screen and (max-width: 640px) {
      font-size: 24px;
      margin-bottom: 50px;
    }
  }
  .fb-col {
    padding-left: 0;
    padding-right: 0;
    .fb-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .fb-item {
        flex-basis: 33.3333333333%;
        @media only screen and (max-width: 960px) {
          flex-basis: 50%;
        }
        .fb-box {
          padding: 0 15px;
          margin-bottom: 30px;
          @media only screen and (max-width: 640px) {
            margin-bottom: 50px;
          }
          .fb-wrapper {
            .fb-icon-wrapper {
              margin-bottom: 20px;
              img,svg {
                display: block;
                height: 70px;
                margin: 0 auto;
              }
            }
            .fb-title {
              text-align: center;
              text-transform: uppercase;
              margin-bottom: 15px;
            }
            .fb-text {
              text-align: center;
              margin-bottom: 25px;
            }
            .fb-button-wrapper {
              text-align: center;
              .btn {
                @media only screen and (max-width: 640px) {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}