.featured-collections {
  margin-bottom: 90px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 60px;
  }
  .bar-title {
    text-transform: uppercase;
    margin-bottom: 80px;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 640px) {
      font-size: 22px;
      padding-right: 15px;
      margin-bottom: 30px;
    }
    @media only screen and (max-width: 374px) {
      font-size: 20px;
      padding-right: 0;
    }
  }
  .fc-top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .small-title {
      color: $text-color;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .all-link {
      color: #b7986b;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #b7986b;
        transition: all 0.3s ease-in-out;
      }
      &:hover,&:focus {
        &:before {
          width: 100%;
        }
      }
    }
  }
  .fc-slider-wrap {
    padding-top: 30px;
    @media only screen and (max-width: 1024px) {
      padding-left: 0 !important;
    }
    @media only screen and (max-width: 640px) {
      padding-top: 15px;
    }
    .fc-slider {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 15px;
        background-color: #f7f7f7;
        z-index: 10;
      }
      .slick-list {
        padding-right: 10%;
        @media only screen and (max-width: 640px) {
          padding-right: 37px;
        }
        .slick-track {
          .slick-slide {
            padding: 0 15px;
            outline: none !important;
            @media only screen and (max-width: 640px) {
              padding: 0 7px;
            }
            .fc-slide-img-wrap {
              padding-bottom: 110px;
              position: relative;
              @media only screen and (max-width: 1024px) {
                padding-bottom: 90px;
              }
              @media only screen and (max-width: 800px) {
                padding-bottom: 76px;
              }
              @media only screen and (max-width: 640px) {
                padding-bottom: 46px;
              }
              .slide-link {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
              }
              .fc-slide-img-box {
                overflow: hidden;
                .fc-slide-img {
                  height: 360px;
                  background-size: cover;
                  background-position: 50% 50%;
                  animation: zoomout 0.5s ease-out forwards;
                  @media only screen and (max-width: 1024px) {
                    height: 360px !important;
                  }
                  @media only screen and (max-width: 800px) {
                    height: 250px !important;
                  }
                  @media only screen and (max-width: 640px) {
                    height: 420px !important;
                  }
                  @media only screen and (max-width: 374px) {
                    height: 350px !important;
                  }
                }
              }
              .fc-slide-content {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 0 40px;
                @media only screen and (max-width: 1024px) {
                  padding: 0 30px;
                }
                @media only screen and (max-width: 800px) {
                  padding: 0 15px;
                }
                @media only screen and (max-width: 640px) {
                  padding: 0 30px;
                }
                .fc-product-title {
                  font-size: 44px;
                  color: rgba(182,147,134,.5);
                  text-transform: uppercase;
                  margin-bottom: 10px;
                  position: relative;
                  bottom: 0;
                  opacity: 0.8;
                  transition: all 0.5s ease-in-out;
                  @media only screen and (max-width: 1024px) {
                    font-size: 33px;
                    opacity: 1;
                  }
                  @media only screen and (max-width: 800px) {
                    font-size: 27px;
                  }
                  @media only screen and (max-width: 640px) {
                    font-size: 33px;
                  }
                  span {
                    color: #fff;
                    opacity: 1;
                    font-family: "minerva-modern", sans-serif;
                  }
                }
                .shop-link {
                  color: #b7986b;
                  font-size: 13px;
                  font-weight: 700;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                  text-decoration: none;
                  transition: all 0.3s ease-in-out;
                  position: relative;
                }
              }
              &:hover {
                .fc-slide-img-box {
                  .fc-slide-img {
                    animation: zoomin 0.5s linear forwards;
                  }
                }
                .fc-slide-content {
                  .fc-product-title {
                    bottom: 28px;
                    opacity: 1;
                    @media only screen and (max-width: 1024px) {
                      bottom: 0;
                      opacity: 1;
                    }
                  }
                  .shop-link {
                    color: $third-color;
                  }
                }
              }
            }
          }
        }
      }
      .slick-arrow {
        display: block;
        width: 54px;
        height: 54px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 50%;
        font-size: 0;
        color: transparent;
        background-color: $primary-color;
        position: absolute;
        top: calc(50% - 55px);
        z-index: 11;
        transform: translateY(-50%);
        outline: none !important;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 1160px) {
          display: none !important;
        }
        &:before {
          content: '';
          position: absolute;
          top: 11px;
          left: 17px;
          width: 16px;
          height: 32px;
          background-image: url("{{'chevron.svg'|asset_url}}");
          z-index: 12;
        }
        &:hover {
          //background-color: #b7986b;
        }
        &.slick-prev {
          left: -12px;
        }
        &.slick-next {
          right: calc(10% - 12px);
          &:before {
            left: 20px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}