.featured-products {
  margin-bottom: 90px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 60px;
  }
  .fc-top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .small-title {
      color: $text-color;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .all-link {
      color: #b7986b;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #b7986b;
        transition: all 0.3s ease-in-out;
      }
      &:hover,&:focus {
        &:before {
          width: 100%;
        }
      }
    }
  }
  .fc-slider-wrap {
    padding-top: 30px;
    @media only screen and (max-width: 1024px) {
      padding-left: 0 !important;
    }
    @media only screen and (max-width: 640px) {
      padding-top: 15px;
    }
    .fc-slider {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 15px;
        background-color: #f7f7f7;
        z-index: 10;
      }
      .slick-list {
        padding-right: 10%;
        @media only screen and (max-width: 640px) {
          padding-right: 35%;
        }
        .slick-track {
          .slick-slide {
            padding: 0 15px;
            outline: none !important;
            @media only screen and (max-width: 640px) {
              padding: 0 10px;
            }
            .fc-slide-img-wrap {
              position: relative;
              .slide-link {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
              }
              .product-sticker {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
                background-color: $third-color;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 5px 15px;
              }
              .fc-slide-img-box {
                overflow: hidden;
                .fc-slide-img {
                  height: 360px;
                  background-size: cover;
                  background-position: 50% 85%;
                  animation: zoomout 0.5s ease-out forwards;
                  @media only screen and (max-width: 1024px) {
                    height: 360px !important;
                  }
                  @media only screen and (max-width: 800px) {
                    height: 250px !important;
                  }
                  @media only screen and (max-width: 640px) {
                    height: 300px !important;
                  }
                  @media only screen and (max-width: 374px) {
                    height: 250px !important;
                  }
                }
              }
              .product-info {
                padding: 20px 10px 0 10px;
                .product-price {
                  margin-bottom: 5px;
                  span {
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 17px;
                    @media only screen and (max-width: 374px) {
                      font-size: 15px;
                      display: block;
                    }
                    &.sale-price {
                      margin-right: 15px;
                    }
                    &.regular-price {
                      text-decoration: line-through;
                    }
                  }
                }
                .product-desc {
                  font-size: 20px;
                  font-style: italic;
                  text-transform: uppercase;
                  font-family: "minerva-modern", sans-serif;
                  @media only screen and (max-width: 640px) {
                    font-size: 17px;
                  }
                }
              }
              &:hover {
                .fc-slide-img-box {
                  .fc-slide-img {
                    animation: zoomin 0.5s linear forwards;
                  }
                }
              }
            }
          }
        }
      }
      .slick-arrow {
        display: block;
        width: 54px;
        height: 54px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 50%;
        font-size: 0;
        color: transparent;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        z-index: 11;
        transform: translateY(-50%);
        outline: none !important;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 1160px) {
          display: none !important;
        }
        &:before {
          content: '';
          position: absolute;
          top: 11px;
          left: 17px;
          width: 16px;
          height: 32px;
          background-image: url("{{'chevron.svg'|asset_url}}");
          z-index: 12;
        }
        &:hover {
          //background-color: #b7986b;
        }
        &.slick-prev {
          left: -12px;
        }
        &.slick-next {
          right: calc(10% - 12px);
          &:before {
            left: 20px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}