.features-blocks-section {
  padding-top: 40px;
  background-color: $secondary-color;
  @media only screen and (max-width: 640px) {
    padding-top: 0;
  }
  .features-blocks-col {
    padding-left: 0;
    padding-right: 0;
    .features-blocks-line {
      .features-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @media only screen and (max-width: 640px) {
          display: block;
        }
        .features-block-item {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          &:last-child {
            border-bottom: none;
          }
          @media only screen and (max-width: 1023px) {
            flex-basis: 50%;
          }
          @media only screen and (max-width: 640px) {
            border-bottom: 1px solid $primary-color;
          }
          .features-block-box {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 15px;
            margin-bottom: 40px;
            @media only screen and (max-width: 640px) {
              margin-bottom: 0;
              flex-direction: row;
              justify-content: flex-start;
              padding: 12px 15px;
              align-items: center;
            }
            .fb-icon {
              display: flex;
              justify-content: center;
              @media only screen and (max-width: 640px) {
                margin-right: 20px;
              }
              svg,img {
                display: block;
                width: 48px;
                height: auto;
                max-height: 48px;
                @media only screen and (max-width: 640px) {
                  width: 24px;
                  max-height: 24px;
                }
              }
            }
            .fb-title-box {
              text-align: center;
              margin-top: 30px;
              @media only screen and (max-width: 640px) {
                margin-top: 0;
              }
              .fb-title {
                color: $third-color;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}