.footer {
  background-color: $primary-color;
  .footer-top-row {
    display: flex;
    @media only screen and (max-width: 640px) {
      display: block;
      padding-top: 30px;
    }
    .footer-menu-col {
      .footer-menu-box {
        .footer-logo {
          display: block;
          width: 129px;
          height: 35px;
          margin-top: 50px;
          @media only screen and (max-width: 800px) {
            margin-top: 20px;
          }
          @media only screen and (max-width: 640px) {
            margin: 30px auto 0 auto;
          }
          svg {
            display: inherit;
            width: inherit;
            height: inherit;
            .logo-svg {
              fill: #fff;
            }
          }
        }
        .footer-menu {
          display: block;
          margin: 25px 0 0 0;
          padding: 0;
          font-size: 0;
          > li {
            display: inline-block;
            list-style: none;
            vertical-align: top;
            margin: 0 20px;
            @media only screen and (max-width: 800px) {
              margin: 0 12px;
            }
            @media only screen and (max-width: 640px) {
              display: block;
              margin: 0;
              text-align: center;
              padding: 5px 0;
            }
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            > a {
              display: inline-block;
              color: #fff;
              text-decoration: none;
              font-size: 13px;
              text-transform: uppercase;
              letter-spacing: 2px;
              transition: all 0.3s ease-in-out;
              &:hover,&:focus {
                color: $secondary-color;
              }
            }
          }
        }
        .footer-socials {
          display: block;
          margin: 40px 0 30px 0;
          padding: 0;
          font-size: 0;
          @media only screen and (max-width: 800px) {
            margin: 20px 0;
          }
          @media only screen and (max-width: 640px) {
            text-align: center;
            margin-bottom: 30px;
          }
          > li {
            display: inline-block;
            list-style: none;
            margin: 0 6px;
            @media only screen and (max-width: 360px) {
              margin: 0 10px;
            }
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            > a {
              display: block;
              width: 24px;
              height: 24px;
              transition: all 0.3s ease-in-out;
              svg {
                display: inherit;
                width: inherit;
                height: inherit;
                .facebook0,.instagram0 {
                  fill: #fff;
                  transition: all 0.3s ease-in-out;
                }
              }
              &:hover,&:focus {
                svg {
                  .facebook0,.instagram0 {
                    fill: $secondary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    .subscribe-col {
      display: flex;
      align-items: center;
      .subscribe-form-box {
        flex-basis: 100%;
        .subscribe-form {
          display: block;
          .email-label {
            display: block;
            font-size: 17px;
            color: #fff;
            font-weight: 300;
            margin-bottom: 10px;
            @media only screen and (max-width: 800px) {
              font-size: 14px;
            }
            @media only screen and (max-width: 640px) {
              font-size: 16px;
            }
            @media only screen and (max-width: 374px) {
              font-size: 14px;
            }
          }
          .form-inputs-wrap {
            display: flex;
            @media only screen and (max-width: 800px) {
              display: block;
            }
            .email-field {
              flex-basis: 100%;
              height: 40px;
              background-color: transparent;
              border: 1px solid #fff;
              padding: 0 10px;
              color: #fff;
              font-weight: 300;
              outline: none;
              text-transform: none;
              letter-spacing: 1px;
              font-size: 16px;
              line-height: 16px;
              @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                letter-spacing: 2px;
              }
              @media only screen and (max-width: 800px) {
                width: 100%;
              }
              @include placeholder {
                color: #fff;
                text-transform: uppercase;
              }
            }
            .btn {
              padding: 9px 30px;
              border: 1px solid #fff;
              border-left: none;
              @media only screen and (max-width: 800px) {
                display: block;
                width: 100%;
                margin-top: 10px;
              }
              &:hover,&:focus {
                color: #fff;
                background-color: $third-color;
              }
            }
          }
        }
      }
    }
  }
  .footer-info-box {
    background-color: $third-color;
    .footer-info-col {
      display: flex;
      align-items: center;
      padding: 30px 15px;
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .copyrights {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-right: 50px;
        @media only screen and (max-width: 800px) {
          margin-right: 30px;
        }
        @media only screen and (max-width: 640px) {
          margin-bottom: 10px;
          margin-right: 0;
          text-align: center;
        }
      }
      .footer-links {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 0;
        @media only screen and (max-width: 640px) {
          margin-bottom: 15px;
        }
        > li {
          display: inline-block;
          list-style: none;
          vertical-align: top;
          margin-right: 40px;
          @media only screen and (max-width: 800px) {
            margin-right: 30px;
          }
          @media only screen and (max-width: 640px) {
            display: block;
            margin-right: 0;
            text-align: center;
            padding: 5px 0;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            display: inline-block;
            color: #fff;
            font-size: 13px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover,&:focus {
              color: $primary-color;
            }
          }
        }
      }
      .pay-icons {
        display: block;
        margin: 0 0 0 auto;
        padding: 0;
        font-size: 0;
        @media only screen and (max-width: 640px) {
          text-align: center;
        }
        > li {
          display: inline-block;
          vertical-align: top;
          list-style: none;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          svg {
            display: block;
            width: auto;
            height: 37px;
          }
        }
      }
    }
  }
}