.image-slider-section {
  @media only screen and (max-width: 640px) {
    margin-bottom: 30px;
  }
  .image-slider {
    .slick-slide {
      .slide-image-wrap {
        .slide-image {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 660px;
          background-size: cover;
          background-position: 50% 50%;
          @media only screen and (max-width: 1366px) {
            height: 500px;
          }
          @media only screen and (max-width: 960px) {
            height: 400px;
          }
          @media only screen and (max-width: 640px) {
            height: 360px;
          }
          .slide-content-wrap {
            width: 100%;
            padding-bottom: 145px;
            @media only screen and (max-width: 1140px) {
              padding-bottom: 120px;
            }
            @media only screen and (max-width: 640px) {
              padding-bottom: 25px;
            }
            .slide-title {
              color: #fff;
              font-size: 52px;
              text-align: center;
              margin-bottom: 20px;
              text-transform: uppercase;
              @media only screen and (max-width: 1140px) {
                font-size: 42px;
              }
              @media only screen and (max-width: 960px) {
                font-size: 36px;
              }
              @media only screen and (max-width: 640px) {
                font-size: 32px;
                margin-bottom: 15px;
              }
              @media only screen and (max-width: 374px) {
                font-size: 28px;
              }
            }
            .slide-btn-wrap {
              text-align: center;
              .btn {
                @media only screen and (max-width: 640px) {
                  padding: 6px 20px 6px 20px;
                }
              }
            }
          }
        }
      }
    }
    .slick-dots {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 0;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      @media only screen and (max-width: 640px) {
        display: block;
        left: auto;
        transform: translateX(0);
        top: 15px;
        bottom: auto;
        text-align: center;
        width: 100%;
      }
      > li {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        list-style: none;
        vertical-align: top;
        margin-right: 20px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 640px) {
          border: none;
          background-color: #c0c0c0;
          border-radius: 0;
          height: 6px;
          width: 10%;
          margin-right: 15px;
        }
        @media only screen and (max-width: 374px) {
          margin-right: 10px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 6px;
          left: 6px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #fff;
          @media only screen and (max-width: 640px) {
            display: none;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        button {
          display: none;
        }
        &.slick-active {
          border-color: #fff;
          @media only screen and (max-width: 640px) {
            background-color: #fff;
          }
        }
      }
    }
  }
}