.image-gallery-section {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 640px) {
    display: block;
  }
  .gal-img-wrap {
    flex-basis: 50%;
    .gal-img {
      padding-top: 66.66666666666%;
      background-size: cover;
      background-position: 50% 50%;
    }
  }
}