.instagram-section {
  overflow: hidden;
  padding-top: 50px;
  @media only screen and (max-width: 800px) {
    padding-top: 40px;
  }
  @media only screen and (max-width: 640px) {
    padding-top: 20px;
  }
  .insta-description {
    text-align: center;
    padding-bottom: 35px;
    @media only screen and (max-width: 640px) {
      padding-bottom: 25px;
    }
    .insta-tag {
      font-size: 28px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 25px;
      @media only screen and (max-width: 640px) {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
    .insta-link {
      color: $text-color;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 640px) {
        letter-spacing: 1px;
      }
      &:hover,&:focus {
        color: $primary-color;
      }
    }
  }
  .insta-widget {
    margin-bottom: -4px;
    margin-left: -2px;
    margin-right: -2px;
  }
}