.login-form-section {
  .login-form-box {
    form {
      .inputs-box {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 640px) {
          display: block;
        }
        .form-input {
          flex-basis: 100%;
          height: 36px;
          line-height: 36px;
          border: 1px solid $third-color;
          padding-left: 45px;
          background-color: #f7f7f7;
          outline: none;
          position: relative;
          @media only screen and (max-width: 640px) {
            display: block;
            width: 100%;
          }
          @include placeholder {
            font-size: 14px;
            color: $third-color;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
          }
          &.email-input {
            margin-right: 15px;
            background-color: transparent;
            background-image: url("{{'mail.svg'|asset_url}}");
            background-size: 25px 18px;
            background-position: 10px 50%;
            background-repeat: no-repeat;
            @media only screen and (max-width: 640px) {
              margin-bottom: 20px;
            }
          }
          &.pass-input {
            background-color: transparent;
            background-image: url("{{'pass.svg'|asset_url}}");
            background-size: 14px 18px;
            background-position: 15px 50%;
            background-repeat: no-repeat;
          }
        }
        .btn {
          width: 160px;
          min-width: 160px;
          border: 1px solid $third-color;
          padding: 7px 25px;
          border-left: none;
          @media only screen and (max-width: 640px) {
            display: block;
            width: 100%;
            margin-top: 20px;
          }
        }
        .label-hidden {
          display: none;
        }
      }
      .form-desc {
        width: 80%;
        margin: 30px auto 0 auto;
        font-size: 16px;
        text-align: center;
        @media only screen and (max-width: 800px) {
          width: 100%;
          margin: 30px 0 0 0;
        }
      }
      .form-links {
        text-align: center;
        margin-top: 30px;
        a {
          color: #b7986b;
          display: inline-block;
          padding: 0 15px;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          @media only screen and (max-width: 640px) {
            display: block;
            padding: 0;
            margin-bottom: 10px;
          }
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          &:hover,&:focus {
            color: $third-color;
          }
        }
      }
    }
  }
}