.logos-line-section {
  background-color: $secondary-color;
  padding: 40px 0;
  @media only screen and (max-width: 1024px) {
    padding: 25px 0;
  }
  @media only screen and (max-width: 640px) {
    display: none;
    padding-bottom: 0;
  }
  .logos-col {
    padding-left: 0;
    padding-right: 0;
    .logos-line {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media only screen and (max-width: 640px) {
        flex-wrap: wrap;
      }
      .logo-item-box {
        flex-basis: 200px;
        @media only screen and (max-width: 640px) {
          flex-basis: 50%;
        }
        .logo-item {
          padding: 0 30px;
          @media only screen and (max-width: 640px) {
            padding: 0 20px;
            margin-bottom: 25px;
          }
          img,svg {
            display: block;
            width: 100%;
            height: auto;
            max-height: 36px;
          }
        }
      }
    }
  }
}