.pop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
  cursor: pointer;
}
.pop-up-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  z-index: 1000;
  .pop-col {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    @media only screen and (max-width: 640px) {
      display: block;
    }
    > div {
      width: 50%;
      @media only screen and (max-width: 640px) {
        width: 100%;
      }
      &.pop-up-img-wrap {
        .pop-up-img {
          height: 100%;
          background-size: cover;
          background-position: 50% 50%;
          @media only screen and (max-width: 640px) {
            height: 300px;
          }
        }
      }
      &.pop-up-text-box {
        padding: 50px;
        min-height: 400px;
        @media only screen and (max-width: 640px) {
          padding: 30px;
        }
        .pop-title {
          text-transform: uppercase;
          margin-bottom: 30px;
          @media only screen and (max-width: 374px) {
            font-size: 24px;
          }
        }
        .pop-text {
          p {
            display: inline-block;
            color: $text-color;
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
          }
        }
        .subscribe-form-box {
          flex-basis: 100%;
          margin-top: 30px;
          .subscribe-form {
            display: block;
            .email-label {
              display: none;
              font-size: 17px;
              color: $third-color;
              font-weight: 300;
              margin-bottom: 10px;
              @media only screen and (max-width: 800px) {
                font-size: 14px;
              }
              @media only screen and (max-width: 640px) {
                font-size: 16px;
              }
              @media only screen and (max-width: 374px) {
                font-size: 14px;
              }
            }
            .form-inputs-wrap {
              display: flex;
              @media only screen and (max-width: 800px) {
                display: block;
              }
              .email-field {
                flex-basis: 100%;
                height: 40px;
                background-color: transparent;
                border: 1px solid $third-color;
                padding: 0 10px;
                color: $third-color;
                font-weight: 300;
                outline: none;
                text-transform: none;
                letter-spacing: 1px;
                font-size: 16px;
                line-height: 16px;
                -webkit-appearance: none !important;
                border-radius: 0 !important;
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                  letter-spacing: 2px;
                }
                @media only screen and (max-width: 800px) {
                  width: 100%;
                }
                @include placeholder {
                  color: $third-color;
                  text-transform: uppercase;
                }
              }
              .btn {
                padding: 9px 30px;
                border: 1px solid $third-color;
                border-left: none;
                @media only screen and (max-width: 800px) {
                  display: block;
                  width: 100%;
                  margin-top: 10px;
                }
                &:hover,&:focus {
                  color: $third-color;
                  background-color: $third-color;
                }
              }
            }
          }
        }
        .close-pop {
          display: block;
          font-size: 14px;
          font-weight: 300;
          margin-top: 15px;
          cursor: pointer;
          &:hover,&:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}