.product-section {
  > .row {
    > .columns {
      @media only screen and (max-width: 1023px) {
        float: none !important;
        width: 100% !important;
      }
    }
  }
  .prod-col {
    @media only screen and (max-width: 640px) {
      padding-left: 0;
      padding-right: 0;
    }
    .product-sliders-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      @media only screen and (max-width: 1023px) {
        margin-bottom: 40px;
      }
      @media only screen and (max-width: 640px) {
        display: block;
      }
      .product-th-slider-box {
        width: 68px;
        min-width: 68px;
        margin-right: 30px;
        position: relative;
        @media only screen and (max-width: 640px) {
          display: none;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 12px;
          background-color: #f7f7f7;
        }
        .product-th-slider {
          .slick-slide {
            .product-th-wrap {
              margin-bottom: 10px;
              cursor: pointer;
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: transparent;
                border: 1px solid $third-color;
                transition: all 0.3s ease-in-out;
              }
              img {
                display: block;
                width: 68px;
                height: 84px;
              }
              &.video-cover {
                &:after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  width: 40px;
                  height: 40px;
                  background-image: url("{{'play.svg' | asset_url}}");
                  z-index: 3;
                  opacity: 0.85;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
            &.slick-current {
              .product-th-wrap {
                &:before {
                  opacity: 1;
                }
              }
            }
            &:hover {
              .product-th-wrap {
                &.video-cover {
                  &:after {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      .product-main-slider-box {
        overflow: hidden;
        flex-basis: 100%;
        position: relative;
        .product-sticker {
          position: absolute;
          top: 0;
          left: 0;
          background-color: $third-color;
          color: #fff;
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 5px 15px;
          z-index: 4;
          @media only screen and (max-width: 640px) {
            top: auto;
            left: auto;
            right: 0;
            bottom: 0;
          }
        }
        .product-main-slider {
          .slick-slide {
            outline: none !important;
            .product-image-wrap {
              display: block;
              position: relative;
              overflow: hidden;
              .slide-big-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                outline: none !important;
                cursor: url("{{'zoom.png' | asset_url}}"), auto;
                @media only screen and (max-width: 640px) {
                  display: none;
                }
              }
              img {
                display: block;
                width: 100%;
                animation: zoomout 0.5s ease-out forwards;
              }
            }
            &.video-slide {
              .product-video-wrap {
                width: 100%;
                height: 660px;
                overflow: hidden;
                position: relative;
                background-color: $secondary-color;
                @media only screen and (max-width: 1024px) {
                  height: 456px;
                }
                .slide-video {
                  position: absolute!important;
                  left: 50%;
                  height: inherit;
                  transform: translateX(-50%);
                }
              }
            }
            &:hover {
              img {
                animation: zoomin 0.5s linear forwards;
              }
            }
          }
          .slick-arrow {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 35%;
            height: 100%;
            color: transparent;
            font-size: 0;
            border: none;
            background: transparent;
            outline: none !important;
            z-index: 1;
            &.slick-next {
              left: auto;
              right: 0;
            }
          }
          .slick-dots {
            margin: 0;
            padding: 0;
            font-size: 0;
            position: absolute;
            display: flex;
            top: 15px;
            text-align: center;
            width: 100%;
            justify-content: space-between;
            z-index: 2;
            > li {
              list-style: none;
              vertical-align: top;
              position: relative;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              display: block;
              border: none;
              background-color: transparent;
              flex-basis: 100%;
              line-height: 0;
              font-size: 0;
              padding: 0 2%;
              button {
                width: 100%;
                height: 6px;
                border: none;
                font-size: 0;
                color: transparent;
                background-color: rgba(0,0,0,.2);
                padding: 0;
                margin: 0;
                line-height: 0;
                outline: none;
                overflow: hidden;
                position: relative;
                &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 0;
                  height: 100%;
                  background-color: #fff;
                }
                &.anim {
                  &:before {
                    width: 100%;
                    transition: all 10s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .product-info-box {
    .product-type {
      display: block;
      color: $text-color;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      margin-bottom: 15px;
    }
    .product-title {
      font-size: 28px;
      margin-bottom: 5px;
    }
    .rating-and-reviews {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .stars {
        display: block;
        font-size: 0;
        text-align: center;
        margin-right: 20px;
        .star {
          display: inline-block;
          width: 16px;
          height: 16px;
          position: relative;
          margin-right: 3px;
          &:last-child {
            margin-right: 0;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background-image: url("{{'star.svg' | asset_url}}");
          }
          &:after {
            opacity: 0;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background-image: url("{{'star-grey.svg' | asset_url}}");
          }
        }
        &.stars-1 {
          .star {
            &:before { opacity: 0; }
            &:after { opacity: 1; }
            &:first-child {
              &:before { opacity: 1; }
              &:after { opacity: 0; }
            }
          }
        }
        &.stars-2 {
          .star {
            &:before { opacity: 0; }
            &:after { opacity: 1; }
            &:first-child,&:nth-child(2) {
              &:before { opacity: 1; }
              &:after { opacity: 0; }
            }
          }
        }
        &.stars-3 {
          .star {
            &:before { opacity: 0; }
            &:after { opacity: 1; }
            &:first-child,&:nth-child(2),&:nth-child(3) {
              &:before { opacity: 1; }
              &:after { opacity: 0; }
            }
          }
        }
        &.stars-4 {
          .star {
            &:last-child {
              &:after { opacity: 1; }
              &:before { opacity: 0; }
            }
          }
        }
      }
      .reviews-link {
        font-size: 14px;
        color: $primary-color;
        letter-spacing: 1px;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        top: 2px;
        transition: all 0.3s ease-in-out;
        &:hover,&:focus {
          color: $third-color;
        }
      }
    }
    .product-price {
      display: block;
      color: $text-color;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .other-products-slider {
      width: 408px;
      margin-top: 30px;
      left: -5px;
      @media only screen and (max-width: 640px) {
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: #f7f7f7;
        z-index: 6;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 5px;
        background-color: #f7f7f7;
        z-index: 6;
        @media only screen and (max-width: 640px) {
          display: none;
        }
      }
      .slick-list {
        @media only screen and (max-width: 640px) {
          padding-right: 12%;
        }
        .slick-track {
          margin-left: 0;
          .slick-slide {
            padding: 0 5px;
            .other-product-box {
              position: relative;
              text-align: center;
              .other-product-link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                outline: none;
              }
              .other-product-img-wrap {
                position: relative;
                &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  background: transparent;
                  border: 1px solid $third-color;
                  transition: all 0.3s ease-in-out;
                }
                &.current{
                  border: 1px #000000 solid!important;
                }
                img {
                  display: block;
                  margin: 0 auto;
                }
              }
              &.current{
                border: 1px #000000 solid!important;
              }
              .other-product-name {
                display: block;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 300;
                margin-top: 2px;
                text-align: center;
              }
              &:hover {
                .other-product-img-wrap {
                  &:before {
                    opacity: 1;
                  }
                }
              }
              &.current {
                .other-product-img-wrap {
                  &:before {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      .slick-arrow {
        display: block;
        width: 7px;
        height: 14px;
        border: none;
        font-size: 0;
        color: transparent;
        position: absolute;
        left: 0;
        top: 29px;
        z-index: 7;
        outline: none;
        margin: 0;
        padding: 0;
        background: transparent;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 7px;
          height: 14px;
          background-image: url("{{'chevron_mini3.svg' | asset_url}}");
        }
        &.slick-next {
          left: auto;
          right: -15px;
        }
        &.slick-prev {
          display: none !important;
        }
      }
    }
    .size-box {
      width: 360px;
      margin-top: 20px;
      text-align: right;
      @media only screen and (max-width: 1023px) {
        width: 400px;
      }
      @media only screen and (max-width: 640px) {
        width: 100%;
      }
      .sizes-dropdown {
        border: 1px solid $third-color;
        padding-left: 47px;
        cursor: pointer;
        position: relative;
        text-align: left;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 47px;
          height: 100%;
          border-right: 1px solid $third-color;
          background-color: $secondary-color;
          z-index: 1;
        }
        &:after {
          content: '';
          position: absolute;
          top: 8px;
          left: 15px;
          width: 16px;
          height: 30px;
          border-radius: 3px;
          background-color: $primary-color;
          z-index: 2;
        }
        select {
          display: block;
          width: 100%;
          height: 46px;
          line-height: 47px;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
          position: relative;
          user-select: none;
          border: none !important;
          cursor: pointer;
          background: transparent;
          padding-left: 10px;
          outline: none !important;
          border-radius: 0 !important;
          -webkit-appearance: none !important;
          -moz-appearance: none;
          appearance: none;
          background-image: url("{{'select-arrow.svg' | asset_url}}");
          background-size: 13px 7px;
          background-position: 95% 50%;
          background-repeat: no-repeat;
          &::-ms-expand {
            display: none;
          }
        }
        span {
          display: block;
          height: 46px;
          line-height: 47px;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: uppercase;
          position: relative;
          user-select: none;
          &:after {
            content: '';
            position: absolute;
            top: 19px;
            right: 20px;
            border: 8px solid transparent;
            border-top: 8px solid $third-color;
            z-index: 1;
          }
        }
      }
      .find-size-link {
        display: inline-block;
        font-size: 13px;
        color: #b7986b;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        transition: all 0.3s ease-in-out;
        margin-top: 5px;
        &:before {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: $third-color;
          transition: all 0.3s ease-in-out;
          z-index: 1;
        }
        &:hover,&:focus {
          color: $third-color;
          &:before {
            width: 100%;
          }
        }
      }
    }
    .up-selling-product-box {
      padding: 15px 20px 15px 65px;
      margin-top: 20px;
      background-color: #f3eeec;
      position: relative;
      cursor: pointer;
      user-select: none;
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 26px;
        left: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $third-color;
        transition: all 0.3s ease-in-out;
      }
      &:after {
        content: '';
        position: absolute;
        top: 32px;
        left: 24px;
        width: 12px;
        height: 9px;
        background-image: url("{{'check.svg' | asset_url}}");
        z-index: 2;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      .title {
        display: block;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        margin-bottom: 8px;
        @media only screen and (max-width: 640px) {
          font-size: 12px;
        }
      }
      .prices {
        display: block;
        color: $text-color;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        @media only screen and (max-width: 640px) {
          font-size: 13px;
        }
        .old-price {
          text-decoration: line-through;
          display: none;
        }
        .new-price{
          display: none;
        }
      }
      &.active {
        &:before {
          background-color: #b6986e;
          border-color: #b6986e;
        }
        &:after {
          opacity: 1;
        }
        .old-price {
          text-decoration: line-through;
          display: inline-block;
        }
        .new-price{
          display: inline-block;
        }
        .cur-price{
          display: none;
        }
      }
    }
    .cross-selling-product-box {
      padding: 15px 20px 15px 65px;
      margin-top: 12px;
      background-color: #f3eeec;
      position: relative;
      cursor: pointer;
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 26px;
        left: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $third-color;
        transition: all 0.3s ease-in-out;
      }
      &:after {
        content: '';
        position: absolute;
        top: 32px;
        left: 24px;
        width: 12px;
        height: 9px;
        background-image: url("{{'check.svg' | asset_url}}");
        z-index: 2;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      .title {
        display: block;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        margin-bottom: 8px;
        @media only screen and (max-width: 640px) {
          font-size: 12px;
        }
      }
      .prices {
        display: block;
        color: $text-color;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        @media only screen and (max-width: 640px) {
          font-size: 13px;
        }
        .old-price {
          text-decoration: line-through;
        }
      }
      &.active {
        &:before {
          background-color: #b6986e;
          border-color: #b6986e;
        }
        &:after {
          opacity: 1;
        }
      }
    }
    .additional-products-box {
      display: none;
      text-align: right;
      background-color: #f3eeec;
      @media only screen and (max-width: 1023px) {
        text-align: left;
      }
      @media only screen and (max-width: 640px) {
        text-align: right;
      }
      .additional-products-slider-box {
        padding-left: 53px;
        padding-right: 40px;
        @media only screen and (max-width: 640px) {
          padding-right: 0;
          padding-left: 0;
        }
        .additional-products-slider {
          width: 365px;
          @media only screen and (max-width: 1024px) {
            width: 380px;
          }
          @media only screen and (max-width: 800px) {
            width: 400px;
          }
          @media only screen and (max-width: 640px) {
            width: 100%;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 100%;
            background-color: #f3eeec;
            z-index: 5;
            @media only screen and (max-width: 640px) {
              width: 20px;
            }
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -2px;
            width: 12px;
            height: 100%;
            background-color: #f3eeec;
            z-index: 5;
            @media only screen and (max-width: 640px) {
              width: 20px;
              right: 0;
            }
          }
          .slick-slide {
            padding: 0 12px;
            @media only screen and (max-width: 640px) {
              padding: 0;
            }
            .additional-product-box {
              padding-bottom: 24px;
              position: relative;
              @media only screen and (max-width: 640px) {
                padding: 0 20px 24px 20px;
              }
              &:before {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $third-color;
                transition: all 0.3s ease-in-out;
              }
              &:after {
                content: '';
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                width: 12px;
                height: 9px;
                background-image: url("{{'check.svg' | asset_url}}");
                z-index: 2;
                opacity: 0;
                transition: all 0.3s ease-in-out;
              }
              .add-link {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 4;
                outline: none !important;
              }
              .product-th-box {
                position: relative;
                &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  background: transparent;
                  border: 1px solid $third-color;
                  transition: all 0.3s ease-in-out;
                  @media only screen and (max-width: 640px) {
                    display: none;
                  }
                }
                img {
                  display: block;
                  margin: 0 auto;
                }
              }
              .add-price {
                text-align: center;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-top: 7px;
              }
              .add-name {
                display: block;
                text-align: center;
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 300;
                text-transform: uppercase;
                @media only screen and (max-width: 1024px) {
                  font-size: 12px;
                }
              }
              &:hover {
                .product-th-box {
                  &:before {
                    opacity: 1;
                  }
                }
              }
              &.active {
                .product-th-box {
                  &:before {
                    opacity: 1;
                    @media only screen and (max-width: 640px) {
                      opacity: 0;
                    }
                  }
                }
                &:before {
                  background-color: #b6986e;
                  border-color: #b6986e;
                }
                &:after {
                  opacity: 1;
                }
              }
            }
          }
          .slick-arrow {
            display: block;
            width: 7px;
            height: 14px;
            border: none;
            font-size: 0;
            color: transparent;
            position: absolute;
            left: 0;
            top: 47px;
            z-index: 7;
            outline: none;
            margin: 0;
            padding: 0;
            background: transparent;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 7px;
              height: 14px;
              background-image: url("{{'chevron_mini3.svg' | asset_url}}");
            }
            &.slick-prev {
              left: -17px;
              transform: rotate(180deg);
              @media only screen and (max-width: 640px) {
                left: 5px;
              }
              &.slick-disabled {
                display: none !important;
              }
              + .slick-prev {
                display: none;
              }
            }
            &.slick-next {
              left: auto;
              right: -17px;
              display: none !important;
              @media only screen and (max-width: 640px) {
                right: 5px;
              }
              + .slick-next {
                display: block !important;
                &.slick-disabled {
                  display: none !important;
                }
              }
            }
          }
        }
      }
      .additional-sizes {
        padding-left: 65px;
        padding-right: 50px;
        margin-top: 15px;
        user-select: none;
        @media only screen and (max-width: 640px) {
          padding-right: 20px;
          padding-left: 20px;
        }
        .additional-sizes-dropdown {
          border: 1px solid $third-color;
          padding-left: 47px;
          cursor: pointer;
          position: relative;
          text-align: left;
          @media only screen and (max-width: 1023px) {
            width: 400px;
          }
          @media only screen and (max-width: 640px) {
            width: 100%;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 47px;
            height: 100%;
            border-right: 1px solid $third-color;
            background-color: $secondary-color;
            z-index: 1;
          }
          &:after {
            content: '';
            position: absolute;
            top: 8px;
            left: 15px;
            width: 16px;
            height: 30px;
            border-radius: 3px;
            background-color: $primary-color;
            z-index: 2;
          }
          select {
            display: block;
            width: 100%;
            height: 46px;
            line-height: 47px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            user-select: none;
            border: none !important;
            cursor: pointer;
            background: transparent;
            padding-left: 10px;
            outline: none !important;
            border-radius: 0 !important;
            -webkit-appearance: none !important;
            -moz-appearance: none;
            appearance: none;
            background-image: url("{{'select-arrow.svg' | asset_url}}");
            background-size: 13px 7px;
            background-position: 95% 50%;
            background-repeat: no-repeat;
            &::-ms-expand {
              display: none;
            }
          }
          span {
            display: block;
            height: 46px;
            line-height: 47px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            user-select: none;
            &:after {
              content: '';
              position: absolute;
              top: 19px;
              right: 20px;
              border: 8px solid transparent;
              border-top: 8px solid $third-color;
              z-index: 1;
            }
          }
        }
        .additional-find-size-link {
          display: inline-block;
          font-size: 13px;
          color: #b7986b;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          transition: all 0.3s ease-in-out;
          margin-top: 5px;
          &:before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $third-color;
            transition: all 0.3s ease-in-out;
            z-index: 1;
          }
          &:hover,&:focus {
            color: $third-color;
            &:before {
              width: 100%;
            }
          }
        }
      }
      .additional-up-selling-box {
        padding: 0 20px 15px 65px;
        background-color: #f3eeec;
        position: relative;
        text-align: left;
        cursor: pointer;
        margin-top: 20px;
        user-select: none;
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 11px;
          left: 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid $third-color;
          transition: all 0.3s ease-in-out;
        }
        &:after {
          content: '';
          position: absolute;
          top: 17px;
          left: 24px;
          width: 12px;
          height: 9px;
          background-image: url("{{'check.svg' | asset_url}}");
          z-index: 2;
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
        .title {
          display: block;
          color: $text-color;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 2px;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          margin-bottom: 8px;
          @media only screen and (max-width: 640px) {
            font-size: 12px;
          }
        }
        .prices {
          display: block;
          color: $text-color;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: uppercase;
          @media only screen and (max-width: 640px) {
            font-size: 13px;
          }
          .old-price {
            display: none;
            text-decoration: line-through;
          }
          .new-price{
            display: none;
          }
        }
        &.active {
          &:before {
            background-color: #b6986e;
            border-color: #b6986e;
          }
          &:after {
            opacity: 1;
          }
          .old-price {
            display: inline-block;
            text-decoration: line-through;
          }
          .new-price{
            display: inline-block;
          }
          .cur-price{
            display: none;
          }
        }
      }
    }
    .delivery-box {
      text-align: center;
      .delivery-title {
        display: inline-block;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        padding-left: 35px;
        margin-top: 15px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 16px;
          background-image: url("{{'delivery.svg' | asset_url}}");
        }
      }
    }
    .pay-button-wrap {
      margin-top: 15px;
      .btn {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #729fae;
        cursor: pointer;
        &:hover,&:focus {
          background-color: $primary-color;
          cursor: pointer;
        }
      }
    }
    .share-buttons-box {
      padding: 15px 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .share-link {
        display: block;
        height: 18px;
        width: 18px;
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
        svg {
          display: inherit;
          width: inherit;
          height: inherit;
          path[class*=icon] {
            fill: $third-color;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover,&:focus {
          svg {
            path[class*=icon] {
              fill: #b7986b;
            }
          }
        }
      }
    }
    .short-description {
      margin-bottom: 20px;
      p {
        font-size: 17px;
        @media only screen and (max-width: 640px) {
          font-size: 16px;
        }
      }
    }
    .full-description {
      .full-title {
        display: block;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 2px solid #918f8e;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          top: 22px;
          right: 10px;
          width: 12px;
          height: 2px;
          background-color: $third-color;
        }
        &:after {
          content: '';
          position: absolute;
          top: 17px;
          right: 15px;
          width: 2px;
          height: 12px;
          background-color: $third-color;
          transition: all 0.35s ease-in-out;
        }
        &.active {
          &:after {
            transform: rotate(90deg);
          }
        }
      }
      .full-text {
        display: none;
        margin-bottom: 30px;
        p {
          font-size: 17px;
          margin-bottom: 20px;
          @media only screen and (max-width: 640px) {
            font-size: 16px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.fancybox-container {
  .fancybox-slide--image {
    padding: 0;
  }
  .fancybox-bg {
    background-color: #eff0f5;
  }
  .fancybox-infobar {
    display: none;
  }
  .fancybox-button--arrow_right {
    padding: 0;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-color;
    transition: all 0.3s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 19px;
      width: 16px;
      height: 32px;
      background-image: url("{{'chevron.svg' | asset_url}}");
      transform: rotate(180deg);
      z-index: 12;
    }
    > div {
      display: none;
    }
    &:disabled {
      display: none;
    }
  }
  .fancybox-button--arrow_left {
    padding: 0;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-color;
    transition: all 0.3s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 15px;
      width: 16px;
      height: 32px;
      background-image: url("{{'chevron.svg' | asset_url}}");
      z-index: 12;
    }
    > div {
      display: none;
    }
    &:disabled {
      display: none;
    }
  }
  .fancybox-close-small {
    top: 0;
    padding: 0;
    @media only screen and (max-width: 1024px) {
      top: 20px;
    }
    @media only screen and (max-width: 640px) {
      right: 5px;
    }
    svg {
      path {
        fill: $third-color;
      }
    }
  }
  &.fancybox-is-open {
    .fancybox-bg {
      opacity: 1;
    }
  }

}
.fancybox-can-zoomIn .fancybox-content {
  cursor: url("{{'zoom.png' | asset_url}}"), auto;
}
.fancybox-toolbar {
  top: 30px;
  right: 30px;
  .fancybox-button {
    color: #fff;
    background: $primary-color;
    transition: all 0.3s ease-in-out;
    &.fancybox-button--play,&.fancybox-button--zoom {
      display: none !important;
    }
    &:hover {
      background: $third-color;
    }
  }
}


body {
  &.page-template-product {
    .breadcrumbs-section {
      @media only screen and (max-width: 640px) {
        display: none;
      }
    }
  }
}

.other-product-img-wrap.current {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: transparent;
    border: 1px solid #292422;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.other-product-name {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 2px;
  text-align: center;
}