.register-form-section {
  .register-form-box {
    form {
      .inputs-box {
        .form-input {
          width: 280px;
          display: block;
          height: 36px;
          line-height: 36px;
          border: 1px solid $third-color;
          padding-left: 10px;
          background-color: #f7f7f7;
          outline: none;
          position: relative;
          margin: 0 auto 10px auto;
          @include placeholder {
            font-size: 14px;
            color: $third-color;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
          }
          @media only screen and (max-width: 640px) {
            display: block;
            width: 100%;
            margin: 0 0 10px 0;
          }
        }
        .btn {
          display: block;
          width: 280px;
          border: 1px solid $third-color;
          padding: 7px 25px;
          margin: 0 auto;
          @media only screen and (max-width: 640px) {
            width: 100%;
            margin: 0;
          }
        }
        .label-hidden {
          display: none;
        }
      }
      .form-links {
        text-align: center;
        margin-top: 30px;
        a {
          color: #b7986b;
          display: inline-block;
          padding: 0 15px;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          @media only screen and (max-width: 640px) {
            display: block;
            padding: 0;
            margin-bottom: 10px;
          }
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          &:hover,&:focus {
            color: $third-color;
          }
        }
      }
    }
  }
}