.reset-form-section {
  .reset-form-box {
    form {
      .inputs-box {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 640px) {
          display: block;
        }
      }
      .form-input {
        flex-basis: 100%;
        height: 36px;
        line-height: 36px;
        border: 1px solid $third-color;
        padding-left: 45px;
        background-color: #f7f7f7;
        outline: none;
        position: relative;
        @media only screen and (max-width: 640px) {
          display: block;
          width: 100%;
        }
        @include placeholder {
          font-size: 14px;
          color: $third-color;
          letter-spacing: 2px;
          font-weight: 300;
          text-transform: uppercase;
        }
        &.email-input {
          background-color: transparent;
          background-image: url("{{'mail.svg'|asset_url}}");
          background-size: 25px 18px;
          background-position: 10px 50%;
          background-repeat: no-repeat;
          @media only screen and (max-width: 640px) {
            margin-bottom: 20px;
          }
        }
      }
      .btn {
        width: 160px;
        min-width: 160px;
        border: 1px solid $third-color;
        padding: 7px 25px;
        border-left: none;
        @media only screen and (max-width: 640px) {
          display: block;
          width: 100%;
          margin-top: 20px;
        }
        &.cancel-btn {
          margin-left: 15px;
          border-left: 1px solid $third-color !important;
          @media only screen and (max-width: 640px) {
            margin-left: 0;
          }
        }
      }
      .label-hidden {
        display: none;
      }
      .form-desc {
        width: 80%;
        margin: 30px auto 0 auto;
        font-size: 16px;
        text-align: center;
        @media only screen and (max-width: 800px) {
          width: 100%;
          margin: 30px 0 0 0;
        }
      }
    }
  }
}