.testimonials-section {
  margin-bottom: 70px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 40px;
  }
  .testimonials-box {
    .testimonials-title {
      text-align: center;
      text-transform: uppercase;
      padding: 0 50px;
      margin-bottom: 35px;
      @media only screen and (max-width: 1160px) {
        padding: 0;
      }
      @media only screen and (max-width: 640px) {
        font-size: 22px;
        padding: 0 40px;
        margin-bottom: 30px;
      }
      @media only screen and (max-width: 374px) {
        padding: 0;
        margin-bottom: 25px;
      }
    }
    .testimonials-slider {
      @media only screen and (max-width: 640px) {
        padding: 0 30px;
      }
      @media only screen and (max-width: 374px) {
        padding: 0 15px;
      }
      .slick-slide {
        .testimonial-wrap {
          .tes-name {
            display: block;
            text-align: center;
            font-family: "minerva-modern", sans-serif;
            text-transform: uppercase;
            font-style: italic;
            font-size: 20px;
            margin-bottom: 20px;
            @media only screen and (max-width: 640px) {
              margin-bottom: 10px;
            }
          }
          .tes-text {
            display: block;
            text-align: center;
            font-size: 18px;
            @media only screen and (max-width: 640px) {
              font-size: 15px;
            }
          }
          .stars {
            display: block;
            font-size: 0;
            text-align: center;
            margin-top: 15px;
            @media only screen and (max-width: 640px) {
              margin-top: 25px;
            }
            .star {
              display: inline-block;
              width: 16px;
              height: 16px;
              position: relative;
              margin-right: 3px;
              &:last-child {
                margin-right: 0;
              }
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                background-image: url("{{'star.svg'|asset_url}}");
              }
              &:after {
                opacity: 0;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                background-image: url("{{'star-grey.svg'|asset_url}}");
              }
            }
            &.stars-1 {
              .star {
                &:before { opacity: 0; }
                &:after { opacity: 1; }
                &:first-child {
                  &:before { opacity: 1; }
                  &:after { opacity: 0; }
                }
              }
            }
            &.stars-2 {
              .star {
                &:before { opacity: 0; }
                &:after { opacity: 1; }
                &:first-child,&:nth-child(2) {
                  &:before { opacity: 1; }
                  &:after { opacity: 0; }
                }
              }
            }
            &.stars-3 {
              .star {
                &:before { opacity: 0; }
                &:after { opacity: 1; }
                &:first-child,&:nth-child(2),&:nth-child(3) {
                  &:before { opacity: 1; }
                  &:after { opacity: 0; }
                }
              }
            }
            &.stars-4 {
              .star {
                &:last-child {
                  &:after { opacity: 1; }
                  &:before { opacity: 0; }
                }
              }
            }
          }
        }
      }
      .slick-arrow {
        display: block;
        width: 36px;
        height: 36px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 50%;
        font-size: 0;
        color: transparent;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        z-index: 11;
        transform: translateY(-50%);
        outline: none !important;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 640px) {
          background-color: transparent;
        }
        &:before {
          content: '';
          position: absolute;
          top: 8px;
          left: 12px;
          width: 10px;
          height: 20px;
          background-image: url("{{'chevron-mini.svg'|asset_url}}");
          z-index: 12;
          @media only screen and (max-width: 640px) {
            background-image: url("{{'chevron-mini2.svg'|asset_url}}");
          }
        }
        &.slick-prev {
          left: -145px;
          @media only screen and (max-width: 1160px) {
            left: -75px;
          }
          @media only screen and (max-width: 640px) {
            left: -15px;
          }
          @media only screen and (max-width: 374px) {
            left: -20px;
          }
        }
        &.slick-next {
          right: -145px;
          &:before {
            left: 14px;
            transform: rotate(180deg);
          }
          @media only screen and (max-width: 1160px) {
            right: -75px;
          }
          @media only screen and (max-width: 640px) {
            right: -15px;
          }
          @media only screen and (max-width: 374px) {
            right: -20px;
          }
        }
        &.slick-disabled {
          display: none;
        }
        &:hover {
          background-color: $third-color;
          @media only screen and (max-width: 640px) {
            background-color: transparent;
          }
        }
      }
    }
  }
}