.text-and-image {
  display: flex;
  @media only screen and (max-width: 640px) {
    display: block;
  }
  .tai-box {
    flex-basis: 50%;
    &.tai-image-box {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .tai-image-wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .tai-img {
          flex-grow: 1;
          //height: 530px;
          padding-top: 75%;
          background-size: cover;
          background-position: 50% 50%;
        }
      }
    }
    &.tai-text-box {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .tai-text-content-box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        width: 585px;
        padding: 0 15px;
        @media only screen and (max-width: 1170px) {
          width: 100%;
        }
        .tai-content {
          padding: 40px 20px 40px 70px;
          @media only screen and (max-width: 1170px) {
            padding-left: 25px;
            padding-right: 25px;
          }
          @media only screen and (max-width: 800px) {
            padding-left: 0;
            padding-right: 0;
          }
          @media only screen and (max-width: 374px) {
            padding-top: 30px;
            padding-bottom: 30px;
          }
          h1,h2,h3,h4,h5,h6 {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &.image-right {
    flex-direction: row-reverse;
    .tai-box {
      &.tai-text-box {
        align-items: flex-end;
        .tai-text-content-box {
          .tai-content {
            padding: 40px 70px 40px 20px;
            @media only screen and (max-width: 1170px) {
              padding-left: 25px;
              padding-right: 25px;
            }
            @media only screen and (max-width: 800px) {
              padding-left: 0;
              padding-right: 0;
            }
            @media only screen and (max-width: 374px) {
              padding-top: 30px;
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }
}