.text-content-section {
  h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
  }
  h2 {
    margin-bottom: 40px;
    @media only screen and (max-width: 640px) {
      margin-bottom: 30px;
    }
  }
  .img-wrapper {
    margin-bottom: 30px;
    .img-description-text {
      padding-top: 10px;
      span {
        font-size: 14px;
      }
    }
  }
}