.brands-bar{
  background-color: #dfcdc6;
  .brands-logos{
    margin: 0;
    padding: 0;
    text-align: center;
    li.brand-logo{
      display: inline-block;
      list-style: none;
      text-align: center;
    }
  }
}
