.site-wrapper {
  background-color: #f7f7f7;
  overflow: hidden;
  padding-top: 106px;
  position: relative;
  @media only screen and (max-width: 1023px) {
    padding-top: 70px;
  }
  @media only screen and (max-width: 640px) {
    padding-top: 0;
  }
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  @media only screen and (max-width: 640px) {
    top: auto;
    left: auto;
    right: auto;
    position: relative;
  }
  .top-line {
    background-color: $primary-color;
    padding: 8px 0 10px 0;
    text-align: center;
    position: relative;
    z-index: 5;
    @media only screen and (max-width: 1023px) {
      padding: 3px 0 5px 0;
    }
    @media only screen and (max-width: 374px) {
      padding: 1px 0 3px 0;
    }
    .top-line-link {
      display: inline-block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        height: 1px;
        background-color: #ffffff;
        transition: all 0.3s ease-in-out;
      }
      @media only screen and (max-width: 1023px) {
        font-size: 12px;
      }
      @media only screen and (max-width: 374px) {
        font-size: 10px;
      }
      &:hover,&:focus {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .header-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 18px 30px;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: #fff;
      z-index: 2;
      transition: all 0.5s ease-in-out;
    }
    @media only screen and (max-width: 1023px) {
      padding: 12px 20px;
      &:before {
        opacity: 1;
      }
    }
    @media only screen and (max-width: 640px) {
      padding: 10px 15px;
    }
    @media only screen and (max-width: 374px) {
      padding: 9px 15px;
    }
    .logo-link {
      display: block;
      width: 125px;
      height: 34px;
      position: relative;
      z-index: 3;
      @media only screen and (max-width: 1440px) {
        top: -4px;
      }
      @media only screen and (max-width: 1023px) {
        order: 2;
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 92px;
        height: 25px;
      }
      @media only screen and (max-width: 640px) {
        top: 9px;
        width: 74px;
        height: 20px;
      }
      @media only screen and (max-width: 374px) {
        width: 63px;
        height: 17px;
      }
      svg {
        display: block;
        width: inherit;
        height: inherit;
        .logo-svg {
          transition: all 0.5s ease-in-out;
        }
      }
    }
    .close-menu {
      display: flex;
      align-items: center;
      font-family: "neuzeit-grotesk", sans-serif;
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $text-color;
      position: absolute;
      left: 20px;
      top: -70px;
      opacity: 0;
      height: 100%;
      z-index: 4;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 1023px) {
        font-size: 15px;
      }
      @media only screen and (max-width: 640px) {
        left: 15px;
      }
      @media only screen and (max-width: 374px) {
        font-size: 14px;
      }
      @media only screen and (max-width: 1023px) {
        &.menu-opened {
          top: 0;
          opacity: 1;
        }
      }
    }
    .main-menu-wrapper {
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      @media only screen and (max-width: 1440px) {
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0,0);
      }
      @media only screen and (max-width: 1023px) {
        order: 1;
      }
      .main-menu {
        display: block;
        margin: 0;
        padding: 2px 0 0 0;
        font-size: 0;
        @media only screen and (max-width: 1023px) {
          padding: 0;
        }
        > li {
          display: inline-block;
          vertical-align: top;
          list-style: none;
          line-height: 1;
          margin: 0 20px;
          @media only screen and (max-width: 1023px) {
            display: none;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          > a {
            display: inline-block;
            font-family: "minerva-modern", sans-serif;
            font-size: 18px;
            text-decoration: none;
            font-style: italic;
            color: $text-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1;
            position: relative;
            transition: all 0.3s ease-in-out;
            &:before {
              content: '';
              position: absolute;
              bottom: -3px;
              left: 0;
              width: 0;
              height: 1px;
              background-color: $text-color;
              transition: all 0.15s ease-in-out;
            }
            &:hover {
              &:before {
                width: 100%;
              }
            }
            &.active {
              &:before {
                width: 100%;
              }
            }
          }
          &.mega-link {
            @media only screen and (max-width: 1023px) {
              display: block;
              > a {
                font-family: "neuzeit-grotesk", sans-serif;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 3px;
                transition: all 0.5s ease-in-out;
                &:before {
                  display: none;
                }
                &:hover,&:focus {
                  //color: $primary-color;
                }
                @media only screen and (max-width: 640px) {
                  font-size: 15px;
                }
                @media only screen and (max-width: 374px) {
                  font-size: 14px;
                }
                &.active {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
    .right-part {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 3;
      @media only screen and (max-width: 1023px) {
        order: 3;
        position: static;
      }
      .header-search {
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 1023px) {
          position: absolute;
          top: 100%;
          left: 100%;
          width: 100%;
          background-color: #fff;
          border-top: 1px solid $secondary-color;
          border-bottom: 1px solid $secondary-color;
          padding: 7px 20px 8px 20px;
          z-index: 1;
        }
        @media only screen and (max-width: 640px) {
          padding: 6px 12px 7px 15px;
        }
        @media only screen and (max-width: 374px) {
          padding: 6px 12px 5px 15px
        }
        &.opened {
          @media only screen and (max-width: 1023px) {
            left: 0;
          }
        }
        .label-hidden {
          display: none;
        }
        .search-input {
          width: 200px;
          height: 24px;
          padding: 0 5px;
          border: none;
          background: transparent;
          color: $text-color;
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          letter-spacing: 1px;
          outline: none;
          transition: all 0.5s ease-in-out;
          text-transform: none;
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            font-size: 13px;
            letter-spacing: 2px;
          }
          @include placeholder {
            color: $text-color;
            font-size: 13px!important;
            font-weight: 300!important;
            letter-spacing: 3px!important;
            text-transform: uppercase!important;
            transition: all 0.5s ease-in-out;
          }
          @media only screen and (max-width: 1023px) {
            flex-basis: 100%;
            padding: 0 10px 0 0;
          }
          @media only screen and (max-width: 374px) {
            font-size: 13px;
          }
        }
        .search-button {
          display: block;
          width: 24px;
          height: 24px;
          padding: 0;
          margin: 0;
          border: none;
          background: transparent;
          svg {
            display: block;
            width: 24px;
            height: 24px;
            .search-icon {
              fill: #1f191a;
              transition: all 0.3s ease-in-out;
            }
          }
          .icon-fallback-text {
            position: absolute!important;
            overflow: hidden;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            clip: rect(0 0 0 0);
          }
          &:hover,&:focus {
            svg {
              .search-icon {
                fill: $primary-color;
              }
            }
          }
        }
      }
      .account-header {
        display: block;
        margin: 0 0 0 30px;
        padding: 0;
        font-size: 0;
        @media only screen and (max-width: 1023px) {
          display: none;
        }
        > li {
          display: block;
          list-style: none;
          vertical-align: top;
          line-height: 1;
          > a {
            display: block;
            font-size: 13px;
            font-weight: 300;
            color: $text-color;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover,&:focus {
              color: $primary-color;
            }
          }
        }
      }
      .menu-button {
        width: 35px;
        height: 20px;
        position: relative;
        z-index: 3;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        svg {
          display: inherit;
          width: inherit;
          height: inherit;
        }
        @media only screen and (min-width: 1024px) {
          display: none !important;
        }
        @media only screen and (max-width: 1023px) {
          display: block;
        }
        @media only screen and (max-width: 640px) {
          width: 28px;
        }
        &.mega-opened {
          //opacity: 0;
        }
      }
      .cart-header {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 300;
        color: $text-color;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 30px;
        transition: all 0.3s ease-in-out;
        @media only screen and (max-width: 1023px) {
          margin-left: 20px;
        }
        span {
          display: inline-block;
          &.cart-label {
            margin-right: 5px;
            @media only screen and (max-width: 1023px) {
              display: none;
            }
          }
          &.counter-cart {
            color: #fff;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $third-color;
            text-align: center;
            line-height: 20px;
            letter-spacing: 0;
            transition: all 0.5s ease-in-out;
          }
        }
        &:hover,&:focus {
          color: $primary-color;
        }
      }
    }
    &.menu-opened {
      &:before {
        opacity: 1;
      }
    }
  }
  &.headroom--pinned {
    transform: translateY(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  &.headroom--unpinned {
    transform: translateY(-100%);
    @media only screen and (max-width : 640px) {
      transform: translateY(0);
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 999;
    transform: translateY(0);
  }
}
/* Header [END] */

//Mega Menu
.mega-menu {
  display: block;
  position: absolute;
  top: -5000px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  .mega-menu-box {
    padding-top: 15px;
    padding-right: 20px;
    margin-right: -20px;
    overflow: auto;
    max-height: calc(100vh - 106px);
    @media only screen and (max-width: 1023px) {
      padding-top: 24px;
      padding-bottom: 15px;
      max-height: calc(100vh - 70px);
    }
    @media only screen and (max-width: 640px) {
      max-height: calc(100vh - 66px);
      padding-bottom: 95px;
    }
    @media only screen and (max-width: 374px) {
      max-height: calc(100vh - 60px);
    }
  }
  &.opened {
    opacity: 1;
    top: 100% !important;
  }
}

.mobile-menu {
  display: block;
  position: absolute;
  top: -5000px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  .mobile-menu-box {
    padding: 50px 40px 20px 20px;
    margin-right: -20px;
    overflow: auto;
    height: calc(100vh - 106px);
    max-height: calc(100vh - 106px);
    @media only screen and (max-width: 1023px) {
      height: calc(100vh - 70px);
      max-height: calc(100vh - 70px);
    }
    @media only screen and (max-width: 640px) {
      height: calc(100vh - 66px);
      max-height: calc(100vh - 66px);
    }
    @media only screen and (max-width: 374px) {
      height: calc(100vh - 60px);
      max-height: calc(100vh - 60px);
    }
    .mobile-menu-items {
      display: block;
      margin: 0 0 20px 0;
      padding: 0;
      > li {
        list-style: none;
        display: block;
        text-align: center;
        padding: 10px 0;
        @media only screen and (max-width: 640px) {
          padding: 5px 0;
        }
        > a {
          display: inline-block;
          font-size: 20px;
          font-weight: 300;
          text-transform: uppercase;
          color: $text-color;
          text-decoration: none;
          @media only screen and (max-width: 640px) {
            font-size: 18px;
          }
          &:hover,&:focus {
            color: $primary-color;
          }
        }
      }
    }
    .socials {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 0;
      text-align: center;
      > li {
        display: inline-block;
        list-style: none;
        margin: 0 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        > a {
          display: block;
          width: 16px;
          height: 16px;
          opacity: 0.7;
          transition: all 0.3s ease-in-out;
          svg {
            display: inherit;
            width: inherit;
            height: inherit;
          }
          &:hover,&:focus {
            opacity: 1;
          }
        }
      }
    }
  }
  &.opened {
    opacity: 1;
    top: 100% !important;
  }
}

//Collections
.collection-col {
  padding-left: 0;
  padding-right: 0;
  @media only screen and (max-width: 1140px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media only screen and (max-width: 1023px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media only screen and (max-width: 640px) {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 26px;
  }
  @media only screen and (max-width: 374px) {
    padding-top: 23px;
  }
  .collections {
    display: flex;
    flex-wrap: wrap;
    .collection-item {
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
      margin-bottom: 30px;
      @media only screen and (max-width: 1023px) {
        margin-bottom: 0;
        margin-top: 30px;
      }
      @media only screen and (max-width: 960px) {
        flex-basis: 33.33333333333%;
      }
      @media only screen and (max-width: 640px) {
        flex-basis: 50%;
        margin-top: 4px;
      }
      .collection-box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 15px;
        @media only screen and (max-width: 1023px) {
          padding: 0 15px;
        }
        @media only screen and (max-width: 640px) {
          padding: 0 2px;
        }
        .collection-wrap {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          position: relative;
          .collection-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
          .collection-img-wrap {
            overflow: hidden;
            position: relative;
            &:before {
              opacity: 0;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0,0,0,.3);
              transition: all 0.3s ease-in-out;
            }
            img {
              display: block;
              width: 100%;
              //animation: zoomout 0.3s ease-out forwards;
            }
          }
          .collection-name {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            font-family: "neuzeit-grotesk", sans-serif;
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0;
            background-color: $secondary-color;
            padding: 16px 15px 14px 15px;
            transition: all 0.3s ease-in-out;
            @media only screen and (max-width: 640px) {
              padding: 11px 5px 9px 5px;
              letter-spacing: 1px;
              font-weight: 400;
            }
            @media only screen and (max-width: 374px) {
              font-size: 12px;
            }
          }
          &:hover {
            .collection-img-wrap {
              &:before {
                opacity: 1;
              }
              img {
                //animation: zoomin 0.3s linear forwards;
              }
            }
            .collection-name {
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}

//Overlay
.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  z-index: 100;
  cursor: pointer;
}

//Home body
.page-template-index {
  .site-wrapper {
    padding-top: 36px !important;
    @media only screen and (max-width: 1023px) {
      padding-top: 70px !important;
    }
    @media only screen and (max-width: 640px) {
      padding-top: 0 !important;
    }
  }
  @media only screen and (min-width: 1024px) {
    .header {
      background-color: transparent;
      .header-elements {
        .logo-link {
          svg {
            .logo-svg {
              fill: #ffffff;
            }
          }
        }
        .main-menu-wrapper {
          .main-menu {
            > li {
              > a {
                color: #fff;
                &:before {
                  background-color: #b7986b;
                }
              }
            }
          }
        }
      }
      .right-part {
        .header-search {
          .search-input {
            color: #fff;
            @include placeholder {
              color: #fff;
            }
          }
          .search-button {
            svg {
              .search-icon {
                fill: #fff;
              }
            }
            &:hover,&:focus {
              .search-icon {
                fill: $primary-color;
              }
            }
          }
        }
        .account-header {
          > li {
            > a {
              color: #fff;
            }
          }
        }
        .cart-header {
          color: #fff;
          span {
            &.counter-cart {
              background-color: #729fae;
            }
          }
        }
      }
      &.headroom--not-top, &.menu-opened {
        background-color: #fff;
        .header-elements {
          .logo-link {
            svg {
              .logo-svg {
                fill: #000000;
              }
            }
          }
          .main-menu-wrapper {
            .main-menu {
              > li {
                > a {
                  color: $text-color;
                  &:before {
                    background-color: $text-color;
                  }
                }
              }
            }
          }
          .right-part {
            .header-search {
              .search-input {
                color: $text-color;
                @include placeholder {
                  color: $text-color;
                }
              }
              .search-button {
                svg {
                  .search-icon {
                    fill: #000;
                  }
                }
                &:hover,&:focus {
                  .search-icon {
                    fill: $primary-color;
                  }
                }
              }
            }
            .account-header {
              > li {
                > a {
                  color: $text-color;
                  &:hover,&:focus {
                    color: $primary-color;
                  }
                }
              }
            }
            .cart-header {
              color: $text-color;
              span {
                &.counter-cart {
                  background-color: $text-color;
                }
              }
              &:hover,&:focus {
                color: $primary-color;
              }
            }
          }
        }
      }
      &.headroom--top {
        box-shadow: none;
      }
      &.headroom--unpinned {
        //background-color: transparent;
      }
    }
  }
}
