.icons-bar{
  background-color: #dfcdc6;
  padding: 15px 0;
  .icons-logos{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      min-width: 260px;
      display: inline-block;
      text-align: center;
      padding: 15px 0;
      p.sub-title-icon{
        margin: 25px 0;
        display: inline-block;
        width: 100%;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #1f191a;
        font-family: 'NeuzeitSLTStd-Book', sans-serif;
        font-weight: bold;
      }
    }
  }
}