@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';

/**
* G e n e r a l  T o o l s
*/

//Mixins
@import "./tools/custom_mixins";

//Partials
@import "./core/typography";
@import "./components/helpers";
@import "./components/slick";
@import "./components/animations";
@import "./components/fancybox";


// Grids
@import "./core/grid";
// password page
.password-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  align-items: center;
  .logo-link {
    display: block;
    width: 125px;
    height: 34px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    @media only screen and (max-width: 640px) {
      top: 60px;
    }
    @media only screen and (max-width: 374px) {
      top: 55px;
    }
  }
  .pass-link {
    display: inline-block;
    color: $text-color;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 15px;
    right: 20px;
    &:before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 1px;
      opacity: 0;
      background-color: $text-color;
      transition: all 0.3s ease-in-out;
    }
    &:hover,&:focus {
      &:before {
        opacity: 1;
        width: 100%;
      }
    }
  }
  .login-line {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    @media only screen and (max-width: 640px) {
      width: 100%;
      right: 0;
      padding: 0 15px;
      text-align: center;
    }
    span {
      display: inline-block;
      color: $text-color;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 374px) {
        font-size: 12px;
      }
    }
    a {
      display: inline-block;
      color: $text-color;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 374px) {
        font-size: 12px;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        opacity: 0;
        background-color: $text-color;
        transition: all 0.3s ease-in-out;
      }
      &:hover,&:focus {
        color: #fff;
      }
    }
  }
  .pass-row {
    .pass-col {
      .pass-wrap {
        .pass-box {
          padding: 60px 160px 60px 60px;
          background-color: $secondary-color;
          @media only screen and (max-width: 1024px) {
            padding: 60px 120px 60px 60px;
          }
          @media only screen and (max-width: 800px) {
            padding: 40px;
          }
          .pass-title {
            text-transform: uppercase;
            margin-bottom: 30px;
            @media only screen and (max-width: 374px) {
              font-size: 24px;
            }
          }
          .subscribe-form-box {
            flex-basis: 100%;
            margin-top: 30px;
            .subscribe-form {
              display: block;
              .email-label {
                margin-bottom: 15px;
                display: inline-block;
                color: $text-color;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                @media only screen and (max-width: 800px) {
                  font-size: 14px;
                }
                @media only screen and (max-width: 640px) {
                  font-size: 16px;
                }
                @media only screen and (max-width: 374px) {
                  font-size: 14px;
                }
              }
            }
          }
          .socials-box {
            margin-top: 60px;
            .social-title {
              display: inline-block;
              color: $text-color;
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 2px;
              text-transform: uppercase;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
            }
            .socials {
              .share-buttons-box {
                padding: 15px 0;
                text-align: center;
                display: flex;
                align-items: center;
                .share-link {
                  display: block;
                  height: 18px;
                  width: 18px;
                  margin-right: 24px;
                  &:last-child {
                    margin-right: 0;
                  }
                  svg {
                    display: inherit;
                    width: inherit;
                    height: inherit;
                    path[class*=icon] {
                      fill: $third-color;
                      transition: all 0.3s ease-in-out;
                    }
                  }
                  &:hover,&:focus {
                    svg {
                      path[class*=icon] {
                        fill: #b7986b;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.form-inputs-wrap {
  display: flex;
  @media only screen and (max-width: 640px) {
    display: block;
  }
  .email-field {
    flex-basis: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid $third-color;
    padding: 0 10px;
    color: $third-color;
    font-weight: 300;
    outline: none;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 16px;
    -webkit-appearance: none !important;
    border-radius: 0 !important;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      letter-spacing: 2px;
    }
    @media only screen and (max-width: 640px) {
      width: 100%;
    }
    @include placeholder {
      color: $third-color;
      text-transform: uppercase;
    }
  }
  .btn {
    padding: 9px 30px;
    border: 1px solid $third-color;
    border-left: none;
    color: #fff;
    background-color: $third-color;
    @media only screen and (max-width: 640px) {
      display: block;
      width: 100%;
      margin-top: 10px;
    }
    &:hover,&:focus {
      color: #fff;
      background-color: $primary-color;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
  cursor: pointer;
}
.login-box{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  padding: 60px 160px 60px 60px;
  background-color: #dfcdc6;
}
.login-box {
  a{
    &:hover{
      color: #000;
    }
  }
}
.close-abs-box{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
}
body {
  &.password-page {
    .site-wrapper {
      padding: 0 !important;
    }
  }
}
