@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';

/**
* G e n e r a l  T o o l s
*/

//Mixins
@import "./tools/custom_mixins";

//Partials
@import "./core/typography";
@import "./components/helpers";
@import "./components/slick";
@import "./components/animations";
@import "./components/fancybox";


// Grids
@import "./core/grid";
/**
* -= S e c t i o n s =-
*/
// H E A D E R
@import './sections/header';
// F O O T E R
@import './sections/footer';

//BreadCrumbs
@import './sections/breadcrumbs';


// G E N E R A L
@import './sections/home-slider';
@import './sections/features-blocks';
@import './sections/features-boxes';
@import './sections/logos-line';
@import './sections/featured-collections';
@import './sections/featured-products';
@import './sections/testimonials';
@import './sections/instagram';
@import './sections/best-stories';
@import './sections/cta-section';
@import './sections/collections';
@import './sections/collection';
@import './sections/blog-posts';
@import './sections/info-section';
@import './sections/faq-categories';
@import './sections/login-form-section';
@import './sections/reset-form-section';
@import './sections/register-form-section';
@import './sections/account-details';
@import './sections/account-addresses';
@import './sections/cart';
@import './sections/pop-up';
@import './sections/404';
@import './sections/product-section';
@import './sections/contact-section';

//article
@import './sections/article-header-image';
@import './sections/article-content-section';
@import './sections/article-featured-products';
@import './sections/article-comments-section';

//about page template
@import './sections/columns-text-section';
@import './sections/text-and-image';
@import './sections/image-gallery-section';
@import './sections/text-content-section';


// -= E N D =-

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("{{'preloader.svg' | asset_url}}") no-repeat center center;
}

.image-section {
  height: 660px;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 60px;
  @media only screen and (max-width: 800px) {
    margin-bottom: 40px;
  };
  @media only screen and (max-width: 1023px) {
    height: 400px;
  }
  @media only screen and (max-width: 640px) {
    height: 300px;
  }
}
