<section class="page-title-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ 'customer.account.title' | t }}</h1>
    </div>
  </div>
</section>

<section class="account-details">
  <div class="row">
    <div class="large-4 medium-6 columns">
      <h3 class="account-detail-title">{{ 'customer.orders.title' | t }}</h3>
      <div class="account-history">
        {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <table class="responsive-table">
            <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in customer.orders %}
              <tr class="responsive-table-row">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

        {% endpaginate %}
      </div>
    </div>
    <div class="large-4 medium-6 columns">
      <h3 class="account-detail-title">{{ 'customer.account.details' | t }}</h3>
      <div class="account-addresses">
        <a href="/account/addresses" class="addresses-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        {{ customer.default_address | format_address }}
      </div>
    </div>
  </div>
</section>



