{% include 'breadcrumbs' %}

{% paginate customer.addresses by 5 %}

<section class="page-title-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ 'customer.account.title' | t }}</h1>
    </div>
  </div>
</section>

<section class="account-addresses-sec">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="addresses-title">{{ 'customer.addresses.title' | t }}</h3>
      <div class="addresses-wrap">
        {% for address in customer.addresses %}
        <div class="address-box nmp-last-el">
          {% if address == customer.default_address %}
          <span class="default-address">{{ 'customer.addresses.default' | t }}</span>
          {% endif %}
          {{ address | format_address }}
          <a href="javascript:void(0)" class="address-link address-edit">{{ 'customer.addresses.edit' | t }}</a><br>
          <form id="delete-user-address" data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
            <input type="hidden" name="_method" value="delete"/>
            <a href="#delete" onclick="document.getElementById('delete-user-address').submit();" class="address-link">{{ 'customer.addresses.delete' | t }}</a>
          </form>

          <div class="edit-address-form" data-address-form >
              {% form 'customer_address', address %}
              <input type="text"
                     name="address[first_name]"
                     id="AddressFirstName_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.first_name' | t }}"
                     value="{{ form.first_name }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[last_name]"
                     id="AddressLastName_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.last_name' | t }}"
                     value="{{ form.last_name }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[company]"
                     id="AddressCompany_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.company' | t }}"
                     value="{{ form.company }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[address1]"
                     id="AddressAddress1_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.address1' | t }}"
                     value="{{ form.address1 }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[address2]"
                     id="AddressAddress2_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.address2' | t }}"
                     value="{{ form.address2 }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[city]"
                     id="AddressCity_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.city' | t }}"
                     value="{{ form.city }}"
                     autocapitalize="words">
              <select data-address-country
                      name="address[country]"
                      id="AddressCountry_{{ form.id }}"
                      class="address-country-option"
                      data-form-id="{{ form.id }}"
                      data-default="{{ form.country }}">
              </select>
              <input type="text"
                     name="address[zip]"
                     id="AddressZip_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.zip' | t }}"
                     value="{{ form.zip }}"
                     autocapitalize="characters">
              <input type="tel"
                     name="address[phone]"
                     id="AddressPhone_{{ form.id }}"
                     placeholder="{{ 'customer.addresses.phone' | t }}"
                     value="{{ form.phone }}"
                     pattern="[0-9\-]*">

            <div class="def-checkbox">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}">
                {{ 'customer.addresses.set_default' | t }}
              </label>
            </div>

            <div class="form-buttons">
              <button type="submit" class="btn">{{ 'customer.addresses.update' | t }}</button>
              <button type="button" class="btn close-edit-address-form" data-address-toggle data-form-id="{{ form.id }}">
                {{ 'customer.addresses.cancel' | t }}
              </button>
            </div>

            {% endform %}

            </div>

        </div>
        {% endfor %}
      </div>
      <div data-address>
        <div class="add-address-btn-wrap">
          <button class="btn add-address" data-address-toggle>{{ 'customer.addresses.add_new' | t }}</button>
        </div>
        <div class="add-address-form" data-address-form>
          <div data-address>
            <div data-address-form class="hide">
              {% form 'customer_address', customer.new_address %}
              <input type="text"
                     name="address[first_name]"
                     id="AddressFirstNameNew"
                     placeholder="{{ 'customer.addresses.first_name' | t }}"
                     value="{{ form.first_name }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[last_name]"
                     id="AddressLastNameNew"
                     placeholder="{{ 'customer.addresses.last_name' | t }}"
                     value="{{ form.last_name }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[company]"
                     id="AddressCompanyNew"
                     placeholder="{{ 'customer.addresses.company' | t }}"
                     value="{{ form.company }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[address1]"
                     id="AddressAddress1New"
                     placeholder="{{ 'customer.addresses.address1' | t }}"
                     value="{{ form.address1 }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[address2]"
                     id="AddressAddress2New"
                     placeholder="{{ 'customer.addresses.address2' | t }}"
                     value="{{ form.address2 }}"
                     autocapitalize="words">
              <input type="text"
                     name="address[city]"
                     id="AddressCityNew"
                     placeholder="{{ 'customer.addresses.city' | t }}"
                     value="{{ form.city }}"
                     autocapitalize="words">
              <select data-address-country
                      name="address[country]"
                      id="AddressCountryNew"
                      data-default="COUNTRY">
              </select>
              <input type="text"
                     name="address[zip]"
                     id="AddressZipNew"
                     placeholder="{{ 'customer.addresses.zip' | t }}"
                     value="{{ form.zip }}"
                     autocapitalize="characters">
              <input type="tel"
                     name="address[phone]"
                     id="AddressPhoneNew"
                     placeholder="{{ 'customer.addresses.phone' | t }}"
                     value="{{ form.phone }}"
                     pattern="[0-9\-]*">

              <div class="def-checkbox">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>

              <div class="form-buttons">
                <button type="submit" class="btn">{{ 'customer.addresses.add' | t }}</button>
                <button type="button" data-address-toggle class="btn close-address-form">
                  {{ 'customer.addresses.cancel' | t }}
                </button>
              </div>

              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
