{% include 'breadcrumbs' %}

<section class="page-title-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ 'customer.login.title' | t }}</h1>
    </div>
  </div>
</section>

<section class="login-form-section sec-margin">
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      <div class="login-form-box">
        {% form 'customer_login' %}

        {{ form.errors | default_errors }}
        <div class="inputs-box">
          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                 name="customer[email]"
                 id="CustomerEmail"
                 class="form-input email-input {% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'customer.login.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 autofocus>

          {% if form.password_needed %}
            <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                   name="customer[password]"
                   id="CustomerPassword"
                   class="form-input pass-input {% if form.errors contains 'password' %}input-error{% endif %}"
                   placeholder="{{ 'customer.login.password' | t }}">
          {% endif %}
          <input type="submit" class="button btn" value="{{ 'customer.login.sign_in' | t }}">
        </div>
        <p class="form-desc">Your information is secure and encrypted, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.</p>
        <div class="form-links">
          <a href="/">{{ 'customer.login.cancel' | t }}</a>
          <a href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
          <a href="#recover" id="reset-password" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
        </div>

        {% endform %}

      </div>
    </div>
  </div>
</section>

<section class="reset-form-section sec-margin" style="display: none;">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ 'customer.recover_password.title' | t }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      <div class="reset-form-box">
        {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <span class="hide" data-form-state></span>
        {% endif %}
        <div class="inputs-box">
          <label for="RecoverEmail" class="label-hidden">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <input type="email"
                 name="email"
                 id="RecoverEmail"
                 placeholder="{{ 'customer.recover_password.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 class="form-input email-input"
          >

          <input type="submit" class="button btn" value="{{ 'customer.recover_password.submit' | t }}">

          <button type="button" id="close-reset-password" class="cancel-btn btn" data-recover-toggle>
            {{ 'customer.recover_password.cancel' | t }}
          </button>
        </div>
        <p class="form-desc">{{ 'customer.recover_password.subtext' | t }}</p>
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% if shop.checkout.guest_login %}
<section class="reset-form-section sec-margin">
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="button btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    </div>
  </div>
</section>
{% endif %}
