{% include 'breadcrumbs' %}

<section class="page-title-section">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="page-title">{{ 'customer.register.title' | t }}</h1>
    </div>
  </div>
</section>

<section class="register-form-section sec-margin">
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      <div class="register-form-box">
        {% form 'create_customer' %}
        {{ form.errors | default_errors }}
        <div class="inputs-box">
          <label for="FirstName" class="label-hidden">
            {{ 'customer.register.first_name' | t }}
          </label>
          <input type="text"
                 name="customer[first_name]"
                 id="FirstName"
                 class="form-input"
                 placeholder="{{ 'customer.register.first_name' | t }}"
                 autofocus
                 {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

          <label for="LastName" class="label-hidden">
            {{ 'customer.register.last_name' | t }}
          </label>
          <input type="text"
                 name="customer[last_name]"
                 id="LastName"
                 class="form-input"
                 placeholder="{{ 'customer.register.last_name' | t }}"
                 {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

          <label for="Email" class="label-hidden">
            {{ 'customer.register.email' | t }}
          </label>
          <input type="email"
                 name="customer[email]"
                 id="Email"
                 class="form-input {% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'customer.register.email' | t }}"
                 value="{% if form.email %}{{ form.email }}{% endif %}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off">

          <label for="CreatePassword" class="label-hidden">
            {{ 'customer.register.password' | t }}
          </label>
          <input type="password"
                 name="customer[password]"
                 id="CreatePassword"
                 class="form-input {% if form.errors contains 'password' %}input-error{% endif %}"
                 placeholder="{{ 'customer.register.password' | t }}">
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button btn">
          {% endform %}
        </div>
        <div class="form-links">
          <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</section>


