{%- comment -%}
In order to avoid showing "success" message when we post comments
with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

Comment help page:
http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
  When you refresh the page with submitted comment, the comment is duplicated
  so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
  {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}


  {% if article.image %}
<section class="article-header-image lazyload" data-bgset="{% include 'responsive-bg-image', image: article.image %}">

  <noscript>
    {%- assign image_size = article.image.width | append: 'x' -%}
    <section class="article-header-image" style="background-image: {{ article.image | img_url: image_size }}">
  </noscript>
  {% endif %}
  <div class="dark-overlay"></div>

  <div class="row  article-row">
    <div class="large-8 medium-10 medium-centered columns">
      <div class="article-categories">
        {% if article.tags.size > 0 %}
          {% for tag in article.tags %}
            <span>{{ tag }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <h1 class="article-title">{{ article.title }}</h1>
      <div class="share-buttons">
        <a href="javascript:void(0)" class="share-link heart-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14"><g><g><path class="heart-icon" fill="#b7986b" d="M11.68 0A4.305 4.305 0 0 0 8 2.085 4.307 4.307 0 0 0 4.32 0C1.934 0 0 1.954 0 4.364 0 5.677.576 6.851 1.483 7.65l6.123 6.184a.553.553 0 0 0 .788 0l6.123-6.184A4.367 4.367 0 0 0 16 4.364C16 1.954 14.066 0 11.68 0z"/></g></g></svg>
        </a>
        <a href="javascript:void(0)" class="share-link share-icon">
          <svg version="1.1" id="share" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><style type="text/css">.share0{fill:#292422;}</style><g><g><path class="share0 share-icon" d="M13.057807,10.1690197c-0.9342194,0-1.7582607,0.4413118-2.2966337,1.1171217L5.767632,8.7540655 c0.0653729-0.2417555,0.11236-0.4915466,0.11236-0.754437c0-0.2861848-0.0558057-0.5556235-0.1336741-0.8178048 l4.9715128-2.5203953c0.5354118,0.7063966,1.3807659,1.1681004,2.3406925,1.1681004 C14.6846075,5.8295288,16,4.5252743,16,2.9144104C16.0000324,1.3049973,14.6846066,0,13.0585566,0 c-1.622407,0-2.9392633,1.3049973-2.9392633,2.9143758c0,0.2636325,0.0470209,0.5141327,0.1131086,0.7566319L5.2395749,6.203084 C4.7004862,5.5265651,3.8749485,5.0838008,2.9392638,5.0838008C1.3146434,5.0838008,0,6.3895068,0,7.9996285 s1.3146776,2.9151187,2.9392638,2.9151187c0.9613912,0,1.8060303-0.4631548,2.3436208-1.1702604l4.9692984,2.5203953 c-0.0778675,0.2614384-0.134388,0.5330725-0.134388,0.8199997C10.117795,14.6950026,11.4346514,16,13.0570583,16 c1.6260843,0,2.9414768-1.3049974,2.9414768-2.9151182C15.9992838,11.4733076,14.6838913,10.1690197,13.057807,10.1690197z"/></g></g></svg>
        </a>
        <a href="javascript:void(0)" class="share-link">
          <svg version="1.1" id="facebook2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 9 17" style="enable-background:new 0 0 9 17;" xml:space="preserve"><style type="text/css">.fb-tw0{fill:#292422;}</style><g><path class="fb-tw0 fb-icon" d="M8.6610861,0.0035371L6.5023961,0C4.0771809,0,2.5099003,1.6421149,2.5099003,4.1837234v1.9289761H0.3394333 C0.1518791,6.1126995,0,6.2679796,0,6.4595156v2.7948675C0,9.445919,0.1520522,9.6010218,0.339433,9.6010218h2.1704674v7.0523386 C2.5099003,16.8448963,2.6617792,17,2.8493333,17h2.8318415c0.1875544,0,0.3394332-0.1552792,0.3394332-0.3466396V9.6010218 h2.5377817c0.1875544,0,0.3394337-0.1551027,0.3394337-0.3466387l0.0010386-2.7948675 c0-0.0919657-0.0358486-0.1800404-0.0994053-0.2451239C8.7358999,6.1493087,8.6493101,6.112699,8.5592556,6.112699H6.0206084 V4.4774814c0-0.7859514,0.1833982-1.1849399,1.1859379-1.1849399l1.4541936-0.0005307C8.8481216,3.2920108,9,3.1367307,9,2.9453714 V0.3501764C9,0.1589942,8.8482943,0.0038908,8.6610861,0.0035371z"/></g></svg>
        </a>
        <a href="javascript:void(0)" class="share-link">
          <svg version="1.1" id="pinterest" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 17.9958496" style="enable-background:new 0 0 14 17.9958496;" xml:space="preserve"><style type="text/css">.pin0{fill:#292422;}</style><g><path class="pin0 pin-icon" d="M5.7548614,11.9023075c-0.472568,2.4774742-1.0496922,4.8527355-2.7592885,6.0935421 c-0.5276353-3.7447367,0.7750769-6.5569334,1.379914-9.5426083C3.3443303,6.717371,4.4994774,3.2233155,6.6748042,4.0844121 c2.6765084,1.0590501-2.3180327,6.4541774,1.0347557,7.1282973c3.5007129,0.7032738,4.9299359-6.073926,2.759109-8.2780457 C7.3323689-0.2477052,1.3388835,2.8621409,2.0759897,7.4184852c0.1792376,1.1141171,1.3300657,1.4518981,0.4597914,2.9892745 c-2.0072463-0.445035-2.6065049-2.028121-2.5293031-4.1390228C0.1306487,2.8140919,3.1107454,0.395103,6.0998402,0.0605617 c3.7801867-0.4232601,7.3280506,1.3876525,7.8178949,4.9436135c0.5517502,4.0135927-1.7059984,8.3606462-5.7483835,8.0478802 C7.07377,12.9669361,6.6136189,12.4241838,5.7548614,11.9023075z"/></g></svg>
        </a>
        <a href="javascript:void(0)" class="share-link">
          <svg version="1.1" id="whats-app" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve"><style type="text/css">.whats-app0{fill:#292422;}</style><g><path id="WhatsApp" class="whats-app0 wats-app-icon" d="M18,8.7681999c0,4.8425999-3.9558001,8.7681999-8.8364,8.7681999 c-1.5494003,0-3.0049996-0.3959999-4.2714-1.0909996L0,18l1.595-4.704401C0.7904,11.9743996,0.327,10.424799,0.327,8.768199 C0.327,3.9256001,4.2832003,0,9.1636,0C14.0445995,0,18,3.9256001,18,8.7681999z M9.1636,1.3964 c-4.0967999,0-7.4291997,3.3070002-7.4291997,7.3717999c0,1.6129999,0.5257999,3.1068001,1.4152001,4.3220005L2.2214,15.8280001 l2.8549998-0.9074011c1.1730003,0.7701998,2.5781999,1.2194004,4.0874004,1.2194004 c4.0962,0,7.4291983-3.3066006,7.4291983-7.3713999S13.2602005,1.3964,9.1636,1.3964z M13.6257992,10.7875996 c-0.0545998-0.0893993-0.1988001-0.1433992-0.4151993-0.2508001c-0.2167997-0.1073999-1.2819996-0.6275997-1.4799995-0.6989994 C11.5319996,9.7661991,11.3872004,9.7301998,11.243,9.9452c-0.1442003,0.2151995-0.5594006,0.6989994-0.6859999,0.8423996 c-0.1264,0.1437998-0.2526007,0.1617994-0.4694004,0.0541992c-0.2164001-0.107399-0.9141998-0.3345995-1.7416-1.0665998 C7.7021995,9.2055988,7.2673998,8.5023994,7.1409998,8.2869997C7.0147996,8.0719995,7.127799,7.9558001,7.2359991,7.8487992 c0.0976-0.0963998,0.2168002-0.2510004,0.3250003-0.3764c0.1085997-0.1255999,0.1445999-0.2150002,0.2164001-0.3586001 c0.0725999-0.1433997,0.0363998-0.2688003-0.0180001-0.3765998c-0.0539999-0.1073995-0.4875998-1.165-0.6680002-1.5954003 c-0.1803999-0.4299998-0.3606-0.3583999-0.4871998-0.3583999c-0.1262002,0-0.2708001-0.0180001-0.4152002-0.0180001 s-0.3792,0.0538001-0.5777998,0.2688003C5.4127989,5.2493992,4.8533993,5.7693992,4.8533993,6.8267989 c0,1.0576005,0.7757998,2.0793996,0.8843999,2.2225995c0.1082001,0.1431999,1.4979997,2.3839998,3.7000003,3.2446003 c2.2022009,0.8602018,2.2022009,0.5732012,2.5994005,0.5372009c0.3968-0.0358,1.2812004-0.5198002,1.4624004-1.0213995 C13.6796007,11.3073997,13.6796007,10.8772001,13.6257992,10.7875996z"/></g></svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="article-content-section">
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      <div class="article-info">

        <span class="article-author">MRSEY</span>
        {% capture date %}{{ article.published_at | time_tag: format: 'abbreviated_date' }}{% endcapture %}
        <span class="article-date">{{ 'blogs.article.date_html' | t: date: date }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      <div class="article-content">
        {% include 'shortcode' load: article.content %}
      </div>
    </div>
  </div>
</section>
