<section class="logos-line-section sec-margin">
  <div class="row">
    <div class="large-12 columns logos-col">
      <div class="logos-line">
        {% for block in section.blocks %}
          <div class="logo-item-box">
            <div class="logo-item">
              {% include block.settings.image %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": {
    "de": "Brands Bar",
    "en": "Brands Bar"
    },
    "max_blocks": 4,
    "blocks": [
      {
      "type": "slide",
      "name": {
      "de": "Brand Logo",
      "en": "Brand Logo"
      },
      "settings": [
        {
          "type": "text",
          "id": "image",
          "label": {
            "de": "Brand Logo Snippet",
            "en": "Brand Logo Snippet"
          }
        }
      ]
    }
    ],
    "presets": [
      {
        "name": {
        "de": "Brands Bar",
        "en": "Brands Bar"
        },
        "category": {
        "de": "Tool Bars",
        "en": "Tool Bars"
        }
      }
    ]
  }
{% endschema %}

