
{% include 'breadcrumbs' %}


<section class="collection-section">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="collection-title">{{ collection.title }}</h1>
        </div>
        <div class="large-12 columns">
          <div class="collection-filters">
            <div class="products-filters">
              {% assign sizes = '' %}
              {% for product in products limit: limit %}
                {% for variant in product.variants %}
                  {% if variant.available %}
                    {% assign sizes = sizes | append: variant.options[0] | append: '_' %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
              {% assign sizesArr = sizes | split: '_' | uniq %}

              <!-- div class="filter-select-wrap">
                <select name="product-model" id="product-model">
                  <option value="">Size</option>
                  {% for size in sizesArr %}
                      <option value="{{ size | handle }}">{{ size }}</option>
                  {% endfor %}
                </select>
              </div -->
          </div>
            {% if section.settings.sort_enable %}
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
              <div class="products-sorting">
                <label for="product-sorting">Sortieren nach:</label>
                <select name="product-sorting" id="product-sorting">
                  {%- for option in collection.sort_options -%}
                    <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                  {%- endfor -%}
                </select>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="large-12 columns">
          <span class="products-count">{{ collection.products_count }} Products</span>
        </div>
        <div class="large-12 columns collection-products-col">
          <div id="collection-content" class="collection-list">
            {% for product in collection.products %}
              <div class="col-product-item">
                <div class="col-product-wrap">
                  <div class="col-product-box">
                    <a href="{{ product.url | within: collection }}" class="product-link"></a>
                    <div class="col-product-img-wrap">
                      {% if product.available %}
                        <span class="product-sticker">{{ 'products.product.on_sale' | t }}</span>
                      {% else %}
                        <span class="product-sticker">{{ 'products.product.sold_out' | t }}</span>
                      {% endif %}
                      {%- assign image_object = product.featured_image | default: collection.products.first.featured_image -%}
                      <div class="col-product-img lazyload" data-bgset="{% include 'responsive-bg-image', image: image_object %}">
                      </div>
                    </div>
                    <div class="product-info">
                      <div class="product-price">
                        <span class="sale-price">{{ product.price | money }}</span>
                        {% if product.compare_at_price > product.price %}
                          <span class="regular-price">{{ product.compare_at_price | money }}</span>
                        {% endif %}
                      </div>
                      <span class="product-desc">{{ product.title | escape }}</span>
                      {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
</section>

    {%- if collection.description != blank -%}
      <section class="info-section">
        <div class="row">
          <div class="large-12 columns">
            <div class="info-box nmp-last-el">
              <p>
                {{ collection.description }}
              </p>
            </div>
          </div>
        </div>
      </section>
    {%- endif -%}
<script id="sort-collection" type="text/template">
  <% products.forEach(function(product) { %>
    <div class="col-product-item">
      <div class="col-product-wrap">
        <div class="col-product-box">
          <a href="/products/<%-product.handle%>" class="product-link"></a>
          <div class="col-product-img-wrap">
            <% if (product.available == true) { %>
              <span class="product-sticker">{{ 'products.product.on_sale' | t }}</span>
            <% } else{ %>
              <span class="product-sticker">{{ 'products.product.sold_out' | t }}</span>
            <% } %>

            <div class="col-product-img lazyload" style="background-image: url('<%= product.ImageFormat %>');">
            </div>
          </div>
          <div class="product-info">
            <div class="product-price">
              <span class="sale-price">
                <%= product.priceFormat %>
              </span>
              <% if (product.compare_at_price > product.price) { %>
                <span class="regular-price"><%= product.compare_at_priceFormat %></span>
              <% } %>
            </div>
            <span class="product-desc"><%= product.title %></span>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
</script>

{% schema %}
{
    "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fr": "Pages de collections",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "pt-BR": "Páginas de coleções"
    },
    "settings": [
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
      "de": "Sortieren erlauben",
      "en": "Enable sorting",
      "es": "Habilitar la función ordenar",
      "fr": "Activer le tri",
      "it": "Permetti di ordinare",
      "ja": "並べ替えを有効にする",
      "pt-BR": "Ativar classificação"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
      "de": "Tag-Filtern erlauben",
      "en": "Enable tag filtering",
      "es": "Habilitar filtro de etiquetas",
      "fr": "Activer le filtrage par balises",
      "it": "Attiva filtro tag",
      "ja": "タグでの絞り込みを有効にする",
      "pt-BR": "Ativar filtragem de tags"
      },
      "default": true
    }
  ]
}
{% endschema %}
