{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
<section class="featured-collections">
  <div class="row">
    {% if section.settings.title != blank %}
      <div class="small-10 large-8 columns">
        <h3 class="bar-title">{{ section.settings.title | escape }}</h3>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="fc-top-line">
        <span class="small-title">What's new?</span>
        <a href="/collections" class="all-link">View all</a>
      </div>
    </div>
  </div>
  <div class="fc-slider-wrap">
    <div class="fc-slider">
      {% for block in section.blocks %}
          {%- assign collection = collections[block.settings.collection] -%}
          <div class="">
            <div class="fc-slide-img-wrap">
              <a href="{{ collection.url | default: "#" }}" class="slide-link"></a>
              {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
              <div class="fc-slide-img-box">
                <div class="fc-slide-img" style="background-image: url('{{ image_object | img_url: '800x' }}');"></div>
              </div>
              <div class="fc-slide-content">
                {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
                <h2 class="fc-product-title">{{ collection.title | default: default_label }} <span>{{ collection.title | default: default_label }}</span> {{ collection.title | default: default_label }}</h2>
                <a href="{{ collection.url | default: "#" }}" class="shop-link">Shop Collection</a>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
