<section class="columns-text-section">
  <div class="row">
    <div class="medium-10 medium-centered columns col-text-col">
      <div class="text-columns">
        {% for block in section.blocks %}
          <div class="text-column">
            <div class="text-column-content nmp-last-el">
              <h4>{{ block.settings.title }}</h4>
              <p>{{ block.settings.content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Columns Text",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "slide",
        "name": "Column with Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sub Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Columns Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
