<!-- 'light' class is optional for white content and dark image-->
{%- assign LightTheme = section.settings.light -%}
<section class="cta-section {% if LightTheme %} light{% endif %}" style="background-image: url({{ section.settings.image | img_url: '1920x' }});">
  <div class="row">
    <div class="large-5 large-push-6 medium-6 medium-push-6 columns">
      <div class="cta-content">
        <div class="subtitle-wrap">
          {% if section.settings.extra_title != blank %}
          <span class="subtitle">{{ section.settings.extra_title | escape }}</span>
          {% endif %}
        </div>
        {% if section.settings.title != blank %}
          <h3 class="cta-title">{{ section.settings.title | escape }}</h3>
        {% endif %}
        <div class="cta-description nmp-last-el">
          {% if section.settings.text != blank %}
            <p>{{ section.settings.text }}</p>
          {% endif %}
        </div>
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <div class="cat-button-wrapper">
            <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_label | escape }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "CTA Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type":      "checkbox",
        "id":        "light",
        "label":     "Light? / if (dark image)",
        "default":   false
      },
      {
        "type": "text",
        "id": "extra_title",
        "label": "Extra Title",
        "default": "TRAVEL ACCESSORIES"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "COMING SOON"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "CTA Section",
        "category": "Image"
      }
    ]
  }
{% endschema %}
