<section class="faq-categories-section">
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      <div class="faq-categories">
        {% for block in section.blocks %}
          <a href="{{ block.settings.link_to }}" class="blog-category-link">{{ block.settings.link_title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": {
    "de": "Custom Links",
    "en": "Custom Links"
    },
    "max_blocks": 6,
    "blocks": [
      {
      "type": "slide",
      "name": {
      "de": "Custom Link",
      "en": "Custom Link"
      },
      "settings": [
        {
          "type": "text",
          "id": "link_title",
          "label": {
            "de": "Link Title",
            "en": "Link Title"
          }
        },
        {
          "type": "text",
          "id": "link_to",
          "label": {
            "de": "Link to",
            "en": "Link to"
          }
        }
      ]
    }
    ],
    "presets": [
      {
        "name": {
        "de": "Custom Links",
        "en": "Custom Links"
        },
        "category": {
        "de": "Links Bar",
        "en": "Links Bar"
        }
      }
    ]
  }
{% endschema %}

