
<section class="featured-blocks">
  <div class="row">
    <div class="large-8 medium-10 medium-centered columns">
      {% if section.settings.title != blank %}
        <h3 class="fb-sec-title">
          {{ section.settings.title }}
        </h3>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns fb-col">
      <div class="fb-list">
        {% for block in section.blocks %}
          <div class="fb-item">
            <div class="fb-box">
              <div class="fb-wrapper">
                <div class="fb-icon-wrapper">
                  {% if block.settings.image!= blank  %}
                    {% include block.settings.image %}
                  {% endif %}
                </div>

                {% if block.settings.sub_title != blank  %}
                  <h4 class="fb-title">{{ block.settings.sub_title }}</h4>
                {% endif %}
                <div class="fb-text nmp-last-el">
                  {% if block.settings.description != blank  %}
                    <h4 class="fb-title">{{ block.settings.description }}</h4>
                  {% endif %}
                </div>
                <div class="fb-button-wrapper">
                  {% if block.settings.btn_title != blank  %}
                    <a href="{{ block.settings.btn_link }}" class="btn">{{ block.settings.btn_title }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": {
    "de": "Features Blocks",
    "en": "Features Blocks"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Title"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
      "type": "slide",
      "name": {
      "de": "Feature Box",
      "en": "Feature Box"
      },
      "settings": [
        {
          "type": "text",
          "id": "image",
          "label": {
            "de": "Icon SVG Snippet",
            "en": "Icon SVG Snippet"
          }
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": {
            "de": "SubTitle",
            "en": "SubTitle"
          }
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "text",
          "id": "btn_title",
          "label": {
            "de": "SubTitle",
            "en": "Button Title"
          }
        },
        {
          "type": "text",
          "id": "btn_link",
          "label": "Button Link",
          "default": "#someLink"
        }
      ]
    }
    ],
    "presets": [
      {
        "name": {
        "de": "Features Blocks",
        "en": "Features Blocks"
        },
        "category": {
        "de": "Tool Bars",
        "en": "Tool Bars"
        }
      }
    ]
  }
{% endschema %}

