{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

<section class="featured-products">
  <div class="row">
    <div class="large-12 columns">
      <div class="fc-top-line">
        {% if section.settings.title != blank %}
          <span class="small-title">{{ section.settings.title | escape }}</span>
        {% endif %}
        {%- assign collection = collections[section.settings.collection] -%}
        <a href="{{ collection.url }}" class="all-link">View all</a>
      </div>
    </div>
  </div>
  <div class="fc-slider-wrap">
    <div class="fc-slider">
      {% for product in collection.products limit: 6 %}
        <div class="">
          <div class="fc-slide-img-wrap">
            <a href="{{ product.url | within: collection }}" class="slide-link"></a>
            {% if product.available %}
              <span class="product-sticker">{{ 'products.product.on_sale' | t }}</span>
            {% else %}
              <span class="product-sticker">{{ 'products.product.sold_out' | t }}</span>
            {% endif %}

            <div class="fc-slide-img-box">
              {%- assign image_object = product.featured_image | default: collection.products.first.featured_image -%}
              <div class="fc-slide-img" style="background-image: url('{{ image_object | img_url: '800x' }}');"></div>
            </div>
            <div class="product-info">
              <div class="product-price">
                <span class="sale-price">{{ product.price | money }}</span>
                {% if product.compare_at_price > product.price %}
                  <span class="regular-price">{{ product.compare_at_price | money }}</span>
                {% endif %}
              </div>
              <span class="product-desc">{{ product.title | escape }}</span>
              {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
