<footer class="footer">
  <div class="row footer-top-row">
    <div class="medium-5 medium-push-7 columns subscribe-col">
      <div class="subscribe-form-box">
        {% form 'customer', class: 'subscribe-form' %}
        {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <label for="Email" class="email-label">{{ section.settings.newsletter }}</label>
            <div class="form-inputs-wrap">
              <input class="email-field"
                     type="email"
                     name="contact[email]"
                     id="Email"
                     value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                     placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                     autocorrect="off"
                     autocapitalize="off">
              <button type="submit" name="commit" id="Subscribe" class="btn white">
                <span>{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </div>

        {% endif %}
        {% endform %}
      </div>
    </div>
    <div class="medium-7 medium-pull-5 columns footer-menu-col">
      <div class="footer-menu-box">

        {% if section.settings.logo != blank %}
          {% assign logoSVG = section.settings.logo %}
          <a href="{{ shop.url }}" rel="nofollow" class="footer-logo">
            {% include logoSVG %}
          </a>
        {% endif %}

        {%- assign footer_linklist = section.settings.footer_menu -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <ul class="footer-menu">
            {% for link in linklists[footer_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
        {%- assign social_linklist = section.blocks -%}
        <ul class="footer-socials">
          {% for social in social_linklist %}
            <li>
              <a href="{{ social.settings.social_url }}">
                {% include social.settings.social_icon %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-info-box">
    <div class="row">
      <div class="large-12 columns footer-info-col">
        {% if section.settings.copyrights %}
          <div class="copyrights">{{ section.settings.copyrights }}</div>
        {% endif %}
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <ul class="footer-links">
            {% for link in linklists[footer_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if section.settings.show_payment_icons %}
          {% unless shop.enabled_payment_types == empty %}
          <ul class="pay-icons">
            {% for type in shop.enabled_payment_types %}
              <li>
                <span>
                  {{ type | payment_type_svg_tag: class: 'icon' }}
                </span>
              </li>
            {% endfor %}
          </ul>
          {% endunless %}
        {% endif %}
      </div>
    </div>
  </div>
</footer>

{% if section.settings.show_pop_up %}
<div class="pop-overlay"></div>
<div class="pop-up-box">
  <div class="row">
    <div class="large-12 columns pop-col">
      <div class="pop-up-img-wrap">
        <div class="pop-up-img" style="background-image: url({{ 'pop.jpg'| asset_url }});"></div>
      </div>
      <div class="pop-up-text-box">
        <h2 class="pop-title">{{ section.settings.pop-title }}</h2>
        <div class="pop-text nmp-last-el">
          <p>{{ section.settings.pop-text }}</p>
        </div>
        <div class="subscribe-form-box">
          {% form 'customer', class: 'subscribe-form' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <label for="Email" class="email-label">{{ section.settings.newsletter }}</label>
            <div class="form-inputs-wrap">
              <input class="email-field"
                     type="email"
                     name="contact[email]"
                     id="Email"
                     value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                     placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                     autocorrect="off"
                     autocapitalize="off">
              <button type="submit" name="commit" id="Subscribe" class="btn">
                <span>{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </div>

          {% endif %}
          {% endform %}

        </div>
        <span class="close-pop">{{ section.settings.sub-title }}</span>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "logo",
        "label": "Logo snippet Name",
        "default": "logo"
      },
      {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu",
      "default": "footer"
      },
      {
        "type": "text",
        "id": "newsletter",
        "label": "Newsletter",
        "default": "Subscribe to our newsletter for news and perks."
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "text",
        "id": "copyrights",
        "label": "Copyrights",
        "default": "© 2019 MRSEY"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_pop_up",
        "label": "Show Pop-Up",
        "default": false
      },
      {
        "type": "text",
        "id": "pop-title",
        "label": "Pop Up Title",
        "default": "SUBSCRIBE NOW AND SAVE 10% ON YOUR FIRST PURCHASE!"
      },
      {
        "type": "text",
        "id": "pop-text",
        "label": "Pop Up Text",
        "default": "JUST SIGN-UP FOR THE NEWSLETTER AND GET THIS AWESOME DEAL NOW!"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Subtitle",
        "default": "No! I don’t want this awesome deal."
      }
    ],
    "max_blocks": 6,
    "blocks": [
          {
          "type": "slide",
          "name": {
              "de": "Social Network",
              "en": "Social Network"
          },
          "settings": [
            {
            "type": "text",
            "id": "social_icon",
            "label": {
              "de": "Icon",
              "en": "Icon"
            }
            },
            {
            "type": "text",
            "id": "social_url",
              "label": {
                "de": "Social URL",
                "en": "Social URL"
              }
            }
          ]
     }
    ]
  }

{% endschema %}
