<section class="video-section" data-section-id="{{ section.id }}" data-section-type="instagram">
  <div class="row">
    {% include 'responsive-image' with
      image: section.settings.poster,
      max_width: 1920,
      max_height: 1080
    %}
    <video id='video' controls="controls" preload='none'
           width="600" poster="http://media.w3.org/2010/05/sintel/poster.png">
      <source id='mp4' src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4'/>
      <source id='webm' src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm'/>
      <source id='ogv' src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg'/>

      <track kind="subtitles" label="English subtitles" src="subtitles_en.vtt" srclang="en" default></track>
      <track kind="subtitles" label="Deutsche Untertitel" src="subtitles_de.vtt" srclang="de"></track>
      <!--
        We're not using Flash as a fallback option. It should be coverage enough to
      -->
      <p>Your user agent does not support the HTML5 Video element.</p>
    </video>
  </div>
</section>

{% schema %}
{
  "name": "Full Screen Video",
  "class": "full-video",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Video Title"
    },
    {
    "type": "image_picker",
    "id": "poster",
      "label": {
        "de": "Poster",
        "en": "Poster"
      }
    },
    {
      "type": "url",
      "id": "video_mp4",
      "label": "Video(MP4) URL"
    },
    {
    "type": "url",
    "id": "video_webm",
    "label": "Video(webm) URL"
    },
    {
    "type": "url",
    "id": "video_ogm",
    "label": "Video(ogm) URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    }
    ],
    "presets": [
    {
      "category": "Video",
      "name": "Full Screen Video",
      "settings": {}
    }
  ]
}
{% endschema %}