{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}

  <header class="header headroom">
      {%- if section.settings.announcement_bar_enabled -%}
        <div class="top-line">
          <div class="row">
            <div class="large-12 columns">
              {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
                {%- if section.settings.announcement_bar_link != blank -%}
                  <a href="{{ section.settings.announcement_bar_link }}" class="top-line-link">
                    {{ section.settings.announcement_bar_text | escape }}
                  </a>
                {%- else -%}
                <span class="top-line-text"> {{ section.settings.announcement_bar_text | escape }} </span>
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        </div>

      {%- endif -%}

    {% if section.settings.logo != blank %}
      {% assign logoSVG = section.settings.logo %}
    {% endif %}


    <div class="header-elements">
      {% if template.name == 'index' %}

        <a href="javascript:void(0)" rel="nofollow" class="logo-link">
          {% include logoSVG %}
        </a>
      {% else %}
        <a href="{{ shop.url }}" rel="nofollow" class="logo-link">
          {% include logoSVG %}
        </a>
      {% endif %}

      <div class="close-menu">
        <span>Close</span>
      </div>
      <nav role="navigation" class="main-menu-wrapper">
        <ul class="main-menu">
          {% for link in linklists[section.settings.menu].links %}
              <li {% if link.url == '/collections' %} class="mega-link" {% endif %}>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="right-part">
        <form action="/search" method="get" role="search" class="header-search">
          <label for="Search-{{ section.id }}" class="label-hidden">
            {{ 'general.search.placeholder' | t }}
          </label>
          <input type="search"
                 name="q"
                 id="search-{{ section.id }}"
                 value="{{ search.terms | escape }}"
                 placeholder="{{ 'general.search.placeholder' | t }}..."
          class="search-input">
          <button type="submit" class="search-button">
            {% include 'search_i' %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
        {% if shop.customer_accounts_enabled %}
          <ul class="account-header">
            {% if customer %}
              <li>
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <!--li>
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li-->
            {% else %}
              <li>
                {{ 'layout.customer.account' | t | customer_login_link }}
              </li>
            {% endif %}
          </ul>
        {% endif %}
        <span class="menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="5" viewBox="0 0 23 5"><g><g><path fill="#292422" d="M2.5 5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></g><g><path fill="#292422" d="M11.5 5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></g><g><path class="menu-icon" fill="#292422" d="M20.5 5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></g></g></svg>
        </span>

        <a href="/cart" class="cart-header">
          <span class="cart-label">{{ 'layout.cart.title' | t }}</span>
          <span class="counter-cart">{{ cart.item_count }}</span>
        </a>

      </div>
    </div>

    <div class="mega-menu">
      <div class="mega-menu-box">
        <div class="row">
          <div class="large-12 large-centered columns collection-col">
            <div class="collections">
              {% for collection in collections %}
                <div class="collection-item">
                  <div class="collection-box">
                    <div class="collection-wrap">
                      <a href="{{ collection.url }}" class="collection-link"></a>
                      <div class="collection-img-wrap">
                        {% if collection.image %}
                          <img src="{{ collection.image | img_url: '320x200', crop: 'top' }}" alt="{{ collection.image.alt }}" />
                        {% else %}
                          <img src="{{ collection.products.first | img_url: '320x200', crop: 'top' }}" alt="{{ collection.title | escape  }}" />
                        {% endif %}
                      </div>
                      <h3 class="collection-name">{{ collection.title }}</h3>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-menu">
      <div class="mobile-menu-box nmp-last-el">
        <ul class="mobile-menu-items">
          {% for link in linklists[section.settings.mobile_menu].links %}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <svg version="1.1" id="facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><style type="text/css">.facebook0{fill:#1F191A}</style><path class="facebook0" d="M13.7,0H2.3C1.1,0,0,1.1,0,2.3v11.3C0,14.9,1.1,16,2.3,16h4.7v-5.7H5.2V7.5h1.9V5.6c0-1.6,1.3-2.8,2.8-2.8h2.8 v2.8H9.9v1.9h2.8l-0.5,2.8H9.9V16h3.8c1.3,0,2.3-1.1,2.3-2.3V2.3C16,1.1,14.9,0,13.7,0z"/></svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <svg version="1.1" id="instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><style type="text/css">.instagram0{fill:#1F191A;}</style><path class="instagram0" d="M13.7,0H2.3C1.1,0,0,1.1,0,2.3v11.3C0,14.9,1.1,16,2.3,16h11.3c1.3,0,2.3-1.1,2.3-2.3V2.3C16,1.1,14.9,0,13.7,0 z M8,12.2c-2.3,0-4.2-1.9-4.2-4.2S5.7,3.8,8,3.8s4.2,1.9,4.2,4.2S10.4,12.2,8,12.2z M12.7,4.7c-0.8,0-1.4-0.6-1.4-1.4 s0.6-1.4,1.4-1.4s1.4,0.6,1.4,1.4S13.5,4.7,12.7,4.7z"/><path class="instagram0" d="M12.7,2.8c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5S13,2.8,12.7,2.8z"/><path class="instagram0" d="M8,4.7C6.2,4.7,4.8,6.2,4.8,8s1.5,3.3,3.3,3.3s3.3-1.5,3.3-3.3S9.8,4.7,8,4.7z"/></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </header>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "text",
        "id": "logo",
        "label": "Logo snippet Name"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "Mobile Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
