<section class="features-blocks-section">
  <div class="row">
    <div class="large-12 columns features-blocks-col">
      <div class="features-blocks-line">
        <div class="features-blocks">
          {% for block in section.blocks %}
            <div class="features-block-item">
              <div class="features-block-box">
                <div class="fb-icon">
                  {% if block.settings.image!= blank  %}
                    {% include block.settings.image %}
                  {% endif %}                </div>
                <div class="fb-title-box">
                  {% if block.settings.sub_title != blank  %}
                    <span class="fb-title">{{ block.settings.sub_title }}</span>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": {
    "de": "Features Bar",
    "en": "Features Bar"
    },
    "max_blocks": 4,
    "blocks": [
      {
      "type": "slide",
      "name": {
      "de": "Icon Box",
      "en": "Icon Box"
      },
      "settings": [
        {
          "type": "text",
          "id": "image",
          "label": {
            "de": "Icon SVG Snippet",
            "en": "Icon SVG Snippet"
          }
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": {
            "de": "SubTitle",
            "en": "SubTitle"
          }
        }
      ]
    }
    ],
    "presets": [
      {
        "name": {
        "de": "Features Bar",
        "en": "Features Bar"
        },
        "category": {
        "de": "Tool Bars",
        "en": "Tool Bars"
        }
      }
    ]
  }
{% endschema %}

