<section class="image-gallery-section">
  {% for block in section.blocks %}
    <div class="gal-img-wrap">
      <div class="gal-img lazyload" data-bgset="{% include 'responsive-bg-image', image: block.settings.image %}"></div>
    </div>
  {% endfor %}
</section>


{% schema %}
  {
    "name": "Image Gallery",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "de": "Bild",
              "en": "Image"
            }
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Gallery",
        "category": "Images"
      }
    ]
  }
{% endschema %}
