{%- if section.settings.content != blank -%}
<section class="info-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="info-box nmp-last-el">
          <p>
            {{ section.settings.content }}
          </p>
      </div>
    </div>
  </div>
</section>
{%- endif -%}

{% schema %}
  {
    "name": "Custom Description",
    "settings": [
      {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ],
    "presets": [{
    "name": "Text Full Width",
    "category": "Text"
    }]
  }
{% endschema %}
