<section class="image-slider-section">
  <div class="image-slider">
    {% for block in section.blocks %}
      <div class="slick-slide">
        <div class="slide-image-wrap">
          <div class="slide-image lazyload" data-bgset="{% include 'responsive-bg-image', image: block.settings.image %}">
            <div class="slide-content-wrap">
              <div class="row">
                <div class="large-12 columns">
                  <h2 class="slide-title">{{ block.settings.slide_title }}</h2>
                  <div class="slide-btn-wrap">
                    <a href="{{ block.settings.slide_btn_link }}" class="btn white">
                      {{ block.settings.slide_btn_title }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": {
    "de": "Main Slider",
    "en": "Main Slider"
    },
    "max_blocks": 6,
    "blocks": [
      {
      "type": "slide",
      "name": {
      "de": "Folie",
      "en": "Slide"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "de": "Bild",
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "video_src",
          "label": {
            "de": "Video Source",
            "en": "Video Source"
          }
        },
        {
          "type": "text",
          "id": "video_src_mobile",
          "label": {
            "de": "Video Source(Mobile)",
            "en": "Video Source(Mobile)"
          }
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": {
          "de": "Slide Title",
          "en": "Slide Title"
          }
        },
        {
        "type": "text",
        "id": "slide_btn_title",
        "label": {
          "de": "Button Title",
          "en": "Button Title"
        }
        },
        {
        "type": "text",
        "id": "slide_btn_link",
        "label": {
          "de": "Button Link",
          "en": "Button Link"
        }
        },
        {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "info": "Text",
        "placeholder": "Text"
        }
      ]
    }
    ],
    "presets": [
      {
        "name": {
        "de": "Main Slider",
        "en": "Main Slider"
        },
        "category": {
        "de": "SlideShow",
        "en": "SlideShow"
        }
      }
    ]
  }
{% endschema %}

