<section class="best-stories-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="bs-top-line">
        {%- assign blog = blogs[section.settings.blog_posts] -%}
        {%- assign PostLimit = section.settings.post_limit -%}

        <span class="small-title">{{ section.settings.title }}</span>
        <a href="{{ blog.url }}" class="all-link">View all</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns bs-col">
      <div class="best-stories-box">
        <div class="best-stories">
          {% for article in blog.articles limit:PostLimit %}
          <div class="best-story-item">
            <div class="best-story-wrap">
              <div class="best-story-box">
                <a href="{{ article.url }}" class="story-link"></a>
                <div class="best-story-img-wrap">
                  <span class="story-sticker">Travel</span>
                  <div class="best-story-img lazyload" data-bgset="{% include 'responsive-bg-image', image: article.image %}"></div>
                </div>
                <div class="best-story-content">
                  <h3 class="story-title">{{ article.title }}</h3>
                  <div class="best-story-text nmp-last-el">
                    <p>
                      {% if article.excerpt.size > 0 %}
                        {{ article.excerpt }}
                      {% else %}
                        {{ article.content | strip_html | truncate: 150 }}
                      {% endif %}
                    </p>
                  </div>
                  <span class="read-more">Read more</span>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}


        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": {
    "de": "Blog Stories",
    "en": "Blog Stories"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Headline Title"
      },
      {
        "type": "text",
        "id": "post_limit",
        "label": "Posts Limit",
        "default": "3"
      },
      {
        "type":      "blog",
        "id":        "blog_posts",
        "label":     "Blog Posts",
        "info":      "Blog"
      }
    ],
    "presets": [
      {
        "name": {
        "de": "Blog Stories",
        "en": "Blog Stories"
        },
        "category": {
        "de": "Blog",
        "en": "Blog"
        }
      }
    ]
  }
{% endschema %}

