{% include 'breadcrumbs' %}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{% assign product_collection = product.collections.first %}

<section class="product-section" data-section-id="{{ section.id }}" data-section-type="product">
  <div class="row">
    <div class="large-7 medium-6 columns prod-col">
      <div class="product-sliders-box">
        <div class="product-th-slider-box">
          <div class="product-th-slider">
              {% if product.images.size > 1 %}
                {% for image in product.images %}
                  <div class="slick-slide">
                    <div class="product-th-wrap  {% if image.alt contains 'video:'%}video-cover{% endif %}">
                      <img class="" src="{{ image.src | img_url: '68x84', crop: 'center' }}" alt="{{ image.alt | escape }}">
                    </div>
                  </div>
                {% endfor %}
                {% else %}
                  <div class="slick-slide">
                    <div class="product-th-wrap {% if image.alt contains 'video:'%}video-cover{% endif %}">
                      <img src="{{ featured_image | img_url: '68x84', crop: 'center' }}" alt="{{ featured_image.alt | escape }}">
                    </div>
                  </div>
              {% endif %}
          </div>
        </div>
        <div class="product-main-slider-box">
          {% if product.available %}
            <span class="product-sticker">{{ 'products.product.on_sale' | t }}</span>
          {% else %}
            <span class="product-sticker">{{ 'products.product.sold_out' | t }}</span>
          {% endif %}
          <div class="product-main-slider">
            {% if product.images.size > 1 %}
                {% for image in product.images %}
                  {% if image.alt contains 'video:'%}
                    {% assign videoSrc = image.alt | remove: 'video:' %}
                    <div class="slick-slide video-slide">
                      <div class="product-video-wrap">
                        <video id="slide-video-{{ image.id }}" class="slide-video" data-video-id="{{ image.id }}" muted loop playsinline>
                          <source src="{{ videoSrc }}" type="video/mp4">
                        </video>
                      </div>
                    </div>
                    {% else %}
                    <div class="slick-slide">
                      <div class="product-image-wrap">
                        <a href="{{ image.src | img_url: '1200x' }}" class="slide-big-image" data-fancybox="product-gallery"></a>
                        <img class="" src="{{ image.src | img_url: '555x660', crop: 'bottom' }}" alt="{{ image.alt | escape }}">
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% else %}
                <div class="slick-slide">
                  <div class="product-image-wrap">
                    <a href="{{ featured_image | img_url: '1200x' }}" class="slide-big-image" data-fancybox="product-gallery"></a>
                    <img class="" src="{{ featured_image | img_url: '555x660', crop: 'bottom' }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="large-5 medium-6 columns">
      <div class="product-info-box">
        <span class="product-type">
          {{ product_collection.title }}
        </span>
        <h1 class="product-title">{{ product.title }}</h1>
        <div class="rating-and-reviews">
          {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
        </div>
        <p class="product-price">
          <span class="js-top-current-price">{{ current_variant.price | money }}</span>
          {% if product.compare_at_price_max > product.price %}
            <s data-compare-price class="js-compare-price">
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}
        </p>


        <div class="other-products-slider js-top-products" data-product-top>
          {% for relateProduct in product_collection.products %}
            <div class="other-product-box">

              <div class="other-product-img-wrap {% if product.id == relateProduct.id %}current{% endif %} js-other-product "
                   data-product-id="{{ relateProduct.id }}"
                   data-product-price="{{ relateProduct.price }}"
                   data-product-handle="{{ relateProduct.handle }}"
              >
                <a href="{{ relateProduct.url }}" class="other-product-link">
                  <img src="{{ relateProduct.featured_image| img_url: '58x72', crop:'center' }}">
                </a>
              </div>
              {% for tag in relateProduct.tags %}
                {% if tag contains 'shortname:' %}
                  {% assign prodshortname =  tag | remove: 'shortname:' %}
                  <span class="other-product-name">{{ prodshortname }}</span>
                {% endif %}
              {% endfor %}

            </div>
          {% endfor %}
        </div>


        {% unless product.has_only_default_variant %}

        <div class="size-box">
          <div class="sizes-dropdown">
            <select class="size-select js-size-select-main">
            </select>
          </div>

          <input type="number" id="Quantity" style="display: none;" hidden disabled="disabled" name="quantity" value="1"
                 min="1">
          <a href="javascript:void(0)" class="find-size-link">Find my iphone size</a>
        </div>
        {% endunless %}

        {% for tag in product.tags %}
          {% if tag contains 'upsell:' %}
            {% assign prodHandle =  tag | remove: 'upsell:' %}
            {% assign upsellProduct = all_products[prodHandle] %}
            <div
              class="up-selling-product-box active js-up-selling js-additional-products"
              data-price-product="{{ upsellProduct.price }}"
              data-handle="{{ upsellProduct.handle }}">
              <span class="title">Add a {{ upsellProduct.title }}</span>
              <div class="prices">
                {% if upsellProduct.compare_at_price > upsellProduct.price %}
                  <span class="old-price">{{ upsellProduct.compare_at_price | money }}</span>
                {% endif %}
                <span class="new-price">{{ upsellProduct.price | money }}</span>

                <span class="cur-price">{{ upsellProduct.compare_at_price | money }}</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <div class="delivery-box">
          <span class="delivery-title">Jetzt versandbereit</span>
        </div>
        <div class="pay-button-wrap">
          <button class="btn add-to-cart js-add-to-card"
                  type="submit"
                  name="add"
                  data-submit-button
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}
          >
              <span data-submit-button-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
            <span class="total-price"> -
                <span class="js-total-price">{{ product.price }}</span>
              </span>
          </button>
        </div>


        {% include 'social-sharing' %}

        {% include 'shortcode' load: product.description %}

        <div class="row">
          <div class="large-12 columns">
            {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
          </div>
        </div>

        {% schema %}
          {
          "name": "Product pages",
          "settings": [
          {
          "type": "checkbox",
          "id": "show_share_buttons",
          "label": "Show social sharing buttons",
          "default": true
          },
          {
          "type": "checkbox",
          "id": "show_icons_bar",
          "label": "Show Icons-Bar",
          "default": true
          }
          ]
          }
        {% endschema %}
