{% include 'breadcrumbs' %}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{% assign product_collection = product.collections.first %}


<section class="product-section" data-section-id="{{ section.id }}" data-section-type="product-bundle">
  <div class="row">
    <div class="large-7 columns prod-col">
      <div class="product-sliders-box">
        <div class="product-th-slider-box">
          <div class="product-th-slider">
              {% if product.images.size > 1 %}
                {% for image in product.images %}
                <div class="slick-slide">
                  <div class="product-th-wrap {% if image.alt contains 'video:'%}video-cover{% endif %}">
                    <img class="" src="{{ image.src | img_url: '66x84', crop:'bottom' }}" alt="{{ image.alt | escape }}">
                  </div>
                </div>
                {% endfor %}
                {% else %}
              <div class="slick-slide">
                <div class="product-th-wrap {% if image.alt contains 'video:'%}video-cover{% endif %}">
                    <img src="{{ featured_image | img_url: '66x84', crop:'bottom' }}" alt="{{ featured_image.alt | escape }}">
                  </div>
              </div>
              {% endif %}
          </div>
        </div>
        <div class="product-main-slider-box">
          {% if product.available %}
            <span class="product-sticker">{{ 'products.product.on_sale' | t }}</span>
          {% else %}
            <span class="product-sticker">{{ 'products.product.sold_out' | t }}</span>
          {% endif %}
          <div class="product-main-slider">
            {% if product.images.size > 1 %}
              {% for image in product.images %}
                {% if image.alt contains 'video:'%}
                  {% assign videoSrc = image.alt | remove: 'video:' %}
                  <div class="slick-slide video-slide">
                    <div class="product-video-wrap">
                      <video id="slide-video-{{ image.id }}" class="slide-video" data-video-id="{{ image.id }}" muted loop playsinline>
                        <source src="{{ videoSrc }}" type="video/mp4">
                      </video>
                    </div>
                  </div>
                {% else %}
                  <div class="slick-slide">
                    <div class="product-image-wrap">
                      <a href="{{ image.src | img_url: '1200x' }}" class="slide-big-image" data-fancybox="product-gallery"></a>
                      <img class="" src="{{ image.src | img_url: '555x660', crop: 'bottom' }}" alt="{{ image.alt | escape }}">
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              <div class="slick-slide">
                <div class="product-image-wrap">
                  <a href="{{ featured_image | img_url: '1200x' }}" class="slide-big-image" data-fancybox="product-gallery"></a>
                  <img class="" src="{{ featured_image | img_url: '555x660', crop: 'bottom' }}" alt="{{ image.alt | escape }}">
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="large-5 columns">
      <div class="product-info-box">
        <span class="product-type">
          {{ product_collection.title }}
        </span>
        <h1 class="product-title">{{ product.title }}</h1>
        <div class="rating-and-reviews">
          {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
        </div>
        <p class="product-price">
          <span class="js-top-current-price">{{ current_variant.price | money }}</span>
          {% if product.compare_at_price_max > product.price %}
            <s data-compare-price class="js-compare-price">
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}
        </p>

        <div class="other-products-slider js-top-products" data-product-top>
          {% for relateProduct in product_collection.products %}
            <div class="other-product-box">

              <div class="other-product-img-wrap {% if product.id == relateProduct.id %}current{% endif %} js-other-product "
                   data-product-id="{{ relateProduct.id }}"
                   data-product-price="{{ relateProduct.price }}"
                   data-product-handle="{{ relateProduct.handle }}"
              >
                <a href="{{ relateProduct.url }}" class="other-product-link">
                  <img src="{{ relateProduct.featured_image| img_url: '58x72', crop:'bottom' }}">
                </a>
              </div>
              {% for tag in relateProduct.tags %}
                {% if tag contains 'shortname:' %}
                  {% assign prodshortname =  tag | remove: 'shortname:' %}
                  <span class="other-product-name">{{ prodshortname }}</span>
                {% endif %}
              {% endfor %}

            </div>
          {% endfor %}
        </div>
        {% unless product.has_only_default_variant %}


        <div class="size-box">
          <div class="sizes-dropdown">
            <select class="size-select js-size-select-main">
            </select>
          </div>

          <input type="number" id="Quantity" style="display: none;" hidden disabled="disabled" name="quantity" value="1"
                 min="1">
          <a href="javascript:void(0)" class="find-size-link">Find my iphone size</a>
        </div>
        {% endunless %}

        {% for tag in product.tags %}
          {% if tag contains 'upsell:' %}
            {% assign prodHandle =  tag | remove: 'upsell:' %}
            {% assign upsellProduct = all_products[prodHandle] %}
            <div
                    class="up-selling-product-box active js-up-selling js-additional-products js-additional-no-size"
                    data-price-product="{{ upsellProduct.price }}"
                    data-handle="{{ upsellProduct.handle }}">
              <span class="title">{{ 'products.product.add_upsell' | t }} {{ upsellProduct.title }}</span>
              <div class="prices">
                {% if upsellProduct.compare_at_price > upsellProduct.price %}
                  <span class="old-price">{{ upsellProduct.compare_at_price | money }}</span>
                {% endif %}
                <span class="new-price">{{ upsellProduct.price | money }}</span>
                <span class="cur-price">{{ upsellProduct.compare_at_price | money }}</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}


            <div
              class="cross-selling-product-box js-additional-products js-additional-main-second"
              data-price-product="{{ 0 }}"
              data-id="{{ product.id }}"
              data-handle="{{ product.handle }}">
              <span class="title">{{ 'products.product.add_another_product' | t }}</span>
              <div class="prices">
                {% if product.compare_at_price > product.price %}
                  <span class="old-price">{{ product.compare_at_price | money }}</span>
                {% endif %}
                <span class="new-price">
                  {{ product.price | money }}
                  {% capture discount %} {{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max }}%{% endcapture %}
                  ({{ 'products.product.save' | t }}{{ discount }})
                </span>
              </div>
            </div>
            <div class="additional-products-box">
              <div class="additional-products-slider-box">
                <div class="additional-products-slider js-additional-product-slider">
                  {% for relateProduct in product_collection.products %}
                    <div class="slick-slide">
                      <div class="additional-product-box js-additional-products js-additional-second"
                           data-price-product="{{ relateProduct.price }}"
                           data-id="{{ relateProduct.id }}"
                           data-handle="{{ relateProduct.handle }}">
                        <a href="javascript:void(0)" class="add-link"></a>
                        <div class="product-th-box">
                          {%- assign image_object = relateProduct.featured_image | default: product_collection.products.first.featured_image -%}
                          <img class="" src="{{ image_object | img_url: '98x108', crop:'bottom' }}" alt="{{ image.alt | escape }}">

                        </div>
                        <div class="add-price"><span class="additional-price">{{ relateProduct.price | money }}</span></div>
                        {% for tag in relateProduct.tags %}
                          {% if tag contains 'shortname:' %}
                            {% assign prodshortname =  tag | remove: 'shortname:' %}
                            <span class="add-name">{{ prodshortname }}</span>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}

                </div>
              </div>
              <div class="size-box additional-sizes">
                <div class="sizes-dropdown">
                  <select class="size-select js-size-select-additional">
                  </select>
                </div>
                <a href="javascript:void(0)" class="additional-find-size-link">Find my iphone size</a>
              </div>

              {% for productExtra in collections.screen-protectors.products %}
                {% assign ProductTypeHandle = productExtra.type | handle %}
                {% if ProductTypeHandle == 'screen-protector' %}
                  <div class="additional-up-selling-box js-additional-products js-additional-third js-additional-no-size"
                       data-price-product="{{ productExtra.price }}"
                       data-id="{{ productExtra.id }}"
                       data-handle="{{ productExtra.handle }}">
                    <span class="title">{{ 'products.product.add_upsell' | t }} {{ productExtra.title }}</span>
                    <div class="prices">
                      {% if upsellProduct.compare_at_price > upsellProduct.price %}
                        <span class="old-price">{{ productExtra.compare_at_price | money }}</span>
                      {% endif %}
                      <span class="new-price">{{ productExtra.price | money }}</span>
                      <span class="cur-price">{{ productExtra.compare_at_price | money }}</span>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>


        <div class="delivery-box">
          <span class="delivery-title">Jetzt versandbereit</span>
        </div>
        <div class="pay-button-wrap">
          <button class="btn add-to-cart js-add-to-card"
                  type="submit"
                  name="add"
                  data-submit-button
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}
          >
              <span data-submit-button-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
            <span class="total-price"> -
                <span class="js-total-price" data-total-price="{{ product.price }}">{{ product.price | money }}</span>
              </span>
          </button>
        </div>
        {% include 'social-sharing' %}

        {% include 'shortcode' load: product.description %}

        <div class="row">
          <div class="large-12 columns">
            {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false %}
          </div>
        </div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_icons_bar",
        "label": "Show Icons-Bar",
        "default": true
      }
    ]
  }
{% endschema %}
