{% if section.settings.show == true %}
  <section class="best-stories-section">
      <div class="row">
        <div class="large-12 columns">
          <div class="bs-top-line">
            <span class="small-title">{{ section.settings.title }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns bs-col">
          <div class="best-stories-box">
            <div class="best-stories">
              {% if article != blank %}
                {% assign current = article.id %}
                {% assign counterLimit = 4 %}
              {% else %}
                {% assign counterLimit = 3 %}
              {% endif %}
              {%- assign blog = blogs[section.settings.blog_posts] -%}
            {% for article in blog.articles limit:counterLimit %}
              {% unless article.id == current %}
                <div class="best-story-item">
                <div class="best-story-wrap">
                  <div class="best-story-box">
                    <a href="{{ article.url }}" class="story-link"></a>
                    <div class="best-story-img-wrap">
                      {% if article.tags.size > 0 %}
                        {% for tag in article.tags %}
                          <span class="story-sticker">{{ tag }}</span>
                        {% endfor %}
                      {% endif %}
                      <div class="best-story-img lazyload" data-bgset="{% include 'responsive-bg-image', image: article.image %}"></div>
                    </div>
                    <div class="best-story-content">
                      <h3 class="story-title">{{ article.title }}</h3>
                      <div class="best-story-text nmp-last-el">
                        {% if article.excerpt.size > 0 %}
                          <p>{{ article.excerpt }}</p>
                        {% else %}
                          <p>
                            {{ article.content | strip_html | truncatewords: 100 }}
                          </p>
                        {% endif %}
                      </div>
                      <span class="read-more">Read more</span>
                    </div>
                  </div>
                </div>
              </div>
              {% endunless %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endif %}

{% schema %}
{
  "name": "Related Articles",
  "settings": [
    {
      "type":      "checkbox",
      "id":        "show",
      "label":     "Display Best Stories?",
      "default":   true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Headline Title"
    },
    {
      "type":      "blog",
      "id":        "blog_posts",
      "label":     "Blog Posts",
      "info":      "Blog"
    }
    ],
    "presets": [{
    "name": "Related Articles",
    "category": "Blog"
    }
  ]
}
{% endschema %}