<section class="testimonials-section">
  <div class="row">
    <div class="large-5 medium-7 medium-centered columns">
      <div class="testimonials-box">
        <h3 class="testimonials-title">{{ section.settings.title }}</h3>
        <div class="testimonials-slider">
          {%- assign blog = blogs[section.settings.blog_posts] -%}
          {% for article in blog.articles %}
            <div class="">
              <div class="testimonial-wrap">
                <span class="tes-name">{{ article.title }}</span>
                <span class="tes-text">
                   {% if article.excerpt.size > 0 %}
                     {{ article.excerpt }}
                   {% else %}
                     {{ article.content | strip_html | truncate: 150 }}
                   {% endif %}
                </span>
                <div class="stars stars-4">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": {
    "de": "Reviews Slider",
    "en": "Reviews Slider"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Headline Title"
      },
      {
        "type":      "blog",
        "id":        "blog_posts",
        "label":     "Blog Posts",
        "info":      "Blog"
      }
    ],
    "presets": [
      {
        "name": {
        "de": "Reviews Slider",
        "en": "Reviews Slider"
        },
        "category": {
        "de": "SlideShow",
        "en": "SlideShow"
        }
      }
    ]
  }
{% endschema %}

