{% for block in section.blocks %}
  <section class="text-and-image {% if block.settings.layout == 'left' %} image-left {% else %} image-right {% endif %}">
    <div class="tai-box tai-image-box">
      <div class="tai-image-wrap">
        <div class="tai-img lazyload" data-bgset="{% include 'responsive-bg-image', image: block.settings.image %}"></div>
      </div>
    </div>
    <div class="tai-box tai-text-box">
      <div class="tai-text-content-box">
        <div class="tai-content">
          <div class="tai-text nmp-last-el">
            <h2>{{ block.settings.title }}</h2>
            <p>{{ block.settings.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}


{% schema %}
  {
    "name": "Text And Image",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "slide",
        "name": "Image with Text",
        "settings": [
          {
            "type": "select",
            "id": "layout",
            "label": "Image alignment",
            "default": "left",
            "options": [
              {
              "value": "left",
              "label": "Left"
              },
              {
              "value": "right",
              "label": "Right"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "de": "Bild",
              "en": "Image"
            }
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sub Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text and Image",
        "category": "Text"
      }
    ]
  }
{% endschema %}
