<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'password' %}
  {% include 'css-variables' %}

  {% include 'script-tags', layout: 'password' %}

  {{ content_for_header }}
</head>

<body class="password-page">
<div id="Login" class="login-box" style="display: none;">
  <div class="close-abs-box">{% include 'icon-close' %}</div>
  <h2 class="pass-title">{{ 'general.password_page.login_form_heading' | t }}</h2>

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <div class="form-inputs-wrap">
      <input type="password"
             name="password"
             class="email-field"
             id="Password"
             placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
      <button type="submit" name="commit" class="btn white">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    </div>

  {% endform %}
  <p>{{ 'general.password_page.admin_link_html' | t }}</p>
</div>
<div class="site-wrapper">
  {{ content_for_layout }}
</div>
<div class="overlay" style="display:none;"></div>

</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
